@charset "utf-8";
/* CSS Document */

/*google fonts*/



html, body  {
   	padding: 0px;
   	margin: 0px;
   	font-family: 'Noto Sans', sans-serif;
   	/*font-family: 'Dosis', sans-serif;
	font-family: 'Arvo', serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto Slab', serif;
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Vollkorn', serif;*/
}

a { text-decoration: none; }
a:hover { text-decoration: none; }
.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
}
/*USON*/
.banner {
	background: url(/images/template_images/img4n.png);
	width: 100%;
	height: 442px;
	background-size: cover;
	padding-top: 70px;
}


.interior-headerBanner {
	background: url(/images/template_images/img4n.png);
	width: 100%;
	height: 442px;
	background-size: cover;
}
.interior-headerBanner2 {
	background: url(/img/img3n.png);
	width: 100%;
	padding-bottom: 50px;
	background-size: cover;
}
.mini-eco-logo{
	width: 60px;
	background-size: cover;
}


.banner-title {
	font-size:60px;
	font-weight: 100;
	color: #FFF;
	padding-top: 74px;
}
.banner-define {
	font-size:18px;
	color:#FFF;
}
.p-title {
	font-size: 60px;
	color: #ffffff;
}

.p-h2{
	text-shadow: 0px 0px 5px #000000;
	font-size: 20px;	
    width: 600px;
	color: #ffffff;
}

.donate {
    width: 40%; 
    margin: auto;
}
.donate_icon {    
    width: 100%;
    margin: auto;
}

.donate_bgcolor  {
    background-color: #efa945;   
    visibility: visible;
    position: relative;
    margin: auto;  
    width: 100%;
    padding: 15px;
    z-index: 2;
}

.eco-upper-content h1 {
    color: #45413e !important;  
    margin: 0px; 
    padding: 68px 0px 36px 0px;
    text-align: left;
}

.eco-upper-content {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px; 
    padding: 0px 0px 36px 15px;
    display: block;
    z-index: 2;
}
.eco-thumbnail {
    float: left;
    width: 125px;
    height: 125px;
    padding: 20px 0px 20px 0px;
    
}

.eco-thumbnail img {
   
    width: 125px;
    border-radius: 100%;
}

.eco-p{
    width: 467px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    float: left;
    margin: 0px 0px 0px 26px;
    padding: 0px 0px 0px 0px;
    z-index: 2;    
}

.eco-p-lower {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    float: left;
    margin: 0px 0px 0px px;
    padding: 0px 0px 0px 0px;
    z-index: 2;    
}

.eco-p p{
    margin: 0px 0px 12px 0px;
  
}

.h3 {
    padding: 0px 0px 17px 0px;
    margin: 0px;
    text-align: left;
    color:#72bb4c;
    font-size: 26.6px;
}

.eco-p-lower h3 {
    text-align: left;
    color:#72bb4c;
    font-size: 26.6px;
    margin: 0px 0px 0px 0px ;
    padding: 20px 0px 15px 0px; 
}


.boxes {
    padding: 0px 0px 0px 15px; 
    width: 100%;
    float:left;
}
#rightcolumn{
    padding: 0px 0px 0px 0px;
}
#rightcolumnimage img {
    
    width: 300px;
    border-radius: 100%;
}

#rightcolumnimage  {
    padding: 80px 0px 0px 0px;  
    margin: auto !important;
    visibility: visible;
    position: relative;
    z-index: 2;
    text-align: center;
}


#action h1,
#awakening h1 {
    color: #45413e !important;
    padding: 0px 0px 0px 15px;
    text-align: left;
    margin: 0px;
}

#action  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    padding: 38px 0px 7px 0px;
    display: block;
    z-index: 2;
}

#awakening  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    padding: 0px 0px 0px 0px;
    display: block;
    z-index: 2;
}

#mindbodytrainingimage img,
#mindfulnesstrainingimage img,
#physicaltrainingimage img {
    width: 107px;
    border-radius: 100%;
}

#mindbodytrainingimage,
#mindfulnesstrainingimage,
#physicaltrainingimage  {
    padding: 10px 0px 30px 0px;
    visibility: visible;
    position: relative;
    z-index: 2;
}

#practiceskills h1,
#farming h1,
#volunteering h1,
#mindbodytrainingtext h1,
#mindfullnesstrainingtext h1,
#physicaltrainingtext h1 {
    padding: 0px 0px 17px 0px;
    margin: 0px;
    text-align: left;
}

#practiceskills,
#farming,
#volunteering,
#mindbodytrainingtext,
#mindfullnesstrainingtext,
#physicaltrainingtext  {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;    
    padding: 0px 0px 0px 40px;
    display: block;
    z-index: 2;
}


#carousel_bg  {
    background-color: #5386c1; 
    visibility: visible;
    position: relative;
    margin: auto;  
    width: 100%;
    height: 282px;
}
.btn {
	text-align: left !important;
}

.caret {
	padding-bottom: 20px !important;
	float: right;

}
.mobileMenu2{
	width: 98% !important;
}

/*END USON*/
.column-3{

	width: 277px;
	float: left;
}


/* EFREN POGI*/

.eco-container{
    width: 980px;
    margin: auto;
}

.top {
  padding-top: 10px !important;
  font-size: 12px !important;
}
.top i {
  color: #5386c1;
  font-size: 20px !important;
}
#ecologo {
		padding-top: 25px;
		float: left;     

	}
	    @media only screen  and (max-width : 900px) {    	

    	#ecologo {
    		text-align: center;    		
    		margin: auto;
    	}

    }


.ecositenav{
		float:right; min-width: 500px;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		/* margin-top: -60px; */
	}
.ecologo {
    height: 99px;
    width: 100%;
    background-repeat: no-repeat;
}

.mob-ecologo {
display: none;
}

.p {
	font-size: 12px;

}

 @media only screen and (max-width: 846px){
    	nav {

    		margin-top: 30px;
    		padding-top: 20px;
    	}
    	.eco-container {
    		width: 100%;
    		padding-right: 30px;
    		padding-left: 30px;
    	}
    	.ecositenav{
    		width: 501px;
    		float:none;
    		margin: auto;
    	}
    	#ecologo {
    		text-align: center;
    		width: 80%;
    		height: 59px;
    		float:none;
    		margin: auto;
    		margin-top: 0px;
    	}

    	#ecologo img{
    		margin: auto;

    	}
    	.banner-define,
    	.banner-title {
    		padding-left: 30px;
    		padding-right: 30px;
    	}
    	.boxes,
    	.eco-upper-content {
    		padding-left: 30px;
    		padding-right: 30px;
    	}
    }

    @media only screen and (max-width: 710px){
    	#ecologo{
    		margin-top: 30px !important;
    	}
    	.bluebar{
    		display:none;
    	}
    	.ecositenav{
    		display:none;
    	}
    	#ecologo{
    		display:none;
    	}
    	.mobileMenu {
    		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    		display: block;
    	}
    	
    	.mob-ecologo {
    		display: block;
    	}
    	.headerBanner{
    		margin-top: 0px;
    	}
    }

@media screen and (max-width:1030px) {
	.p {
		font-size: 10px;
    }
}

.top{
	padding-top: 10px !important;
	font-size: 12px !important;
}
.top i{
	color: #5386c1;
	font-size: 20px !important;
}

.whoiseco {
	font-size:62px;
	color: #FFF;
	padding-top: 50px;
}

.whoisecodefine {
	font-size:22.98px;
	color:#FFF;
	width:50%;
}
.headerBanner{
	background: url(/images/template_images/bgtop.png) 0px 0px;
	height: 442px;
	background-size: cover;
}


.headerBanner2{
	background: url(/images/template_images/donate.png) 0px -28px;
	height: 442px;
	background-size: cover;
}

.headerBanner .learn-more {
	padding: 10px 0px 0px 0px;
	float: left;
}

.headerBanner .learn-more img{
	float:left;
}
.headerBanner .learn-more a{
	padding: 10px 0px 0px 0px;
	float: left;
}
.mobileMenu {
    display: none;
}
.mobileMenu nav{
    padding-top: 0px;
    margin: 5px;
}
.header-banner{
	margin: 0px;
	padding: 0px;
}
.navbar-header{
	background-color: #5386c1;	
}
.navbar-brand{
	color: #fff !important;
	font-weight: 30;
	
}


/* EFREN POGI END*/

/*kyben Rocks*/
.donation-banner{
	margin: 0px;
	padding: 10px 20px 20px 20px;
	border-radius: 15px;
	color: #fff;
	/* Fallback for web browsers that don't support RGBa */
    /*background-color: rgb(0, 176, 80);
    /* RGBa with 0.6 opacity */
  /*  background-color: rgba(0, 176, 80, 0.6);*/
    /* For IE 5.5 - 7*/*/


     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.6);

}
.donation-banner{
	margin: 0px;
	border-radius: 15px;
	color: #fff;

}
.donation-banner a{
	color: #fff;
	font-size:12px;

}


.donation-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-top: 50px;
}

.danate-button{
	padding:20px;
	width: 150px;
	height: 85px;
	border-radius: 10px;
	background: #00b0f0;
	border-style: none;
	color: #fff;
}

.donate-title{
	font-size:39.5px;
	text-align:left;
	padding-bottom:10px;
}
.phar{
	font-size:14px;
}
.textalign-right{
	text-align: center;
}

.headtext{
	color: #000;
	font-size:18px;
	padding: 5px;
}
.inputcont{
	padding: 30px 10px 10px 10px;


}
.headtext13{
	
	font-size:15px;
	color: #fff !important;
	font-weight: 900;
	margin: 0px;
	text-shadow:0px 0px 0 rgb(111,111,111),1px 1px 0 rgb(35,35,35),2px 2px 0 rgb(-40,-40,-40), 3px 3px 0 rgb(-115,-115,-115),4px 4px 3px rgba(0,0,0,0.45),4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}
.headtext2{
	
	font-size:70px;
	color: #fff !important;
	font-weight: 900;
	margin: 0px;
	/*text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);*/
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

}
.headtext21{
	
	font-size:30px;
	color: #fff  !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	margin: 0px;

	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;

}


/*slider*/
/*-----------------------*/
		.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
        	font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
        	color: #ffffff;
        	text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(/images/template_images/browser-icons.png);
        }
/*-----------------------*/
			/*
            .jssorb01 div           (normal)
            .jssorb01 div:hover     (normal mouseover)
            .jssorb01 .av           (active)
            .jssorb01 .av:hover     (active mouseover)
            .jssorb01 .dn           (mousedown)
            */
            .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
                filter: alpha(opacity=70);
                opacity: .7;
                overflow: hidden;
                cursor: pointer;
                border: #000 1px solid;
            }

            .jssorb01 div {
                background-color: gray;
            }

                .jssorb01 div:hover, .jssorb01 .av:hover {
                    background-color: #d3d3d3;
                }

            .jssorb01 .av {
                background-color: #fff;
            }

            .jssorb01 .dn, .jssorb01 .dn:hover {
                background-color: #555555;
            }
/*-----------------------*/
			/* jssor slider arrow navigator skin 02 css */
            /*
            .jssora02l              (normal)
            .jssora02r              (normal)
            .jssora02l:hover        (normal mouseover)
            .jssora02r:hover        (normal mouseover)
            .jssora02ldn            (mousedown)
            .jssora02rdn            (mousedown)
            */
            .jssora02l, .jssora02r, .jssora02ldn, .jssora02rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url(/images/template_images/a02.png) no-repeat;
                overflow:hidden;
            }
            .jssora02l { background-position: -3px -33px; }
            .jssora02r { background-position: -63px -33px; }
            .jssora02l:hover { background-position: -123px -33px; }
            .jssora02r:hover { background-position: -183px -33px; }
            .jssora02ldn { background-position: -243px -33px; }
            .jssora02rdn { background-position: -303px -33px; }			
/*end slider*/
.bluebar {
	background: #5386c1;
	margin-top: -30px;
	width: 100%;
	height: 30px;
	z-index: 999;
}
.orange_bgcolor  {
    background-color: #efa945;   
    visibility: visible;
    margin: auto;  
    width: 100%;
    padding: 15px;
}
.rightbar{
	width:65%; margin: auto; float:left;
	padding-top:20px;
}

.h2title {
	color:#5386c1; 
	font-size:39.5px;
	text-align:left;
	padding-bottom:10px;
}

.h2title-1 {
	color:#0070c0;
	font-size:39.5px;
	text-align:left;
	padding-bottom:10px;
	padding-top: 50px;
	font-weight: 500;
	letter-spacing:.2em;
}
.h2title-2{
	color:#0070c0;
	font-size:39.5px;
	text-align:left;
	padding-bottom:10px;
	padding-top: 30px;
	letter-spacing:.1em;
	font-weight: 500;
}
.eco-col1 {
	float:left; width: 53%; font-size: 12px;
	text-align:left;
}
.eco-col2 {
	float:left; width: 47%; font-size: 12px;
	text-align:left;
	padding-left:40px;
}

.eco-col-3{

	font-size: 16px;
	text-align:left;
	padding-bottom: 40px;
}

.eco-col-4{
	padding-top: 50px;
	font-size: 17px;
	text-align:left;
	font-style: italic;
	padding-left:10px;
}
.leftbar {
	background-color:#5386c1; 
	height:100%; 
	width:320px; margin: auto; 
	float:right;
	padding: 10px 10px 0px 20px;
	text-align:left;
	color:#FFF;
}
.news-col {
	font-size:12px;
	padding-bottom:20px;
}
.blueline {
	width: 100%;
	background-color: #5386c1;
	height:3px;
}
.innerbody {
	width: 100%; margin: auto;
}
/*3 pix begin*/
.middlebody {
	width: 100%; margin-top:30px;
}
.midconbody {
	float:left;
	width: 326.6px;
}
.imgcircle {
	width: 277px;
	height: 277px;
	border-radius: 100%;
}
.h4midbody {
	font-size:26.62px; 
	font-family: 'Noto Sans', sans-serif; 
	color:#45413e;
	padding:30px 0px 10px 0px;
	text-align: center;
	padding-right:60px;
}
.midcontent {
	font-size:12px; 
	font-family: 'Noto Sans', sans-serif;
	color:#45413e; 
	text-align:left;
	width: 278px;
}
/*3 pix end*/

.backgroundgreen  {
   background: #72bb4c;
   width: 100%;
   height: 100%;
}
/*.backgroundgreen2  {
   background: #72bb4c;
   width: 100%;
   height: 410px;
}*/
.fetmaincon {
	font-size:60px; font-family: 'Roboto', sans-serif; color:#FFF;
}
.featdesc {
	font-size:22px; font-family: 'Roboto', sans-serif; color:#FFF;
}
.featslider  {
   visibility: visible;
   width: 1400px;
}
.greenbarko {
	background: #72bb4c;
    padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	height:100%;
	width: 100%;
}
.newsbanner {
	padding-top:50px;	
}
.signupko {
	font-size:24px;
	font-family: 'Noto Sans', sans-serif;
	color:#5386c1;
	float:left;
}
.inputertxt  {
   padding-left: 25px;
   float:left;
}
.txtbaks {
	height:36px;
	background: #E8E8E8;
	width:472px;
}
.submitbttn  {
   padding-left: 45px;
   width: 36px;
   height: 36px;
   float:left;
}
.submittxt  {
   padding-left: 42px;
   width: 57px;
   height: 14px;
   float:left;
}
.footerer {
	text-align:center;
	padding:50px;

}
.right-linerer {
	width:364px;
	padding-top: 22px;	
	float: right;
}
.left-linerer {
	width:364px;
	padding-top: 22px;	
	float: left;
}
.fb{
	padding: 0px 6px 0px 6px;
	float: left;
}
.twitter{
	padding: 0px 6px 0px 6px;
	float: left;
}
.linked{
	padding: 0px 6px 0px 6px;
	float: left;
}
.hidorange{;
	display:none;
}
.social-div{
	width: 168px;	
	padding: 0px;
}
@media screen and (max-width:1160px) {	
	.leftbar {
		float: left;
		width: 340px;
	}
	.rightbar {		
		width: 60%;
	}
	.imgcircle {
		width:250px;
		height:250px;
	}
	.midconbody {
		width: 280px;
	}
	.midcontent {
		width: 270px;
	}
	.txtbaks {
		width:450px;
	}
}
@media screen and (max-width:1091px) {	
	.txtbaks {
		width:350px;
	}
	.whoiseco {
		font-size:58px;
	}
}
@media screen and (max-width:1079px) {	
	.leftbar {
		float: left;
		width: 340px;
	}
	.rightbar {		
		width: 58%;
	}
}
@media screen and (max-width:1066px) {	
	.imgcircle {
		width:250px;
		height:250px;
	}
	.h4midbody {
		font-size:25px;
	}
	.midconbody {
		width: 260px;
	}
	.midcontent {
		width: 260px;
	}
}
@media screen and (max-width:1050px) {	
	.imgcircle {
		width:235px;
		height:235px;
	}	
	.h4midbody {
		font-size:22px;
	}
	.midconbody {
		width: 240px;
	}
	.midcontent {
		width: 240px;
	}
}
@media screen and (max-width:1028px) {	
	.leftbar {
		float: left;
		width: 330px;
	}
	.rightbar {		
		width: 55%;
	}
}
@media screen and (max-width:966px) {	
	.signupko {
		width:100%;
	}
	.inputertxt  {
	   padding-left: 0px;
	   float:left;
	}
}
@media screen and (max-width:937px) {	
	.eco-col1 {
		float:left; width: 100%; font-size: 13px;
		text-align:left;
	}
	.eco-col2 {
		float:left; width: 100%; font-size: 13px;
		text-align:left;
		padding-left:0px;
	}
	.leftbar {
		width:320px;
	}
	.imgcircle {
		width:200px;
		height:200px;
	}
	.midconbody {
		width: 220px;
	}	
	.h4midbody {
		font-size:18px;
	}
	.midcontent {
		width: 220px;
	}
	/*.backgroundgreen {
		height: 440px;
	}*/
}
@media screen and (max-width:933px) {
	.h2title {
		font-size:37px;
	}
}
@media screen and (max-width:925px) {
	.whoiseco {
		font-size:50px;
	}
	.whoisecodefine {
		width:80%;
	}
}
@media screen and (max-width:905px) {
	.rightbar {
		width:55%;
	}
	.leftbar {
		width:300px;
	}
}
@media screen and (max-width:850px) {
	.rightbar {
		width:50%;
	}
	.leftbar {
		width:295px;
	}
}
@media screen and (max-width:846px) {
    .midconbody {
        width: 200px;
    }
    .h4midbody {
        font-size:17.6px;
    }
    .midcontent {
        width: 200px;
    }   
}
@media screen and (max-width:841px) {		
	.imgcircle {
		width:180px;
		height:180px;
	}
	.midconbody {
		width: 190px;
	}
	.midcontent {
		width: 190px;
	}	
}
@media screen and (max-width:829px) {
    .rightbar {
        width:48%;
    }
    .leftbar {
        width:300px;
    }
}
@media screen and (max-width:813px) {
    .rightbar {
        width:46%;
    }
    .leftbar {
        width:300px;
    }
}
@media screen and (max-width:811px) {
	.eco-container {
		padding:0px 40px 0px 40px;
	}
}
@media screen and (max-width:710px) {
	.leftbar {
		width:100%;
	}
	.rightbar {
		padding:20px;
		width:100%;
	}
	.whoiseco {
		width:100%;
	}
	.whoisecodefine {
		width:100%;
	}
	.imgcircle {
		height:275px;
		width:275px;
	}
	.middlebody {
		width: 100%;
		text-align: center;
	}
	.midconbody {
		width:100%;
		padding:20px;
	}
	.h4midbody {
		padding:20px;
		margin: 0px;
		font-size:26.62px;
	}
	.midcontent {
		width:100%;
	}
}
@media screen and (max-width:514px) {
	.h2title {
		font-size:35px;
	}
}
@media screen and (max-width:494px) {
	.h2title {
		font-size:32px;
	}
}
@media screen and (max-width:463px) {
	.h2title {
		font-size:30px;
	}
}
@media screen and (max-width:416px) {
	.header-banner {
		height:500px;
	}
	.hidorange {
		height:50px;
	}
}
@media screen and (max-width:660px) {
	#orangebarko {
		margin:0px;
		padding:0px;
		width:100%;	
	}
}
@media screen and (max-width:380px) {
	.signupko { 
		font-size: 20px;
		text-align: center;
	}
    .p-title {
        font-size: 35px;
    }

    .p-h2{
        font-size: 14px;
    }
    .learn-more {
        width: 100%;
    }
    .resizeme {
        width: 100%;
    }
}
@media screen and (max-width:580px) {
		
	.txtbaks {
		width: 100%;
	}
	.submitbttn img{
		width: 100px;		
	}
	.submitbttn{
		width: 100%;
		padding-top: 10px !important;
		margin: auto !important;
		text-align: center !important;
	}
	.signupko { 
		text-align: center;
	}
}


@media screen and (max-width:640px) {
	.fetmaincon {
		font-size:60px;
	}
    .p-title {
        font-size: 55px;
        width: 100%;
    }

    .p-h2{
        font-size: 18px;
        width: 100%;
    }
}
@media screen and (max-width:625px) {
	.leftbar {
		width:100%;
	}
	.rightbar {
		width:100%;
	}
}
@media screen and (max-width:615px) {
	.fetmaincon {
		font-size:50px;
	}
	.featdesc {
		font-size:20px;
	}
	/*.backgroundgreen {
		height:400px;
	}*/
}
@media screen and (max-width:580px) {
	.inputertxt {
		width:100%;
	}
	.submitbttn {
		padding:0px;
	}
	.submittxt {
		padding-left:10px;
	}
	.whoisecodefine {
		width: 100%;
	}
}
@media screen and (max-width:525px) {
	.fetmaincon {
		font-size:40px;
	}
	.featdesc {
		font-size:18px;
	}
	/*.backgroundgreen {
		height:320px;
	}*/
}
@media screen and (max-width:480px) {
    .featresize {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}
@media screen and (max-width:449px) {
	.donbut {
		height:50px;
		width:50px;
	}
	.whoiseco {
		padding:10px;
	}
    .p-title {
        font-size: 45px;
    }

    .p-h2{
        font-size: 16px;
    }
}
@media screen and (max-width:437px) {
	/*.backgroundgreen {
		height:310px;
	}*/
}
@media screen and (max-width:435px) {
	/*.backgroundgreen {
		height:270px;
	}*/
	.fetmaincon {
		font-size:30px;
	}
	.featdesc {
		font-size:14px;
	}
}
@media screen and (max-width:410px) {		
	.imgcircle {
		width:220px;
		height:220px;
	}		
}
@media screen and (max-width:330px) {		
	.h2title {
		font-size:18px;
	}
	.eco-col1 {
		font-size:12px;
	}
	.eco-col2 {
		font-size:12px;
	}
}
@media screen and (max-width:360px) {		
	.imgcircle {
		width:180px;
		height:180px;
	}		
}
@media screen and (max-width:399px) {
	.hidorange {
		background: #efa945;
		text-align: center;
		height:25px;
		width: 100%;
		display:block;
	}
}
@media screen and (max-width:394px) {
	.headerBanner {
		height:500px;
	}
}
@media screen and (max-width:381px) {
	.headerBanner {
		height:380px;
	}
	.whoiseco {
		font-size:32px;
	}
	.whoisecodefine {
		font-size:12px;
	}
}

@media screen and (max-width:350px) {
	/*.backgroundgreen {
		height:240px;
	}*/
	.fetmaincon {
		font-size:20px;
	}
	.featdesc {
		font-size:12px;
	}
}
@media screen and (max-width:342px) {
	.headerBanner .learn-more {
		padding: 30px 0px 0px 0px;
		float: left;
	}

	.headerBanner .learn-more img{
		float:left;
	}
	.headerBanner .learn-more a{
		padding: 10px 0px 0px 0px;
		float: left;
	}

}
@media screen and (max-width:340px) {  
    .imgcircle {
        width:100%;
        height:100%;
    }   
    /*.h4midbody {
        font-size:22px;
    }*/
    .midconbody {
        width: 100%;
    }
    .midcontent {
        width: 100%;
    }
    .p-title {
        font-size: 25px;
    }

    .p-h2{
        font-size: 12px;
    }
}
@media screen and (max-width:335px) {
	.h4midbody {
		font-size:20px;
	}
}
@media screen and (max-width:325px) {
	.whoiseco {
		font-size:32px;
	}
	.whoisecodefine {
		font-size:12px;
	}
}
@media screen and (max-width:322px) {
	.headerBanner .learn-more {
		padding: 30px 0px 0px 0px;
		float: left;
	}

	.headerBanner .learn-more img{
		float:left;
	}
	.headerBanner .learn-more a{
		padding: 0px 0px 0px 0px;
		float: left;
	}
}
@media screen and (max-width:299px) {
	.headerBanner {
		height:450px;
	}
}
@media screen and (max-width:276px) {
	.headerBanner {
		height:480px;
	}
}
@media screen and (max-width:263px) {
	.headerBanner {
		height:540px;
	}
}
@media screen and (max-width:209px) {
	.headerBanner {
		height:640px;
	}
}
@media screen and (max-width:247px) {
	.headerBanner {
		height:610px;
	}
	.hidorange {
		height:30px;
	}
}
/* EFREN POGI*/

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 1160px) {

    .eco-container {
        width: 80%
    }


}

@media only screen and (max-width : 1030px) {

    .eco-container {
        width: 80%
    }

	ul.dropdown li{
		width: 20%;
	}

}

@media only screen and (max-width: 811px){
    .eco-container {
        width: 100%
    }
    .ecositenav{
        width: 501px;
        float:none;
        margin: auto;
    }
	
	.banner-define,
	.banner-title  {
	padding-left: 30px;
	padding-right: 30px;
	}
	.boxes,
	.eco-upper-content {
	padding-left: 30px;
	padding-right: 30px;
	}
}

@media only screen and (max-width: 710px){
	#ecologo{
		margin-top: 30px !important;
	}
	.bluebar{
        display:none;
    }
	.ecositenav{
        display:none;
    }
    .mobileMenu {
    	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        display: block;
    }
    .headerBanner{
        margin-top: 0px;
    }
}

/* EFREN POGI END*/


/*USON @media*/
@media (max-width: 767px) {
    .eco-upper-content h1 {
        text-align: center;
    }
    #physicaltrainingtext p {
        padding: 30px 30px 30px 30px !important;
    }
    #rightcolumn {
        width: 100% !important;
    }
    #rightcolumnimage {

        /* padding: 0px 0px 0px 0px !important; */
        margin: auto !important;
    }
    
    #awakening h1 {        
        padding: 20px 0px 20px 0px;
        text-align: center;
    }
    #action h1 {        
        padding: 0px 0px 0px 0px;
        text-align: center;
    }

    #mindbodytrainingimage,
    #mindfulnesstrainingimage,
    #physicaltrainingimage  {
        width: 105px;
        height: 105px;
        padding: 10px 0px 30px 0px;        
        margin: auto !important;
    }
    #practiceskills h1,
    #farming h1,
    #volunteering h1,
    #mindbodytrainingtext h1,
    #mindfullnesstrainingtext h1,
    #physicaltrainingtext h1 {
        padding: 10px 0px 0px 0px !important;
        text-align: center;
    }
    #practiceskills p,
    #farming p,
    #volunteering p,
    #mindbodytrainingtext p,
    #mindfullnesstrainingtext p,
    #physicaltrainingtext p{
        padding: 10px 30px 0px 30px !important;
    }
    #facebookicon,
    #twittericon,
    #linkedinicon  {
        margin: 20px 50% 0px 50%;
    }

}
.orangebarko {
	background: #efa945;
	text-align: center;
    padding-top:10px;
	padding-bottom:10px;
	height:100%;
	width: 100%;
}
@media (max-width: 900px) { 
    .donate_icon {    
        width: 247px !important;
        margin: auto;
    }
}
@media (max-width: 380px) {
    #interior_text h1,
    .eco-upper-content h1 {
        text-align: center;
        font-size: 25px;
    }
    .eco-p-lower h3,
    .eco-p h3 {
        font-size: 20px;
    }
    #interior_text h1 {
    font-size: 30px !important;
}
}

@media (max-width: 320px) {
    .title-lower-bottom h1,
    .title-lower h1 {
        text-align: center;
        font-size: 25px;
    }
}
@media (max-width: 1010px) { 
    #container {
        width: 97% !important;
    } 
    #interior-text {
        width: 500px !important;
    }
}

@media (max-width: 800px) { 
    .donate {    
        width: 200px !important;
        margin: auto;
    }
    .eco-p{
        width: 100% !important;
        padding: 20px;
        margin: auto;
        /* padding-left: 3%; */
    }
    .eco-thumbnail {        
        width: 100%;
        margin: auto;
        padding: 0px 100px 0px 100px;
        
    }
    .eco-thumbnail img {        
        width: 125px !important;
        margin: auto !important;
    }

    .boxes h3 {
        text-align: center;
    }
    .title-lower {               
        width: 200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        }
    .title-lower h1 {               
        width: 200px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .title-lower-bottom{
                       
        width: 125px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }


}

@media (max-width: 991px) {
    #rightcolumnimage img {    
        width: 273px !important;
        border-radius: 100%;
    }
    #rightcolumnimage img {    
        width: 273px !important;
        border-radius: 100%;
    }
    .eco-thumbnail{
        text-align: center;
    }
    .title-lower {
        margin-top: 20px;
    }.right-linerer{
		width: 100% !important;	
		padding: 0px;
		margin: auto;
		float: none;
		
	}
	.left-linerer {
		width: 100% !important;	
		padding: 0px;
		margin: auto;
		float: none;	
		
	}
	.social-div{
		width: 168px;	
		padding: 0px;
		margin: auto;
	}
}
@media (max-width: 360px) {
    #rightcolumnimage img {    
        width: 220px !important;
        border-radius: 100%;
    }    
    .eco-thumbnail img{        
        width: 100px !important;
        border-radius: 100%;
        
    }
    .eco-thumbnail {        
        width: 100%;
        margin: auto;
        padding: 0px 0px 0px 0px !important;
    }
	.banner-title {	
		font-size:45px;
	}
    .p-title {
        font-size: 25px;
    }

    #rightcolumnimage img {    
        width: 200px !important;
        border-radius: 100%;
    }
}
@media (max-width: 390px) {
	.banner-title {	
		font-size: 40px;
	}
	.banner-define {		
		font-size: 15px;
	}
}


@media (max-width : 1160px) {
	.right-linerer{
		width: 50px;	
		padding: 0px;
		margin: auto;
		float: none;
		
	}
	.left-linerer {
		width: 50px;	
		padding: 0px;
		margin: auto;
		float: none;	
		
	}
	.social-div{
		width: 168px;	
		padding: 0px;
		margin: auto;
	}
}
/*USON @media end*/

.fillmyimage {
	border-radius: 100%;
	margin-right:10px;
	float: left;

	width: 100px;
	height: 100px;

	width: 120px;
	height: 120px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}
.fillmyimage img {
    flex-shrink:0;
    max-width:200%;
    max-height:200%

}
.fillmyimage2 {
	border-radius: 100%;
	margin-right:10px;
	float: left;
	width: 120px;
	height: 120px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}
.fillmyimage2 img {
    flex-shrink:0;
    max-width:200%;
    max-height:200%
}

.squareimg {
	height: 90px;
	width: 120px;
	border: #CCC solid;
}

.spinner {
  margin: 70px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #23527c;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

