/* content */



#amazingcarousel-1 .amazingcarousel-image {	
	position: relative;
	padding: 0px;
	margin: 0 auto;
}

#amazingcarousel-1 .amazingcarousel-image img {
	display: block;
        margin: 0 auto;
	border: 0;
	padding: 0;

}

#amazingcarousel-1 .amazingcarousel-text {    
    font-family: Leelawadee UI;
    font-size: 14px;
    color: #fff;
}

#amazingcarousel-1 blockquote {
	position: relative;
	color: #333;
	text-align: center;
	margin: 8px 18px 8px 24px;
}

#amazingcarousel-1  cite {
	color: #fff;
	display: block;
	position: relative;
	margin: 4px 18px;
	text-align: center;
}

/* carousel */

#amazingcarousel-container-1 {
    right: 1.5%;
	width: 70%;
	margin: auto;
	padding: 10px 10px 10px 10px;
}

#amazingcarousel-1 .amazingcarousel-list-container { 
	padding: 16px 0;
}

/* item */

#amazingcarousel-1 .amazingcarousel-item-container {
	text-align: center;
	padding: 6px;
}

/* arrows */

#amazingcarousel-1 .amazingcarousel-prev {
	left: 0%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
}

#amazingcarousel-1 .amazingcarousel-next {
	right: 0%;
	top: 50%;
	margin-right: -50px;
	margin-top: -50px;
}
@media only screen and (max-width: 465px){

	#amazingcarousel-1 .amazingcarousel-prev {
		left: 15%;
		top: 110%;
		margin-left: -50px;
		margin-top: -50px;
	}

	#amazingcarousel-1 .amazingcarousel-next {
		right: 15%;
		top: 110%;
		margin-right: -50px;
		margin-top: -50px;
	}
}

/* navigation bullets */

#amazingcarousel-1 .amazingcarousel-nav {
	position: absolute;
	width: 100%;
	top: 100%;
}

#amazingcarousel-1 .amazingcarousel-bullet-wrapper {
	margin: 4px auto;
}

.photos{
        width: 150px;
        height: 150px;
	border-radius: 100%;

    
}