﻿

/* ==========================================================================
   HOMEPAGE's custom styles
========================================================================== */
.main-slider-img {
	height: 600px;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
}
.main-slider-decs {
	height: 600px;
	overflow: hidden;
}
.decs-con{
	padding: 35px 35px;	
}
.displaytable{
	overflow: hidden; 
}
.BGFF9D0F{
	height: 665px;
}
.BG65AAD9{	
	height: 665px;
}
.metrobox{
	margin: 14px 21px 20px 46px;
    color: white;
    font-size: 2vw;
}
.horsi{
	width:100px;height:60px;
	padding: 0px 20px;float: left;margin-left: 10%;
}
.countfont{
	font-size: 2.5vw;
}
.countdesc{
	font-size: 1vw;
}
.FFFFFF{
	color:white;
}


.invertdwn{
	-webkit-filter: invert(100%);
	filter: invert(100%);
    padding-bottom: 5%;
}
.invertdwn2{
	/*-webkit-filter: invert(100%);*/
	/*filter: invert(50%);*/
	padding-bottom:0px;
}
.arrow-hovs img.invertdwn2{
	opacity: 0.5;
}
.arrow-hovs img.invertdwn2:hover{
	opacity: 1;
}
.arrr{
	text-align: center;
}
.arrr2{
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

.BGFFFFF{
	/*margin-bottom: -500px;*/
    /*padding-bottom: 500px;*/
}
.icre{
	    padding-top: 20px;
}
.icdesc1{
	font-size: 1vw;
	color: orange;
    font-weight: bold;
}
.icdesc2{
	font-size: 1vw;
	color: #65AAD9;
    font-weight: bold;
}
.icdesc3{
	font-size: 1vw;
}
.center{
	text-align: center;
}

.indexcontent{
	height:100%;margin:0;padding:0
}
/*.indexcontent:before{
    width:100%;
    height:100%;
    display:block;
}*/
.cntnttitle{
	font-size: 80px;
    margin-left: 178px;
}
.minustop{
	margin-top: 26px;
	font-family: arial;
	color:white;
}
img.subpage-img {
	margin-top: 38px;
	width: 212px;
	height: 212px;
	border-radius: 100%;
}
/*p.titleC{
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: -36px;
}*/
.cdesc{
	padding-bottom: 0px !important;
}

.row_c{
	height: 100%;
	position: relative;
}
.row_w{
	width: 80%;
    margin: auto;
}
.blgblg{
	margin-bottom: 4%;
}
.fourcols{
	height: 0px
}
/*///////////////////////////////////////////////////////////////////
⊂_ヽ
　 ＼＼ ＿
　　 ＼(　•_•) F
　　　 <　⌒ヽ A
　　　/ 　 へ＼ B
　　 /　　/　＼＼ U
　　 ﾚ　ノ　　 ヽ_つ L
　　/　/ O
　 /　/| U
　(　(ヽ S
　|　|、＼
　| 丿 ＼ ⌒)
　| |　　) /
`ノ )　　Lﾉ
(_／﻿

///////////////////////////////////////////////////////////////*/
@media (max-width: 1080px) {
	.contentinputs{
		width: 100% !important;
	}
	.decs-con{
		padding: 10px 10px;	
	}
}
@media (max-width: 1024px) {
	.cdesc{
		font-size: 12px;
	}
	p.titleC{
		font-size: 16px;
	}
}
@media (max-width: 1000px) {
	.contentfull{
		width: 100% !important
	}
}
@media (max-width: 900px) { 
	.BGFF9D0F {
		width: 100% !important;
	}
	.BG65AAD9 {
		width: 100% !important;
	}
	.BGFFFFF{
		width: 100% !important;
	}
	.minustop{
		text-align: center;
	}
	.ornge{
		font-size:100% !important;
	}
}
@media (max-width: 780px) { 
	
	.row_w{
		width: 90%;
		margin: auto;
	}
}
@media (max-width: 767px) { 
	
	.decs-con{
		padding: 10px 10px 10px 0px;	
	}
}
@media (max-width: 767px) { 
	.arrr2{
		position: relative;
		padding-top: 40px;
	}
	.arrow-hovs img.invertdwn2{
		opacity: 1;
	}
}
@media (max-width: 766px) { 
	.last_3{
		width: 100% !important;
	}
	.desc_c{
		width:60% !important;
	}
}
@media (max-width: 522px) { 
	.bilogbilog{
		width: 100% !important;
	}
}










