@charset "utf-8";
/* CSS Document */


.padding20{
	padding: 20px;
}
.padding30{
	padding: 30px;
}
.padding40{
	padding: 40px;
}
.padding-bot{
	padding-bottom: 30px;
}
.padding-top30{
	padding-top: 30px;
}
.padding-bot30{
	padding-bottom: 30px;
}
.padding-left15{
	padding-left: 15px;
}
.padding-bot0{
	padding-bottom: 0px;
}
.padding-bot10{
	padding-bottom: 10px;
}

.pad-t-10{
	padding-top: 10px;
}
.pad-t-15{
	padding-top: 15px;
}
.pad-t-20{
	padding-top: 20px;
}
.pad-t-30{
	padding-top: 30px;
}

.pad-b-15{
	padding-bottom: 15px;
}
.pad-b-20{
	padding-bottom: 20px;
}
.pad-b-30{
	padding-bottom: 30px;
}


.mar-t-15{
	margin-top: 15px;
}
.mar-t-20{
	margin-top: 20px;
}
.mar-t-30{
	margin-top: 30px;
}
.mar-t-40{
	margin-top: 40px;
}
.mar-t-50{
	margin-top: 50px;
}

.mar-b-15{
	margin-bottom: 15px;
}
.mar-b-20{
	margin-bottom: 20px;
}
.mar-b-30{
	margin-bottom: 30px;
}

p.mp{
	/*padding: 0px;*/
}

@media screen and (max-width:991px) {
	p.mp{
		padding: 5px 0px 30px 0px;
	}
	.wd-tdt{
		padding: 30px 0px;
	}
}
