@charset "utf-8";
/* CSS Document */
.red{
    color:red;
}
.size14{
    font-size: 14px;
}
.margin-bot8{
  margin-bottom: 8px;
}
.btn-atw{
  background:#FF9D0F;
  color:white;
  cursor: pointer;
}
.red-border{
  border-color: #FF001E !important; 
}
.social-link{font-size: 14px;}
.profpic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid 3px #19a9d5;
}
.note-unread{
  background-color: #e9eaed;
  background: rgba(237,239,245,.98);
  border-color: #D2D9E6;
}
.mark-readed{
  font-size: 16px;
  color: #27c24c;
}
.hop{
  height: 200px;
}
.hop img{
  height: 100%;
}
.capitalize {
    text-transform: capitalize;
}
.text-word-wrap{
    word-wrap: break-word;
}
.align-auto{margin:auto;}
.req{
    color:#FB0000;
}
.black{    
    color: #000000 !important;
    font-weight: bold;
}
.signup-container{
    padding-top: 50px;
    padding-bottom: 30px;
}
.button-w-fb{
    background: #3a5795;
    color: #ffffff;
    text-align: center !important;
}
.button-w{
    text-align: center !important;
}
.button-w-fb:hover{
    background: #30487b;
    color: #ffffff;
}
.wrapper-form{
    border:1px solid;
    padding: 30px;
    width: 450px;
    margin: auto;
}
.wrapper-form-login{
    border:1px solid;
    padding: 30px;
    width: 450px;
    margin: auto;
}
.wrapper-proj{
    /*//padding: 20px 0px 10px 0px;*/
    padding: 13px 0px 10px 0px;
}

.wrapper-proj h1{
    font-size:36px;
    color:#5386c1 !important;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    line-height:30px;
    padding-top: 20px;
    margin:0px;
    background-image: none;
}
.wrapper-proj h3 {
    font-size: 20px;
    text-align: center;
    color: #72bb4c !important;
    margin-top: 20px;
    margin-bottom: 30px;
}
.wrapper-proj ul.num {
    list-style: circle;
    padding: 0px 0px 0px 0px !important;
}
.wrapper-proj h5{
    padding-top: 0px;
}
img.projIMG{
    width: 100%;
}
.proj-list-wrap{
    margin-top: 20px !important;
    margin-bottom: 40px !important;
    padding: 0px;
    border: solid 1px;
    border-radius: 5px;
}
.proj-list-desc{
    line-height: 20px;
    height: 100px;
    overflow: hidden;
}
.proj-list-title{
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.proj-panel{
    margin-bottom: 0px; 
}
a.projA:hover{
    text-decoration: none; 
    color: #FF3D3D;
}
a.nodec:hover{
    text-decoration: none;
}

.load-more-loading {
  padding: 20px;
  text-align: center;
}
.load-more-div{
  width: 200px;
  /*height: 45px;*/
  margin: auto;
  text-align: center;
  position: relative;
}
.proj-list-show-more {
  background-color: #777;
  border: 1px solid #777;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.proj-list-show-more:hover {
  color: black;
  background-color: #fff;
  border: 1px solid black;
}
.cursor-pointer{
  cursor:pointer
}
.proj-panel-heading {
    padding: 8px 15px;
}
.proj-modal-window .modal-dialog {
    width: 60%;
}
.notify-box{
  /*height: 100%;*/
}
.notify-box-scroll{
  /*height: 100%;*/
  overflow: auto;
}
.noti-modal-window .modal-dialog {
    width: 60%;
    /*height: 90%;*/
}
.loadmorebot{
  color: #5386c1 !important;
}
.loadmorebot-wrap{
  padding: 10px;
}

.fr-panel {
    margin-bottom: 0px;
}

.proj-content{    
    padding: 8px;
}
.proj-thumb{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
    position: relative;
    text-align: center;
}
.proj-thumb2{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center center;
    position: relative;
    text-align: center;
}
.proj-title1{
    font-size: 14px !important;
    color: #000000 !important;
    font-weight: bold;
}
.proj-font1{
    font-size: 14px !important;
}
.proj-counts{
    margin-top:50px;
}
.create-form{
    margin: 30px 0px;
}
.textarea{
    resize: vertical;
}
ul.dropdown-menu{
    list-style: none !important;
    padding: 0px 0px 0px 0px !important;
}
tr th button.btn-sm{
    text-align: center !important;
    font-size: 16px;
}
.create-proj-thumb{
    text-align: center;
}
.create-proj-thumb label{
    font-size: 12px;
}
.create-proj-thumb img{
    max-width: 100%;
}
img.view-proj-thumb{
    width: 100%;
}
.border-dash{
    border-style: dashed !important;
    border: 1px;
}
.browse-img-wrap{
    margin: 20px 0px;
    padding: 20px;
}
.big-num{
    font-size: 32px;
    font-weight: bold;
    color: #72bb4c;
}
.proj-social-wrap{
    margin-top: 30px;
}
.text-bot{
    display: table-cell;
    vertical-align: bottom; 
}
.w1{
    width: 222px;
}
.w2{
    width: 180px;
}
.h{
    height: 50px;
}
ul.num li{
    list-style: none;
}
.litab{
    padding: 5px;
}
img.card-icons{
    width: 36px;
}

/*CHART */
.chart-wrap{    
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;    
}
.chart {
    background: #eee;
    padding: 0px;
}

.chart div{
    max-width: 100%;    
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div{
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    color: white;
    /*box-shadow: 2px 2px 2px #666;*/
}
/*End Chart*/

/* custom loader styles */

.txt-loading{
    line-height: 32px;
}
#overlay2 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=80);
    z-index: 20;
}
#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /*background: #000;*/
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80);*/
    z-index: 20;
}
#loading {
    width: 10em;
    /* height: 7em; */
    padding: 0px 20px 20px;
    position: relative;
    /* left: 50%; */
    margin: auto;
    margin-top: 50%;
    text-align: center;
    background: rgba(83, 134, 193, 0.34);
}

.page-404{
    border: 2px dashed;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}


@media (max-width : 1166px) {
  .proj-modal-window .modal-dialog {
    width: 95%;
  } 
  .noti-modal-window .modal-dialog {
    width: 95%;
    height: 95%;
  }
}
@media (max-width : 991px) {
  .w1{
    width: 100%;
  }
  ul.num{
    text-align: center;
    padding: 0px 0px 0px 0px !important;
  }
  ul.num li{
    display: inline-block;
    padding: 0px 30px;
  }
}
@media (max-width : 500px) {
  .wrapper-form-login {
    width:100%;
  } 
}

/*Spinner*/
.sk-fading-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}