<!DOCTYPE html>
<html lang="en" data-ng-app="app" class="fsvs">
<head >
    <style type="text/css">
        html, body {
            width:100%;
            height:100%;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earth Citizens Organization</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                document,'script','//connect.facebook.net/en_US/fbevents.js');

            fbq('init', '435335386663292');
            fbq('track', "PageView");
        </script>
        <noscript>
            <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=435335386663292&ev=PageView&noscript=1"/>
        </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- <link rel="stylesheet" href="/css/template_css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="/css/template_css/main.css">

    <!--==========================================FONT AWOSOME=============================================-->

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/noification-animate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="/css/soc-icons.css"/>
    <!-- <link rel="stylesheet" href="http://css-spinners.com/css/spinner/three-quarters.css" type="text/css"> -->

    <link rel="shortcut icon" type="image/ico" href="/images/template_images/favicon.png" />

    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"/>

    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">

    <link href='https://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Arvo|PT+Sans|PT+Sans+Narrow|Roboto|Raleway|Montserrat|Roboto+Slab|Titillium+Web|Vollkorn' rel='stylesheet' type='text/css'>

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/skdslider/src/skdslider.css" type="text/css" />

    <!-- Custom CSS -->
    <link href="/startbootstrap-full-slider-1.0.2/css/full-slider.css" rel="stylesheet">


    <link rel="stylesheet" href="/css/app-fr.css">
      
    <link rel="stylesheet" href="/js/angular/angular-ui-select/dist/select.css">  
    <link rel="stylesheet" href="/js/select2/dist/css/select2.min.css">  
    <link rel="stylesheet" href="/js/jquery/chosen/chosen.css">  
    <link rel="stylesheet" href="/js/jquery/chosen/chosen-spinner.css">  
    <link rel="stylesheet" href="/js/angular/chosen/chosen.css">  
    <link rel="stylesheet" href="/css/isteven-multi-select.css">  

    <link rel="stylesheet" type="text/css" href="/SlidePushMenus/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/SlidePushMenus/css/component.css" />  
    <link rel="stylesheet" href="/cssmenu/cssmenu-styles.css">
    <link rel="stylesheet" href="/css/template_css/temp_index.css">    
    <link rel="stylesheet" href="/css/template_css/projects-style.css">  
    <link rel="stylesheet" href="/css/template_css/custom-style.css">  
    <link rel="stylesheet" href="/css/template_css/padding-style.css">  
    <link rel="stylesheet" href="/css/template_css/container-style.css">  
    <link rel="stylesheet" href="/css/template_css/responsive-style.css">  


    <link rel="stylesheet" href="/js/smartscroll-master/css/smartscroll.css">
    
    <style type="text/css">
      .menu-false{
        display: none;
      }
      .menu-true{
        display: block;
      }
    </style>
</head>

<body ng-controller="indexMainCtrl" ng-init="toptop()">
    <?php echo $this->getContent()?>

    <!--=====Header=====-->
    <?php include ('header.html');?>
    <!--=====Header=====-->






    <div class="container-fluid">
        <!-- slider starts -->
        <div id="myCarousel" class="carousel slide">

            <!-- Indicators -->
            <ol class="carousel-indicators" style="margin-bottom:-10px">
            <?php
            $nslides = $slides;
            $dst = 0;
            $x = 0;
            foreach ($nslides as $key => $value) {$result[$x]= $nslides[$key]->sort;$x++;}
            $min = min($result);
            foreach ($nslides as $key => $value) {
            ?>
                <li data-target="#myCarousel" data-slide-to="<?php echo $dst; ?>" class="<?php if($nslides[$key]->sort == $min){ echo 'active'; } ?>"></li>
            <?php $dst++; } ?>
            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
            <?php
            foreach ($nslides as $key => $value) {
                ?>
                <div class="item <?php if($nslides[$key]->sort == $min){ echo 'active'; } ?>">
                    <div class="row">
                        <div class="main-slider-img col-sm-8" style="background-image: url('<?php echo $this->config->application->amazonlink; ?>/uploads/slider/<?php echo $nslides[$key]->foldername.'/'.$nslides[$key]->img; ?>');">
                        </div>
                        <?php if($nslides[$key]->showtext != 'false'){?>
                        <div class="main-slider-decs col-sm-4" style="background-color:<?php echo $nslides[$key]->tbgcolor; ?>;">
                            <div class="decs-con">
                                <font class="mtitle2" style="font-size:<?php echo $nslides[$key]->titlefontsize; ?>px;color:<?php echo $nslides[$key]->tfcolor; ?>;"><?php echo $nslides[$key]->title; ?></font> <br>
                                <p class="mbody2"  style="font-size:<?php echo $nslides[$key]->descriptionfontsize; ?>px;color:<?php echo $nslides[$key]->dfcolor; ?>;"><?php echo $nslides[$key]->description; ?></p>
                            </div>
                            <?php if($nslides[$key]->linkpath != ''){ ?>
                            <div class="learnheroes"><a href="<?php echo $nslides[$key]->linkpath; ?>"><?php echo $nslides[$key]->linkname; ?></a></div>
                            <?php }?>
                        </div>
                        <?php }?>
                    </div>
                </div>
                <?php } ?>
            </div>
            <!-- Controls -->


            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <!-- slider ends -->
    </div>
    <!--===begin container===-->
    <div class="container-fluid">
        <div style="position:relative;">
            <div class="row" id="article-container displaytable">
                <div class="col-sm-4 BGFF9D0F" style="background:{[{ box1.bgcolor }]}">
                    <!-- BOX 1 -->
                    <div class="row">
                    <div class="metrobox">MAKING A DIFFERENCE</div>
                    </div>

                    <div class="row">
                        <p>
                            <img class="horsi" src="{[{amazonlink}]}/uploads/toppage/{[{ image0 }]}" alt="{[{ desc0 }]}" /> 
                            <span class="countfont FFFFFF" ng-bind="count0"></span><br />
                            <span class="countdesc FFFFFF" ng-bind="title0"></span>
                        </p>
                    </div>

                    <div class="row">
                        <p>
                            <img class="horsi" src="{[{amazonlink}]}/uploads/toppage/{[{ image1 }]}" alt="{[{ desc1 }]}" /> 
                            <span class="countfont FFFFFF" ng-bind="count1"></span><br />
                            <span class="countdesc FFFFFF" ng-bind="title1"></span>
                        </p>
                    </div>

                    <div class="row">
                        <p>
                            <img class="horsi" src="{[{amazonlink}]}/uploads/toppage/{[{ image2 }]}" alt="{[{ desc2 }]}" /> 
                            <span class="countfont FFFFFF" ng-bind="count2"></span><br />
                            <span class="countdesc FFFFFF" ng-bind="title2"></span>
                        </p>
                    </div>

                </div>
                <div class="col-sm-4 BG65AAD9" style="background:{[{ box2.bgcolor }]}" ng-bind-html="box2.content | returnTrustedhtml">
                    <!-- BOX 2 -->
                </div>
                <div class="col-sm-4 BGFFFFF" style="background:{[{ box3.bgcolor }]}" ng-bind-html="box3.content | returnTrustedhtml">
                    <!-- BOX 3 -->
                </div>
            </div>
            <div class="space-need"></div>
            <div class="arrr2">
                <a href="#{[{ homepagecontent[0].sortnumber }]}"><img src="/img/arrdwn_gray.png" class="invertdwn2"></a>
            </div>   
        </div>
    </div>
    <div class="container-fluid section-wrapper">
        <div ng-repeat="hc in homepagecontent" class="container-fluid section autoHW" id="{[{ hc.sortnumber }]}" style="background-image:url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/{[{hc.backgroundimg}]}');background-size:cover;">
            <div class="row_c">
                <div ng-show="hc.title == 'NEWS'">

                    <div ng-controller="featuredblogCtrl">
                        <div class="row" ng-repeat="latest in latestnews">
                            <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{latest.newsslugs}]}">
                                <div class="col-sm-8 latest-blog-img" style="background-image: url({[{ latestnewsThumb }]});">                        
                                    <div class="minustop-copy" style="margin-left:15%;">
                                        <span class="cntnttitle-copy">NEWS</span>
                                    </div>
                                </div>
                            </a>
                            <div class="col-sm-4 top-featured-desc">
                               <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{latest.newsslugs}]}">  <h5 ng-bind="latest.title"></h5> </a>
                                <p class="featphar featured-blog-summary">
                                    <span ng-bind="latest.summary"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 no-pad">
                                <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{upcomingnewsslugs}]}">
                                    <div class="feat-news-img" style="background-image: url({[{ upComingNewsThumb }]});">
                                        <div ng-if="upcomingvideothumb" class="youtube-play" style="background-image: url(/images/template_images/yt.png);"></div>
                                    </div>
                                </a>
                                <div class="pad-lr pad-t featured-desc" style="padding-left: 30px;">
                                 <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{upcomingnewsslugs}]}">   <span class="h4-blue" ng-bind="upcomingtitle"></span> </a>
                                    <p class="featphar featured-blog-summary">
                                        <span ng-bind="upcomingsummary"></span>
                                    </p> 
                                </div>
                                
                            </div>
                            <div class="col-sm-4 no-pad">
                                <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{recentnewsslugs}]}">
                                    <div class="feat-news-img" style="background-image: url({[{ recentNewsThumb }]});">
                                        <div ng-if="recentvideothumb" class="youtube-play" style="background-image: url(/images/template_images/yt.png);"></div>
                                    </div>
                                </a>
                                <div class="pad-lr pad-t featured-desc">
                                <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{recentnewsslugs}]}"> <span class="h4-blue" ng-bind="recenttitle"></span> </a>
                                    <p class="featphar featured-blog-summary">
                                        <span ng-bind="recentsummary"></span>
                                    </p> 
                                </div>
                            </div>
                            <div class="col-sm-4 no-pad">
                                <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{mindfulnewsslugs}]}">
                                    <div class="feat-news-img" style="background-image: url({[{ mindfulNewsThumb }]});">
                                        <div ng-if="mindfulvideothumb" class="youtube-play" style="background-image: url(/images/template_images/yt.png);"></div>
                                    </div>
                                </a>
                                <div class="pad-lr pad-t featured-desc" style="padding-right: 30px;">
                                  <a href="<?php echo $this->config->application->baseURL; ?>/news/{[{mindfulnewsslugs}]}">  <span class="h4-blue" ng-bind="mindfultitle"></span> </a>
                                    <p class="featphar featured-blog-summary">
                                        <span ng-bind="mindfulsummary"></span>
                                    </p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-hide="hc.title == 'NEWS'" class="row"> 
                    <div class="row_w">               
                        <div class="col-sm-12 minustop-copy">
                            <span class="cntnttitle-copy" ng-bind="hc.title"></span>
                        </div>
                        <div ng-bind-html="hc.content | returnTrustedhtml"></div>
                    </div>
                    <div class="row_w">  
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div ng-repeat="bilog in filtered = hc.subpage"
                                ng-class="{ 'col-sm-3 col-md-3 col-xs-6 cen bilogbilog': filtered.length==4,'col-sm-4 col-md-4 col-xs-6 cen bilogbilog': filtered.length==3 && !$last,'col-sm-6 col-md-6 col-xs-6 cen bilogbilog': filtered.length==2,
                                'col-sm-4 col-md-4 col-xs-6 cen bilogbilog last_3': filtered.length==3 && $last}">
                                    <a class="imglink" href="{[{bilog.link}]}">
                                        <div style="background-image:url('{[{ amazonlink }]}/uploads/pageimages/{[{ bilog.image }]}');" class="wie-img"></div>
                                        <p class="titleC" style="color:{[{ hc.subpagecolor }]}">
                                            <span ng-bind="bilog.title"></span>
                                        </p>
                                    </a>
                                    <p class="cdesc word-wrap" style="color:{[{ hc.subpagecolor }]}" ng-bind="bilog.shortdesc">
                                    </p>
                                </div>
                            </div>
                        </div>  
                    </div> 
                </div>
                    <div ng-show="$last" class="space-need"><p></p></div>
                    <div class="arrr2 arrow-hovs" ng-hide="$last">
                        <a href="#{[{ $index + 1 }]}"><img src="/img/arrdwn_gray.png" class="invertdwn2"></a>
                    </div>  
            </div>
        </div>
    </div>


<div class="container-fluid">
    <div  class="footer-bg">
        <div class="eco-container">
            <div class="row">
                <div class="col-md-3" style="color: #ffffff !important; float: left;" id="footer-mission-statement">
                    <span>MISSION STATEMENT<br/><br/></span>
                    <div style="">
                        <span style="font-size: 12px;">
                            Earth Citizens Organization (ECO) is a non-profit that promotes natural health and mindful living for a sustainable world. An Earth Citizen is a person who understands that we are all citizens of the Earth and takes responsibility for its well-being.<br/><br/>
                        </span>
                    </div>

                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;" id="footer-navigation" ng-controller="MenuCtrl">
                    <span>NAVIGATION<br/><br/></span>
                    <div style="width:100%;">
                        <span style="font-size: 12px;">
                            <nav  class="nav" style="padding-top: 0px;">
                                <span ng-repeat="webmenu in webmenu">
                                    <a style="color:#ffffff;" ng-show="webmenu.newtab == 'true'" href='{[{webmenu.sublink}]}' target="_blank">
                                        <span ng-bind="webmenu.subname"></span>
                                    </a>
                                    <a style="color:#ffffff;" ng-show="webmenu.newtab == 'false'" href='{[{webmenu.sublink}]}'>
                                        <span ng-bind="webmenu.subname"></span>
                                    </a>
                                    <br/>
                                </span>
                            </nav>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;" id="addus-navigation">
                    <span>ADD US<br/><br/></span>
                    <div style="width:100%;">
                        <span style="font-size: 12px;">
                            <ul>
                                <li><a href="https://www.youtube.com/user/goearthcitizens" style="color:#ffffff;"><i class="fa fa-youtube" style="color: #ffffff;"></i>&nbsp;&nbsp;YouTube</a><br/><br/></li>
                                <li><a href="https://www.facebook.com/EarthCitizensOrganization" style="color:#ffffff;"><i class="fa fa-facebook" style="color: #ffffff;"></i>&nbsp;&nbsp;Facebook</a><br/><br/></li>
                                <li><a href="https://twitter.com/goearthcitizens" style="color:#ffffff;"><i class="fa fa-twitter" style="color: #ffffff;"></i>&nbsp;&nbsp;Twitter</a></li>
                            </ul><br/><br/>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;" id="contactus-footer">
                    <span>CONTACT US<br/><br/></span>
                    <div style="width:100%;">
                        <span style="font-size: 12px;">
                            Earth Citizens Organization<br/>
                            340 Jordan Road Sedona, AZ 86336
                            <br/><br/>
                            <a href="mailto:info@earthcitizens.org" style="color: #fff "><i class="fa fa-envelope-o"></i> Email: info@earthcitizens.org</a>
                            <br/><br/>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px 0px 10px 0px;">
                <div  style="  width: 100%;  background-color: #ffffff;  height: 3px;"></div>
            </div>
            <div style="width: 100%; text-align: center;">
                <div class="row" style="padding-top: 2px;">
                    <div class="col-sm-12">
                        <p>
                            <span style="font-size: 10px; color:#ffffff;">
                                ©2016 Earth Citizens Organization All rights reserved
                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a style="font-size: 10px; color:#ffffff;" href="/terms-of-use">Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a style="font-size: 10px; color:#ffffff;" href="/privacy-policy">Privacy Policy</a> 
                        </p>
                    </div>                  
                </div>
            </div> 
        </div>
    </div>
</div>

<script>
    var API_URL = '<?php echo $this->config->application->apiURL; ?>';
    var BASE_URL = '<?php echo $this->config->application->baseURL; ?>';
</script>

<!-- <script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script> -->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
<script src="/js/template_js/main.js"></script>
<script src="/startbootstrap-full-slider-1.0.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    
    $(document).ready(function() {
        window.onresize = function() {
            setWidthHeight();
        }
        function setWidthHeight() {
            var width = $(window).width();                
            var windowHeight = $(window).height();
            if( width > 750 ){
                $(".section").width(width);
                $('.section').height(windowHeight);
            }
        };
        setWidthHeight();
    });
</script>

<!-- Script to Activate the Carousel -->
<script>
    // $('.carousel').carousel({
    //     interval: 7000, //changes the speed
    //     mode: 'fade'
    // })
</script>
<!-- end slider -->
 <script type="text/javascript">
    $('#notify').addClass('animated rubberBand');
    </script>
<script src="/js/stickytop.js"></script>

<script type="text/javascript" src="/js/angular/angular.min.js"></script> 
<script type="text/javascript" src="/js/angular/angular-route.js"></script> 
<script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script> 
<script type="text/javascript" src="/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/js/angular/angular-sanitize.js"></script>

<!-- Angular -->
<script type="text/javascript" src="/js/angular/angular-loading-master/angular-loading.css"></script>

<script type="text/javascript" src="/js/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="/js/angular/angular-animate.min.js"></script>
<script type="text/javascript" src="/js/angular/angular-translate.js"></script>
<script type="text/javascript" src="/js/angular/ngStorage.min.js"></script>
<script type="text/javascript" src="/js/angular/ui-load.js"></script>
<script type="text/javascript" src="/js/angular/ui-jq.js"></script>
<script type="text/javascript" src="/js/angular/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/js/angular/angular-ui-select/dist/select.js"></script>
<script type="text/javascript" src="/js/tokeninput/src/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/js/select2/dist/js/select2.min.js"></script>
<script type="text/javascript" src="/js/angular/chosen/angular-chosen.min.js"></script>
<script type="text/javascript" src="/js/jquery/chosen/chosen.js"></script>
<script type="text/javascript" src="/js/jquery/chosen/chosen.jquery.js"></script>

<script type="text/javascript" src="/js/angular/timepickerpop-master/src/timepickerpop.js"></script>
<script type="text/javascript" src="/js/angular/angular-jwt/dist/angular-jwt.min.js"></script>
<script type="text/javascript" src="/js/angular/a0-angular-storage/dist/angular-storage.min.js"></script>

<!-- ng upload -->
<script type="text/javascript" src="/js/angular/ng-file-upload/ng-file-upload.min.js"></script>
<script type="text/javascript" src="/js/angular/ng-file-upload/ng-file-upload-shim.js"></script>

<!-- angular-timer -->
<script type="text/javascript" src="/vendors/angular-timer/dist/angular-timer.js"></script>
<script type="text/javascript" src="/vendors/humanize-duration/humanize-duration.js"></script>
<script type="text/javascript" src="/vendors/momentjs/moment.js"></script>

<script type="text/javascript" src="/js/fr/app.js"></script>
<script type="text/javascript" src="/js/config/config.js"></script>
    <?php echo @$otherjvascript ?>
<script type="text/javascript" src="/js/fr/filter.js"></script>
<!-- <script type="text/javascript" src="/js/directives.js"></script> -->
<script type="text/javascript" src="/js/fr/directives.js"></script>
<script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/js/angular/angular-ckeditor-master/angular-ckeditor.js"></script>
<script type="text/javascript" src="/js/fr/news.js"></script>


    <script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
    <!-- <script src="/fcalendar/moment.js"></script> -->
    <!-- <script src="/fcalendar/fullcalendar.js"></script> -->
    <!-- <script src="/fcalendar/gcal.js"></script> -->
    <script src="/fcalendar/calendar.js"></script>
    <!-- <script src="/fcalendar/calendarDemo.js"></script> -->

    <?php echo $script_google; ?>

    <script type="text/javascript">
        $(function() {
          $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
              if (target.length) {
                $('html,body').animate({
                  scrollTop: target.offset().top
              }, 1000);
                return false;
            }
        }
    });
      });

        var hash = location.hash.replace('#/','#');
        if(hash != ''){
            $('html, body').animate({ scrollTop: $(hash).offset().top}, 1000);
        }
    </script>

    
    <!-- // <script src="/cssmenu/cssmenu-script.js"></script> -->
    <script src="/SlidePushMenus/js/modernizr.custom.js"></script>
    <script src="/SlidePushMenus/js/classie.js"></script>
    <script type="text/javascript">
        var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeft = document.getElementById( 'showLeft' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;

        showLeft.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( menuLeft, 'cbp-spmenu-open' );
            disableOther( 'showLeft' );
        };
        function disableOther( button ) {
            if( button !== 'showLeft' ) {
                classie.toggle( showLeft, 'disabled' );
            }
        }
    </script>
<script src="/js/template_js/dropdown_js.js"></script>
<script type="text/javascript" src="/js/smartscroll-master/lethargy.min.js"></script>
<script src="https://rawgit.com/Olical/EventEmitter/master/EventEmitter.min.js"></script>
<script type="text/javascript" src="/js/smartscroll-master/smartscroll.min.js"></script>
<script>


    // $.smartscroll({
    //     sectionWrapperSelector: ".section-wrapper",
    //     sectionClass: "section",
    //     autoHash: false,
    //     breakpoint: 3000,
    //     keepHistory: false,
    //     dynamicHeight : true,
    //     mode:"set" // or "set",
    // });
    window.onunload = function(){ window.scrollTo(0,0); }
</script>
<!-- <script src="/js/template_js/dropdown_hover_ajax.js"></script> -->

</body>
</html>