<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/template_css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/template_css/main.css">

    <!--==========================================FONT AWOSOME=============================================-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    
    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"/>     

    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">
    
    <link href='http://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Arvo|PT+Sans|PT+Sans+Narrow|Roboto|Raleway|Montserrat|Roboto+Slab|Titillium+Web|Vollkorn' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/template_css/temp_index.css">        

</head>

<body ng-controller="indexMainCtrl">
    <?php echo $this->getContent() ?>
    <!--==========================================TOP NAV=============================================-->
        <!--div class="container-fluid" >
        <div style="width: 100%; margin: auto;" align="center">
            <img src="img/ecologo.png" />
        </div>
    </div-->
    <!-- EFNRE START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="container-fluid">
        <div class="eco-container top">
            <div class="top-contact" style="float: left;">
                <span><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org&nbsp;&nbsp;</span> 
            </div>
            <div class="top-social-icon" style="text-align: right;">                
                <span>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a></span>
                <span>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></span>
                <span>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></span>                
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="eco-container">

            <div id="ecologo" ><a href="http://www.earthcitizens.org/indextemp"><img  class="logo-size" src="/images/template_images/ecologo2.png" style="width:170px;"></a></div>
            <div class="ecositenav">
                <nav  class="nav">
                    <ul class="dropdown" >
                        <li class="drop">
                            <a href="#abouteco" id="selected4">
                                <div id="menu_icon_about">
                                    <div id="training_selected4" class="selects"><img class="menu-size" src="/images/template_images/menu_hover_icon_about.png" /></div>
                                    <img class="menu-size" id="training_not_selected4" src="/images/template_images/menu_icon_about.png"/>
                                    <div class="p">ABOUT US</div>
                                </div>
                            </a>

                        </li>
                        <li class="drop">
                            <a href="#ouractivities" id="selected2">
                                <div id="menu_icon_training">
                                    <div id="training_selected2" class="selects"><img class="menu-size" src="/images/template_images/menu_hover_icon_training.png" /></div>
                                    <img class="menu-size" id="training_not_selected2" src="/images/template_images/menu_icon_training.png"/>
                                    <div class="p">OUR ACTIVITIES</div>
                                </div>
                            </a>
                        </li>
                        <li class="drop">
                            <a href="#ourprograms" id="selected3">
                                <div id="menu_icon_peace_parks">
                                    <div id="training_selected3" class="selects"><img class="menu-size" src="/images/template_images/menu_hover_icon_peace_parks.png" /></div>
                                    <img class="menu-size" id="training_not_selected3" src="/images/template_images/menu_icon_peace_parks.png"/>
                                    <div class="p">OUR PROGRAMS</div>
                                </div>
                            </a>
                        </li>
                        <li class="drop">
                            <a href="http://heroesconnect.org" target="_blank" id="selected1">
                                <div id="menu_icon_what_is_eco">                
                                    <div id="training_selected1" class="selects"><img class="menu-size" src="/images/template_images/menu_hover_icon_what_is_eco.png" /></div>
                                    <img class="menu-size" id="training_not_selected1" src="/images/template_images/menu_icon_what_is_eco.png"/>
                                    <div class="p">HEROES CONNECT</div>
                                </div>
                            </a>

                        </li>

                        <li class="drop">
                            <a href="#supportus" id="selected5">
                                <div id="menu_icon_support_us">
                                    <div id="training_selected5" class="selects"><img class="menu-size" src="/images/template_images/menu_hover_icon_support_us.png" /></div>
                                    <img class="menu-size" id="training_not_selected5" src="/images/template_images/menu_icon_support_us.png"/>
                                    <div class="p">SUPPORT US</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div> 
        <div class="container-fluid"><div class="bluebar"></div></div>   
    </div>

    <div class="container-fluid">
        <div class="mobileMenu mobileMenu2">
            <nav role="navigation" class="navbar navbar-default nav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><p>ECO</p></a>
                </div>
                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#abouteco">ABOUT US</a>
                        </li>
                        <li>
                            <a href="#ouractivities">OUR ACTIVITIES</a>
                        </li>
                        <li>
                            <a href="#ourprograms">OUR PROGRAMS</a>
                        </li>
                        <li>
                            <a href="http://heroesconnect.org">HEROES CONNECT</a>
                        </li>
                        <li>
                            <a href="#supportus">SUPPORT US</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- EFNRE END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    


    <div class="container-fluid">
        <div class="banner" data-block-text="false"> 
            <div class="p-title">CALLING ALL <span class="color" style="color: #FF9D0F"> HEROES </span> </div>
            <div class="p-h2">We stand at the cusp of a new beginning--a noble journey of awakening latent power within. The time is now.</div>
            <div class="learnheroes"><a href="http://heroesconnect.org" >Connect with HEROES</a></div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="orangebarko">
            <a href="../donation" style="font-size:22px; font-family:Leelawadee UI; color:#FFF">
                <img src="/images/template_images/donate-bttn.png" class="donbut" />
                DONATE WHAT YOU CAN TO HELP
            </a>
        </div>
    </div>
    <div class="hidorange"></div>

    <!--div id="orangebarko">
        <table align="center" height="65" class="tebel"><tr><td>
            <img src="images/template_images/donate-bttn.png" />
        </td><td>
            <a href="" style="font-size:22px; margin-left:10px; font-family:Leelawadee UI; color:#FFF">DONATE WHAT YOU CAN TO HELP</a>
        </td></tr></table>
    </div-->
    
    <!--===begin container===-->    
    <div class="container-fluid">

        <div class="eco-container">            
            <!--===main content===-->
            <!--===about===-->   

            <!--===Anchor===-->
            <a id="abouteco"></a>
            <!--===Anchor===-->          
            <div class="abouteco">
                <h1 class="main-title" >ABOUT ECO</h1>
                <p class="subtitle">
                    On September 11, 2013, EARTH CITIZENS ORGANIZATION (ECO) was formed to develop and promote the Earth Citizen Movement by providing training and education, developing training facilities, conducting peace projects, and organizing community actions that help people to create changes in their lives to support peace and sustainability at all levels of community. <br/><br/>
                    The name of the organization reflects our belief that we are all citizens of the Earth and share the responsibility as its stewards for the well-being and continuity of our planet and all the life forms on it. Sharing this idea and starting to create changes by applying it to our daily life are the core of the Earth Citizen Movement. There doesn’t need to a big idea or agenda to start creating change. Any action, no matter how small it is, that brings balance and mindfulness to our life, that helps us see the obvious need for change, that shows genuine good intention toward others will help.<br/><br/>
                    Start sharing this idea with others. Start living by this idea. Take caring for the earth and the well-being of all life forms on it as your very personal responsibility. 

                </p>

            </div>
        </div>

        <div class="container-fluid">
            <div class="banner2" data-block-text="false"> 
                <div class="p-title" style="color: #FF9D0F">OUR <span class="color" style="color: #5386c1"> PROGRAMS </span> </div>
                <div class="p-h2">The Earth Citizens School Program will encompass attitude, knowledge, and skills that are essential in organizing and leading the Earth Citizen Movement in diverse environments.</div>
                <div class="learnheroes"><nav role="navigation" class="nav" style="padding-top: 0px !important;"><a href="#ourprograms">Learn more...</a></nav></div>
            </div>
        </div>
        <div class="eco-container">  

            <div class="ouractivities" style="width: 100%; padding-top: 20px !important;">
                <!--===Anchor===-->
                <a id="ouractivities"></a>
                <!--===Anchor===--> 
                <h1 class="main-title" >OUR ACTIVITIES</h1>
                <p class="subtitle">
                    Our goal is to reach out to 100 million people with the idea of Earth Citizenship and help them live by its standards. With over 7 billion people currently living on the Earth, 100 million is more than 1% of the world's population. If 1% of humanity start thinking as Earth Citizens and making choices accordingly, this will create momentum toward greater changes for peace and sustainability. To accomplish this goal, ECO is pursuing the following activities:
                </p>
                <div class="row act-con">
                    <div class="col-md-4 act">
                        <h3>LEADERSHIP<br/>DEVELOPMENT</h3>
                        <p>
                            The key to change is people, leaders who with passion and courage pioneer the changes we need at all levels of community, from local to global. ECO, for the education of such leaders, runs the Earth Citizen School to provide training in leadership development and subsequent skills and practices for mindful living for sustainability under the name of “Heroes Leadership Training.” Through this program, participants are guided to develop their body and mind and cultivate the greatness of human spirit to create positive changes in their personal lives and their communities. 
                        </p>
                    </div>
                    <div class="col-md-4 act">
                        <h3>COMMUNITY<br/>OUTREACH</h3>
                        <p>
                            ECO organizes and promotes the Earth Citizens Movement at all levels of community. Activities in local communities are mostly facilitated by the graduates of ECO’s leadership training program. To promote the Earth Citizen Movement and support the graduates’ activities, ECO, in collaboration with supporting organizations, is running regional Earth Citizen Learning Centers nationwide. The Learning Centers serve as the hub for all Earth Citizen Leaders engaged in local Earth Citizen activities. The Learning Centers provide education sessions once a month to the leaders and the public as well. 
                        </p>  
                    </div>
                    <div class="col-md-4 act">              
                        <h3>TRAINING FACILITY DEVELOPMENT</h3>
                        <p>
                            The purpose of the Earth Citizen School program is not only to give instruction, but also to guide the participants to incorporate new skills for sustainability into their lives and to develop leadership capabilities through the real-life experience of helping and teaching other people. This scope of the training requires a space that has facilities for classroom instruction, physical training, hands-on practice for mindful living, and accommodations, together with opportunities for community outreach activities. For this purpose, ECO plans to develop training facilities in Northern Arizona as its primary location and expand to other states as the Earth Citizen Movement grows. 
                        </p>
                    </div>
                </div>                               
            </div>
        </div>


        <div class="eco-container">  
            <div class="ourprograms">
                <!--===Anchor===-->
                <a id="ourprograms"></a>
                <!--===Anchor===-->
                <h1 class="main-title">OUR PROGRAMS</h1>
                <p class="subtitle">
                    The Earth Citizens School Program will encompass attitude, knowledge, and skills that are essential in organizing and leading the Earth Citizen Movement in diverse environments. More particularly, the curriculum includes the following subject areas:
                </p>

                <p class="justify"><span style="font-size: 20px; color: #72bb4c !important;">Culture: </span>
                    Knowledge, wisdom, and practices from diverse cultural traditions that support living in harmony with other people and various natural environments will be explored and studied to expand the participant's cultural understanding and develop in them an attitude of acceptance and openness. Spirituality and mindfulness are among the key elements in the study of culture in this program.
                </p>

                <p class="justify"><span style="font-size: 20px; color: #72bb4c !important;">Lifestyle: </span>
                    Key elements of a healthy lifestyle such as nutrition and physical and mental exercise will be taught. Learning in this subject area will primarily help the participants improve their health and be used for the participants to help others create the proposed changes in their lives.. 
                </p>

                <p class="justify"><span style="font-size: 20px; color: #72bb4c !important;">Soft technology: </span>
                    Participants will learn the basic skills to grow vegetables, trees, and animals, fix homes, and apply natural healing modalities. This subject area can be expanded to more advanced technology for sustainability such as renewable energy, waste management, and water recycling.
                </p>

                <p class="justify"><span style="font-size: 20px; color: #72bb4c !important;">Leadership: </span>
                    Making and leading changes in culture and lifestyle is challenging. Individuals need to manage themselves, develop their strengths, demonstrate integrity, overcome their limitations, and motivate others to join and work together. The leadership component of this training program will guide participants to find and develop their strengths as leaders and use their leadership to work with others.
                </p>

                <p class="justify">
                    These subject areas are incorporated into our flagship program <b>“Heroes Leadership Training”</b>. This name represents the primary purpose of the program: developing the greatest qualities of human nature such as compassion, courage, truthfulness, and integrity—those found in the heroes we admire. The program is designed to awaken and cultivate these qualities within the participants.
                </p>

                <p class="justify">
                    A one-week Heroes Leadership Training is followed by an optional 3-week Earth Citizen Living Practice, which covers training and education in hands-on skills and practices for mindful living and holistic natural health. 
                </p>

                <p class="padding-bottom">

                    <a href="http://heroesconnect.org" target="_blank" style="text-decoration: underline;">For more information and registration.</a>

                </p>

            </div> 
        </div>

        <div class="container-fluid">
            <div class="banner3" data-block-text="false"> 
                <div class="p-title" style="color: #FF9D0F">WE NEED <span class="color" style="color: #5386c1">YOUR</span> HELP</div>
                <div class="p-h2">Our goal is to build a community of 100 Million Earth Citizens who can rise above its problems and conflicts to realize peace and a sustainable future only by becoming one through our highest shared value and concern, the Earth.</div>
                <div class="learnheroes"><a href="../donation">Donate Now</a></div>
            </div>

        </div>



        <div class="eco-container">                 
            <div class="support" style="text-align:left; width: 100%; padding-top: 20px !important;">

                <!--===Anchor===-->
                <a id="supportus"></a>
                <!--===Anchor===-->
                <h1 class="main-title" >SUPPORT US</h1>
                <p class="subtitle">
                    To pursue the projects to advance our mission, ECO relies on donations from institutions and individuals who support our shared vision for a peaceful and sustainable world.
                </p>
                <h3 style="font-size: 20px; color: #72bb4c !important;" class="left">SCHOLARSHIP FUND</h3>
                <p  class="justify">
                    The cost for one week of training per person, including room and board, is approximately $1,000. Each participant will pay $300 or less, and the rest will be supported by ECO’s scholarship fund. Our goal is to develop 1,200 leaders by 2016, and increase the number every year. To achieve this goal, we seek to raise $2 Million for a scholarship fund. 
                </p>
                <h3 style="font-size: 20px; color: #72bb4c !important;" class="left">FACILITY DEVELOPMENT FUND</h3>
                <p  class="justify">
                    To make this training and education available to a large audience, ECO is developing training facilities in Northern Arizona. The project will be divided into three phases, and the total cost for completing all three phases will be approximately $13 Million. Our goal is completing the whole project by the end of 2016, and being ready to accommodate 200 candidate leaders per term from 2017. 
                </p>
                <h3 style="font-size: 20px; color: #72bb4c !important;" class="left">COMMUNITY OUTREACH SUPPORT</h3>
                <p  class="justify">
                    The success of ECO’s effort depends largely on the maintained activities of the leaders in their local communities when they return after the training. To ensure continued support, ECO plans to create local Earth Citizens Learning Centers and organize events. To support Earth Citizens community activities, ECO seeks to raise $2 Million for 2015 for this purpose. 
                </p>
                <p>
                    ECO is a 501(c)(3) non-profit organization and your donation to ECO is tax-deductible as a charitable contribution. 
                </p>
                <p style="text-align: center;">

                    <a href="../donation"  style="text-decoration: none;">
                        <span style="font-size: 17px; color: #8d8b8b !important; border-style: solid; border-width: 2px; padding: 5px;">DONATE NOW</span>
                    </a>

                </p>
            </div>
        </div>            
    </div>
</div>                              
<div class="container-fluid">
    <div  class="footer-bg">
        <div class="eco-container">
            <div class="row">
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>MISSION STATEMENT<br/><br/></span>
                    <div style="width:230px; padding-right: 15px;">
                        <span style="font-size: 12px;">
                            Earth Citizens Organization (ECO) is a nonprofit that promotes natural health and mindful living for a sustainable world. An Earth Citizen is a person who understands that we are all citizens of the Earth and takes responsibility for its well-being.<br/><br/>
                        </span>
                    </div>

                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>NAVIGATION<br/><br/></span>
                    <div style="width:190px; padding-right: 55px;">
                        <span style="font-size: 12px;">
                            <nav  class="nav" style="padding-top: 0px;">
                                <a href="#abouteco" style="color:#ffffff;">ABOUT US</a><br/>
                                <a href="#ouractivities" style="color:#ffffff;">OUR ACTIVITIES</a><br/>
                                <a href="#ourprograms" style="color:#ffffff;">OUR PROGRAMS</a><br/>
                                <a href="http://heroesconnect.org" style="color:#ffffff;">HEROES CONNECT</a><br/>
                                <a href="#supportus" style="color:#ffffff;">SUPPORT US</a><br/>
                                <a href="../donation" style="color:#ffffff;">DONATE</a><br/><br/>
                            </nav>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>ADD US<br/><br/></span>
                    <div style="width:190px; padding-right: 55px;">
                        <span style="font-size: 12px;">
                            <ul>
                                <li><a href="https://www.youtube.com/user/goearthcitizens" style="color:#ffffff;"><i class="fa fa-youtube" style="color: #ffffff;"></i>&nbsp;&nbsp;YouTube</a><br/><br/></li>
                                <li><a href="https://www.facebook.com/EarthCitizensOrganization" style="color:#ffffff;"><i class="fa fa-facebook" style="color: #ffffff;"></i>&nbsp;&nbsp;Facebook</a><br/><br/></li>
                                <li><a href="https://twitter.com/goearthcitizens" style="color:#ffffff;"><i class="fa fa-twitter" style="color: #ffffff;"></i>&nbsp;&nbsp;Twitter</a></li>
                            </ul><br/><br/>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>CONTACT US<br/><br/></span>
                    <div style="width:230px; padding-right: 15px;">
                        <span style="font-size: 12px;">
                            Earth Citizens Organization<br/>
                            340 Jordan Road Sedona, AZ 86336
                            <br/><br/>
                            <i class="fa fa-phone"></i>&nbsp;&nbsp;Phone : 928-301-6336
                            <br/><br/>
                            <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Email: goearthcitizens@gmail.com
                            <br/><br/>
                        </span>
                    </div>
                </div>                    
            </div>
            <div class="row" style="padding: 10px 0px 10px 0px;">
                <div  style="  width: 100%;  background-color: #ffffff;  height: 3px;"></div>
            </div>
            <div class="row" style="padding-top: 2px;">
                <p style="font-size: 10px; text-align: center;color:#ffffff;">
                    ©2015 Earth Citizen Organization All rights reserved
                </p>
            </div>
        </div>
    </div>
</div>   
<script>
    var API_URL = '<?php echo $this->config->application->apiURL; ?>';
</script>

<!-- slider begin -->
<!-- it works the same with all jquery version from 1.x to 2.x -->
<script src="/js/template_js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>
<!-- use jssor.slider.mini.js (40KB) instead for release -->
<!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
<script type="text/javascript" src="/js/template_js/jssor.js"></script>
<script type="text/javascript" src="/js/template_js/jssor.slider.js"></script>

<script src="/js/template_js/jquery.min.js"></script>
<script src="/js/template_js/bootstrap.min.js"></script>

<script src="/js/template_js/jquery.js"></script>
<script src="/js/template_js/dropdown_js.js"></script>
<script src="/js/template_js/dropdown_hover_ajax.js"></script>



<script>window.jQuery || document.write('<script src="/js/template_js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<script src="/js/template_js/vendor/bootstrap.min.js"></script>

<script src="/js/template_js/main.js"></script>

<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/styles.js"></script>
<script src="/js/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">

    function scrollNav() {
      $('.nav a').click(function(){  
    //Toggle Class
    $(".active").removeClass("active");      
    $(this).closest('li').addClass("active");
    var theClass = $(this).attr("class");
    $('.'+theClass).parent('li').addClass('active');
    //Animate
    $('html, body').stop().animate({
        scrollTop: $( $(this).attr('href') ).offset().top - 160
    }, 400);
    return false;
});
      $('.scrollTop a').scrollTop();
  }
  scrollNav();

</script>

<script type="text/javascript">
    // Create a clone of the menu, right next to original.
    $('.sticky-menu').addClass('original').clone().insertAfter('.sticky-menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').removeClass('original').hide();

    scrollIntervalID = setInterval(stickIt, 10);


    function stickIt() {

      var orgElementPos = $('.original').offset();
      orgElementTop = orgElementPos.top;               

      if ($(window).scrollTop() >= (orgElementTop)) {
    // scrolled past the original position; now only show the cloned, sticky element.

    // Cloned element should always have same left position and width as original element.     
    orgElement = $('.original');
    coordsOrgElement = orgElement.offset();
    leftOrgElement = coordsOrgElement.left;  
    widthOrgElement = orgElement.css('width');
    $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
    $('.original').css('visibility','hidden');
} else {
    // not scrolled past the menu; only show the original menu.
    $('.cloned').hide();
    $('.original').css('visibility','visible');
}
}
</script>

    <?php echo $script_google; ?>
    
    </body>
    </html>
