

<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable = yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earth Citizens Organization</title>


    <link rel="stylesheet" href="/css/template_css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/template_css/main.css">

    <link rel="stylesheet" href="/css/template_css/slidercss.css"> 
    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"></link>      

    <link rel="stylesheet" type="text/css" href="/css/template_css/initcarousel-1.css">

    <!--  <link rel="stylesheet" href="/css/template_css/index.css"> -->
    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- FROM MAIN -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">   
    <link rel="stylesheet" type="text/css" href="/css/fr/color.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fr/reset.css"/>
    <link rel="stylesheet" href="css/fr/horizontal.css"/>
    <!-- END FROM MAIN --> 
    <link rel="stylesheet" href="/css/template_css/temp_index.css">    

</head>

<body ng-controller="indexMainCtrl">
    <!-- EFNRE START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="container-fluid">
        <div class="eco-container top">
            <div class="top-contact" style="float: left;">
                <span><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org&nbsp;&nbsp;</span> 
            </div>
            <div class="top-social-icon" style="text-align: right;">                
                <span>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a></span>
                <span>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></span>
                <span>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></span>                
            </div>
        </div>
    </div>


<!-- EFNRE END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

<div class="container-fluid"><div class="bluebar"></div></div>  



<!--  -->

<div class="container-fluid" ng-controller='registrationCtrl' >
   <div class="eco-container" >
      <div class="wrapper-md " >
         <div class="row">
            <div class="col-lg-12">


                <div class="col-lg-12">
                   <!-- chat -->
                   <div class="panel panel-default">
                      <div class="panel-heading"><div style="color:#000;">MAINTENANCE</div></div>
                      <div class="panel-body">
                         <div class="m-b">
                            <div class="m-l-xxl">
                              
                          </div>
                      </div>

                  </div>

              </div>

      </div>

  </div>
</div>
</div>

</div>   
</div>   






<script src="/js/template_js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>


<script src="/js/template_js/jquery.min.js"></script>
<script src="/js/template_js/bootstrap.min.js"></script>
<!-- dropdown -->
<script src="/js/template_js/jquery.js"></script>
<script src="/js/template_js/dropdown_js.js"></script>
<script src="/js/template_js/dropdown_hover_ajax.js"></script>
<!-- end dropdown -->
<!-- carousel -->
<script src="/js/template_js/amazingcarousel.js"></script>
<script src="/js/template_js/initcarousel-1.js"></script>
<!-- end carousel -->
<script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>

<script src="/js/template_js/vendor/bootstrap.min.js"></script>

<script src="/js/template_js/main.js"></script>



<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/styles.js"></script>




<!-- JS FROM MAIN -->

<!--==========================================BOOSTRAP JS=============================================-->
<script type="text/javascript" src="/js/fr/jquery.counterup.min.js"></script>
<script type="text/javascript" src="/js/fr/waypoint.min.js"></script>
<script>
    $(document).ready(function () {

        $(".mapp").hide();
        $(".map-btncl").hide();
        $(".map-btn").click(function () {
            $(".mapp").toggle("slow");
        });

        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });


    });

</script>

    <?php echo $script_google; ?>
    
    </body>
    </html>





