<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earth Citizens Organization</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/ico" href="/images/template_images/favicon.png" />

    <link rel="stylesheet" href="/css/template_css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/template_css/main.css">

    <!--==========================================FONT AWOSOME=============================================-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="/css/template_css/slidercss.css"> 
    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"></link>      

    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">
    
    <link href='http://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Arvo|PT+Sans|PT+Sans+Narrow|Roboto|Raleway|Montserrat|Roboto+Slab|Titillium+Web|Vollkorn' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/template_css/temp_index.css">        

</head>

<body ng-controller="indexMainCtrl">
    <?php echo $this->getContent() ?>
    <div class="container-fluid">
        <div class="eco-container top">
            <div class="row">
                <div class="col-xs-4 toptop1">
                    <div class="top-contact" style="float: left;">
                        <span><a href="mailto:info@earthcitizens.org" style="color: #5386C1 "><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org</a></span>
                    </div>
                </div>
                <div class="col-xs-4 toptop2">
                    <div class="top-contact" style="text-align:center;">
                        <span style="color: #5386C1;  "><i class="fa fa-user"> </i>&nbsp;&nbsp;Earth Citizens Count: {[{ userscount }]}</span>
                        <span style="color: #5386C1;  " class="join"><a ng-href="donation/##new-account">Join</a></span>
                    </div>
                    
                </div>
                <div class="col-xs-4 toptop3" style="padding-top:5px">
                    <div class="top-social-icon" style="text-align: right;">
                        <span>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a></span>
                        <span>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></span>
                        <span>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MENU START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="container-fluid">
        <div class="eco-container">
            <div id="ecologo"><a href="http://www.earthcitizens.org"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a></div>
            <div class="donateforbtn"><a href="/nepalrelief">Donate to Nepal</a></div>
            <div class="ecositenav">
                <nav  class="nav">
                    <ul class="dropdown">
                        <li class="drop">
                            <a href="#abouteco" id="selected4">
                                <div id="menu_icon_about" class="menudiv1">                                    
                                    <div class="menuicon1"></div>
                                    <div class="p">WHAT IS ECO?</div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu2">
                                <li><a style="padding-top: 15px;" href="#">MORE ABOUT ECO</a></li>
                                <li><a href="#">PARTNERS & SPONSORS</a></li>
                                <li><a href="#">HOW TO START CHANGE</a></li>                          
                            </ul>
                        </li>
                        <li class="drop">
                            <a href="#ouractivities" id="selected2">
                                <div id="menu_icon_training" class="menudiv2">                                    
                                    <div class="menuicon2"></div> 
                                    <div class="p">JOIN</div>
                                </div>
                            </a>
                        </li>
                        <li class="drop">
                            <a href="#ourprograms" id="selected3">
                                <div id="menu_icon_peace_parks" class="menudiv3">                                    
                                    <div class="menuicon3"></div> 
                                    <div class="p">LEARN</div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu3">
                                <li><a style="padding-top: 15px;" href="#">PROGRAMS</a></li>
                                <li><a href="#">REGISTER</a></li>
                                <li><a href="#">SUPPORT FOR GRADUATES</a></li>
                            </ul>
                        </li>
                        <li class="drop">
                                <a href="#" id="selected1">
                                    <div id="menu_icon_what_is_eco" class="menudiv4">                                    
                                        <div class="menuicon4"></div> 
                                        <div class="p">SERVE</div>
                                    </div>
                                </a>
                                <ul class="sub_menu" id="sub_menu4">
                                    <li><a style="padding-top: 15px;" href="#">HEROES NEWS</a></li>
                                    <li><a href="#">CALL HEROES</a></li>
                                    <li><a href="#">BECOME AN ECO VOLUNTEER</a></li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#supportus" id="selected6">
                                    <div id="menu_icon_support_us" class="menudiv6">                                    
                                        <div class="menuicon6"></div> 
                                        <div class="p">STORE</div>
                                    </div>
                                </a>
                                <ul class="sub_menu" id="sub_menu5">
                                    <li><a style="padding-top: 15px;" href="#">ECO TOILET KIT</a></li>
                                    <li><a href="#">EARTH CITIZENS KIT</a></li>
                                    <li><a href="#">SPECIAL OFFERS</a></li>
                                    <li><a href="#">GIFTS & APPAREL</a></li>
                                    <!-- <li><a href="#" style="border-radius: 0px 0px 10px 10px;">DONATE NOW</a></li> -->
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#supportus" id="selected5">
                                    <div id="menu_icon_support_us" class="menudiv5">                                    
                                        <div class="menuicon5"></div> 
                                        <div class="p">DONATE</div>
                                    </div>
                                </a>   
                                <ul class="sub_menu" id="sub_menu5">
                                    <li><a style="padding-top: 15px;" href="#">WHY GIVE?</a></li>
                                    <li><a href="#">DONATE</a></li>
                                    <li><a href="#">WAYS OF GIVING</a></li>
                                    <!-- <li><a href="#" style="border-radius: 0px 0px 10px 10px;">DONATE NOW</a></li> -->
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </nav>
                </div>
                <div class="clearfix"></div>
            </div>    
        </div>

    <div class="container-fluid">
    <div class="mob-ecologo"  style="width:115px;margin:auto;padding-top:5px;"><a href="http://www.earthcitizens.org/indextemp"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a></div>
        <div class="mobileMenu mobileMenu2">
            <nav role="navigation" class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><p>ECO</p></a>
                </div>
                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">WHAT IS ECO</a>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="page/index/EARTH-CITIZEN-TRAINING">TRANING<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="page/index/EARTH-CITIZEN-TRAINING">Training</a></li>
                                <li><a href="page/index/What-is-Earth-Citizen-Training">Purpose</a></li>
                                <li><a href="page/index/Curriculum">Curriculum</a></li>
                                <li><a href="page/index/Program-Location">Program Detail</a></li>
                                <li><a href="page/index/Stories-from-Graduates-and-Graduates-Activites">Stories from Graduates and Graduate's<br/>Activities</a></li>
                                <li><a href="page/index/Apply-Now">Apply Now</a></li>
                                <li><a href="page/index/Learning-Centers-Initiative">Learning Center Initiative</a></li>
                            </ul>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="page/index/PEACE-PARKS">PEACE PARKS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="page/index/PEACE-PARKS">Peace Parks</a></li>
                                <li><a href="page/index/Peace-Parks-Initiative">Peace Parks Initiative</a></li>
                                <li><a href="page/index/Submit-Your-Proposal">Submit Proposal</a></li>
                                <li><a href="page/index/Peace-Park-in-the-Korean-Demilitarized-Zone">Peace Parks in Korean DMZ</a></li>
                                <li><a href="page/index/Testimonial">Testimonial</a></li>
                            </ul>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="page/index/ABOUT">ABOUT<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="page/index/ABOUT">About</a></li>
                                <li><a href="page/index/VISION-AND-MISSION">Vision & Mission</a></li>
                                <li><a href="page/index/People-of-ECO">People of ECO</a></li>
                                <li><a href="page/index/History-of-ECO">History</a></li>
                                <li><a href="page/index/International-Collaborators">International Collaborators</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Support Us</a>
                        <ul class="dropdown-menu">
                                <li><a href="page/index/What-is-Earth-Citizen-Training">Find Projects</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- EFNRE END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="container-fluid"><div class="bluebar"></div></div>
    <div class="container-fluid banner">
        <div class="eco-container">
            <div style="width:100%">
                <div class="p-title">WHO IS <span class="color" style="color: #FF9D0F">ECO</span></div>
                <div class="p-h2">
                    Il et et, earum eum voluptur mos sam, sinci offi- 
                    catemetur? Quia quia simincium delesequi abo. Si
                    nitem fuga. Pellest qui cora earum net alitis arum re
                    earum que solendignis dem dolorum, occum sim
                    fuga.
                </div>
                <div class="learn-more">
                    <a href="">
                        <img src="images/template_images/learnmore_btn.png" align="middle" class="resizeme" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="orangebarko">
            <a href="../donation" style="font-size:22px; font-family:Leelawadee UI; color:#FFF">
                <img src="/images/template_images/donate-bttn.png" class="donbut">
                DONATE WHAT YOU CAN TO HELP
            </a>
        </div>    
    
    <!--===begin container===-->    
    <div class="container-fluid" align="center">
        <div class="eco-container">
            <div class="innerbody">
                <!--===main content===-->
                <!--===about===-->
                <div class="rightbar">
                    <h2 class="h2title">ABOUT EARTH CITIZEN</h2>
                    <div class="eco-col1">
                        <p>
                            We are a non-profit organization and movement who believes that now is the time that humanity needs
                            to respect and care for the Earth. In a world where conflicts between nations, religions, ethnicities,
                            cultures, and ideologies have become intractable,  humanity urgently needs to rise above these small
                            problems and conflicts to become one in our concern for the Earth. Peace will come when we collectively
                            recognize that the Earth's fate will determine humanity's fate, and we come to hold the Earth as
                            our shared concern and value. 
                        </p><p>
                        In order to elevate the sustainability of the Earth to
                        our highest shared value, individuals must develop an awakened consciousness, affirming that we are
                        all one humanity, from the Earth. That is the consciousness of an "Earth Citizen," a person who holds
                        the identity as a citizen of this Earth higher than any identity of nationality, race, or religion. But an Earth
                        Citizen is about more than a professed identity; an  Earth Citizen is a person who has developed their
                        character so that they have transcended the small fears, limits, and relative values from which we so
                        easily live, becoming so deeply true to who they really are inside -- and acting from that place -- that                                
                        their life naturally benefits the Earth and all people. 
                    </p>
                    For that purpose, we run the Earth Citizen Academy,an on-going training held in Sedona, Arizona that participants join for an extended period--anywhere
                    from 3 weeks to 3 months. The training is for cultivating leaders of strong character whose lives come

                </div>
                <div class="eco-col2">                              
                    <p>
                        to manifest the Earth Citizen ethos of benefitting the Earth and all people. We also create Peace Parks
                        in communities across the world. All our efforts are part of the Earth Citizen Movement, our mission to
                        create a coalition 100 million people living with the consciousness that we are all one humanity, from the
                        Earth. 
                    </p><p>
                    Earth Citizens Organization is a subsidiary of the
                    New Millennium Peace Foundation, a non-profit organization founded in 2001 with the mission of ________________.
                </p>
            </div>
        </div>
        <!--===spacer===-->
        
        <!--===news===-->
        <div class="leftbar">
            <h2 style="padding-bottom:10px; font-size:39.5px">NEWS</h2>
            <h4>Tayug Programmers on rock</h4>
            <h5>Jan. 15, 2015</h5>
            <div class="news-col">
                <p>
                    Il et et, earum eum voluptur mos sam, sinci officatem
                    etur? Quia quia simincium delesequi abo. Si nitem
                    fuga. Pellest qui cora earum net alitis arum re earum
                    que solendignis dem dolorum, occum sim fuga.
                </p>
                <a href="" style="color:#6bb747; font-size:12px">Read More</a>
            </div>
            <h4>Puyatan Session with the geeksters</h4>
            <h5>Jan. 15, 2015</h5>
            <div class="news-col">
                <p>
                    Il et et, earum eum voluptur mos sam, sinci officatem
                    etur? Quia quia simincium delesequi abo. Si nitem
                    fuga. Pellest qui cora earum net alitis arum re earum
                    que solendignis dem dolorum, occum sim fuga.
                </p>
                <a href="" style="color:#6bb747; font-size:12px">Read More</a>
            </div>
        </div>
        <!--=== ===-->     
        <div class="clearfix"></div>
        <div class="eco-container">
            <div class="blueline"></div>
        </div>
    </div>
</div>      
</div><!--===end container===-->                                

<!--===begin cont===-->
<div class="container-fluid">
    <div class="eco-container">
        <!--===middle content===-->
        <div class="middlebody">
            <div class="midconbody">
                <img src="images/template_images/who.png" class="imgcircle" />
                <h4 class="h4midbody">who we are</h4>
                <div class="midcontent">
                    We are a non-profit organization and movement that
                    believes that humanity can rise above its problems
                    and conflicts to realize peace and a sustainable
                    future only by becoming one through our highest
                    shared value and concern, the Earth. It is our mission,
                    therefore, to help individuals rise above their
                    small limits and concerns to become deeply true to
                    who they really are--one humanity, from the Earth.
                </div>
            </div>

            <div class="midconbody">
                <img src="images/template_images/what.png" class="imgcircle" />
                <h4 class="h4midbody">what we do</h4>
                <div class="midcontent">
                    We run a long-term leadership training that helps individuals
                    cultivate their character to become people
                    deeply true to themselves, whose lives and actions
                    benefit all people, embodying the consciousness
                    that we are one humanity from the Earth. We also
                    create Peace Parks in communities throughout the
                    world, to build global awareness of the importance
                    of the Earth as the central value and as a venue for
                    people to connect to the natural world and to themselves.
                    All our efforts are part of the Earth Citizen
                    Movement, with a mission to create a coalition of
                    100 Earth Citizens, for the creation of a sustainable
                    and peaceful future on earth.
                </div>
            </div>

            <div class="midconbody">
                <img src="images/template_images/why.png" class="imgcircle" />
                <h4 class="h4midbody">why it's important</h4>
                <div class="midcontent">
                    The way that we live our lives, not simply our knowledge
                    and beliefs, must reflect the most important
                    central human values--sustainability of the Earth and
                    peace for all humanity. Therefore, to bring about a
                    truly peaceful, sustainable future, we focus our initiatives
                    and actions on individual self-development and
                    gathering leaders whose lives reflect those central
                    human values. We believe that individuals' self-development
                    and change, by becoming true to who
                    we really are and living in a way that benefits all life,
                    is the only way to create a new, sustainable future
                    for the Earth.
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--=== ===-->
    </div>
</div>

<div class="container-fluid" style="padding-top:50px;background: #72bb4c">
    <!--===green content===-->
    <div class="backgroundgreen">


        <!--===feature text===-->
        <div class="eco-container">
            <div class="fetmaincon"><?php echo $feat_title ?></div>
            <div class="featdesc">
                <?php
                    $limitlenght = strrpos($feat_content, ' ');
                    if($limitlenght > 275){
                        $removedimg = strip_tags($feat_content, '<img>');
                        $limitcontent = substr($removedimg,0,275);
                        $limitlenght = strrpos($limitcontent, ' ');
                        echo substr($removedimg,0,$limitlenght).'...';
                    }else{
                        $removedimg = strip_tags($feat_content, '<img>');
                        // $limitcontent = substr($removedimg,0,275);
                        $limitlenght = strrpos($feat_content, ' ');
                        echo substr($removedimg,0,$limitlenght).'...';
                    }
                ?>
            </div>
        </div>


        <!-- Jssor Slider Begin -->
        <!-- You can move inline styles to css file or css block. -->
        <div id="slider1_container" style="position: relative; margin: auto; top: 0px; left: 0px; width: 1000px; height: 300px; overflow: hidden; ">

            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            <div style="position: absolute; display: block; background: url(images/template_images/loading.gif) no-repeat center center;
            top: 0px; left: 0px;width: 100%;height:100%;">
        </div>
    </div>

    <div u="slides" style="cursor: move; position: absolute; left: 100px; top: 30px; width: 800px; height: 400px; overflow: hidden;">

        <?php 
        $nslides = json_decode($slides);
        foreach ($nslides as $key => $value) {
            ?>
            <div>

                <img u="image" src="<?php echo $this->config->application->apiURL; ?>/images/<?php echo $slidepath;?>/<?php echo $nslides[$key]->path; ?>">
                <div u=caption t="*" class="_captionOrange"  style="position:absolute; left:20px; top: 30px; width:300px; height:30px;"></div>

            </div> 
            <?php
        }
        ?>

    </div>

    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb01" style="position: absolute; bottom: 16px; right: 10px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
    </div>
    <!-- Bullet Navigator Skin End -->

    <!-- Arrow Left -->
    <span u="arrowleft" class="jssora02l" style="width: 55px; height: 55px; top: 123px; left: 40px;">
    </span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora02r" style="width: 55px; height: 55px; top: 123px; right: 40px">
    </span>
    <!-- Arrow Navigator Skin End -->
    <a style="display: none" href="http://www.jssor.com">Image Slider</a>
</div>
<!-- Jssor Slider End -->
</div>
</div>

<!--===learn more===-->
<div class="container-fluid" style="background: #72bb4c">
    <div class="greenbarko">
        <a href="<?php echo $this->config->application->baseURL; ?>/projects/viewer/<?php echo $feat_id; ?>/featured_project" style="font-size:22px; font-family:Leelawadee UI; color:#FFF">
            <img src="images/template_images/learnmorebttn.png" />
            learn more
        </a>
    </div>
</div>

<div class="container-fluid" ng-controller="NMSubcribersCtrl">
<form class="form-validation ng-pristine ng-invalid ng-invalid-required" name="formnms">
    <div class="eco-container" style="padding-top:20px;">
        <span ng-show="emailtaken != ''" class="btn bg-warning" style="color:#000;">Email is already subscribed.</span>
        <span ng-show="emailtaken2 != ''" class="btn bg-warning" style="color:#000">Email already a member.</span>
        <span ng-show="emailregister != ''" class="btn bg-success style="color:#000"">Thank you for subscribing to newsletter.</span>
        <span ng-show="blanko != ''" class="btn bg-danger" style="color:#000">Invalid email address.</span>
    </div>
    <div class="eco-container">        
        <div class="newsbanner">
            <div class="signupko">
                SIGN UP FOR NEWSLETTER
            </div>
            <div class="inputertxt">              
                <input type="text" name="NMSemail" ng-model="nms.NMSemail" placeholder ="Enter complete email address:" class="form-control ng-pristine ng-invalid-required ng-valid-pattern ng-invalid txtbaks" required/>
            </div>
            <a href="" ng-click="SaveNMS(nms)">
                <div class="submitbttn">
                    <img src="images/template_images/icon_submit.png" />
                </div>
            </a>
        </div>  
    </div>
</form>
</div>

<div class="container-fluid">
    <div class="eco-container" style="padding-top:30px; padding-bottom:40px">
        <div class="row">
            <div class="col-md-5 right-linerer-div"><img src="images/template_images/footerbarleft.gif" class="left-linerer" /></div>
            <div class="col-md-2 social-div">
                <a href="#"><img src="images/template_images/fbicon.png" class="fb"/></a>
                <a href="#"><img src="images/template_images/twitter-ico.png" class="twitter"/></a>
                <a href="#"><img src="images/template_images/linked-ico.png" class="linked"/></a>
            </div>
            <div class="col-md-5 right-linerer-div"><img src="images/template_images/footerbarright.gif" class="right-linerer" /></div>
        </div>
    </div>
</div>

    <script>
        var API_URL = '<?php echo $this->config->application->apiURL; ?>';
    </script>
<!-- slider begin -->
<!-- it works the same with all jquery version from 1.x to 2.x -->
<script src="/js/template_js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>
<!-- use jssor.slider.mini.js (40KB) instead for release -->
<!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
<script type="text/javascript" src="/js/template_js/jssor.js"></script>
<script type="text/javascript" src="/js/template_js/jssor.slider.js"></script>

<script src="/js/template_js/jquery.min.js"></script>
<script src="/js/template_js/bootstrap.min.js"></script>

<script src="/js/template_js/jquery.js"></script>
<script src="/js/template_js/dropdown_js.js"></script>
<script src="/js/template_js/dropdown_hover_ajax.js"></script>

<script>
jQuery(document).ready(function ($) {

                //Reference http://www.jssor.com/development/slider-with-caption-jquery.html
                //Reference http://www.jssor.com/development/reference-ui-definition.html#captiondefinition
                //Reference http://www.jssor.com/development/tool-caption-transition-viewer.html

                var _CaptionTransitions = [
                //CLIP|LR
                {$Duration: 900, $Clip: 3, $Easing: $JssorEasing$.$EaseInOutCubic },
                //CLIP|TB
                {$Duration: 900, $Clip: 12, $Easing: $JssorEasing$.$EaseInOutCubic },

                //ZMF|10
                {$Duration: 600, $Zoom: 11, $Easing: { $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },

                //ZML|R
                {$Duration: 600, x: -0.6, $Zoom: 11, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic }, $Opacity: 2 },
                //ZML|B
                {$Duration: 600, y: -0.6, $Zoom: 11, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic }, $Opacity: 2 },

                //ZMS|B
                {$Duration: 700, y: -0.6, $Zoom: 1, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic }, $Opacity: 2 },

                //RTT|10
                {$Duration: 700, $Zoom: 11, $Rotate: 1, $Easing: { $Zoom: $JssorEasing$.$EaseInExpo, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInExpo }, $Opacity: 2, $Round: { $Rotate: 0.8} },

                //RTTL|R
                {$Duration: 700, x: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8} },
                //RTTL|B
                {$Duration: 700, y: -0.6, $Zoom: 11, $Rotate: 1, $Easing: { $Top: $JssorEasing$.$EaseInCubic, $Zoom: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear, $Rotate: $JssorEasing$.$EaseInCubic }, $Opacity: 2, $Round: { $Rotate: 0.8} },

                //RTTS|R
                {$Duration: 700, x: -0.6, $Zoom: 1, $Rotate: 1, $Easing: { $Left: $JssorEasing$.$EaseInQuad, $Zoom: $JssorEasing$.$EaseInQuad, $Rotate: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseOutQuad }, $Opacity: 2, $Round: { $Rotate: 1.2} },
                //RTTS|B
                {$Duration: 700, y: -0.6, $Zoom: 1, $Rotate: 1, $Easing: { $Top: $JssorEasing$.$EaseInQuad, $Zoom: $JssorEasing$.$EaseInQuad, $Rotate: $JssorEasing$.$EaseInQuad, $Opacity: $JssorEasing$.$EaseOutQuad }, $Opacity: 2, $Round: { $Rotate: 1.2} },

                //R|IB
                {$Duration: 900, x: -0.6, $Easing: { $Left: $JssorEasing$.$EaseInOutBack }, $Opacity: 2 },
                //B|IB
                {$Duration: 900, y: -0.6, $Easing: { $Top: $JssorEasing$.$EaseInOutBack }, $Opacity: 2 },

                ];

                var options = {
                    $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                    $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                    $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                    $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                    $ArrowKeyNavigation: true,                          //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                    $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                    $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                    //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                    //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                    $SlideSpacing: 0,                                   //[Optional] Space between each slide in pixels, default value is 0
                    $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                    $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                    $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                    $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                    $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                    $CaptionSliderOptions: {                            //[Optional] Options which specifies how to animate caption
                        $Class: $JssorCaptionSlider$,                   //[Required] Class to create instance to animate caption
                        $CaptionTransitions: _CaptionTransitions,       //[Required] An array of caption transitions to play caption, see caption transition section at jssor slideshow transition builder
                        $PlayInMode: 1,                                 //[Optional] 0 None (no play), 1 Chain (goes after main slide), 3 Chain Flatten (goes after main slide and flatten all caption animations), default value is 1
                        $PlayOutMode: 3                                 //[Optional] 0 None (no play), 1 Chain (goes before main slide), 3 Chain Flatten (goes before main slide and flatten all caption animations), default value is 1
                    },

                    $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                        $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                        $ChanceToShow: 0,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                        $AutoCenter: 0,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                        $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                        $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                        $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                        $SpacingY: 10,                                   //[Optional] Vertical space between each item in pixel, default value is 0
                        $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
                    },

                    $ArrowNavigatorOptions: {
                        $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                        $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                        $AutoCenter: 0,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                        $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
                    }
                };
                var jssor_slider1 = new $JssorSlider$("slider1_container", options);
                //responsive code begin
                //you can remove responsive code if you don't want the slider scales while window resizes
                function ScaleSlider() {
                    var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                    if (parentWidth)
                        jssor_slider1.$ScaleWidth(Math.min(parentWidth, 1225));
                    else
                        window.setTimeout(ScaleSlider, 30);
                }
                ScaleSlider();

                $(window).bind("load", ScaleSlider);
                $(window).bind("resize", ScaleSlider);
                $(window).bind("orientationchange", ScaleSlider);
                //responsive code end
            });
</script>

<script>window.jQuery || document.write('<script src="/js/template_js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<!-- <script src="/js/template_js/vendor/bootstrap.min.js"></script> -->

<script src="/js/template_js/main.js"></script>

<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/styles.js"></script>
<script src="/js/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript" src="/js/angular/angular.min.js"></script> 
<script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script> 
<script type="text/javascript" src="/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/js/fr/app.js"></script>

<script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
<script src="/fcalendar/moment.js"></script>
<script src="/fcalendar/fullcalendar.js"></script>
<script src="/fcalendar/gcal.js"></script>
<script src="/fcalendar/calendar.js"></script>
<script src="/fcalendar/calendarDemo.js"></script>

    <?php echo $script_google; ?>
    
    </body>
    </html>
