<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--==========================================BOOSTRAPE CSS=============================================-->
    <link rel="stylesheet" type="text/css" href="/css/fr/bootstrap-combined.min.css"/>    
    <link rel="stylesheet" type="text/css" href="/css/fr/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fr/bootstrap.css"/>


    <!--==========================================FONT AWOSOME=============================================-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!--==========================================CUSTOM CSS=============================================-->
    <link rel="stylesheet" type="text/css" href="/css/fr/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fr/color.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fr/reset.css"/>
    <link rel="stylesheet" href="css/fr/horizontal.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">     



    
    <link rel="stylesheet" href="/css/template_css/main.css">


    <link rel="stylesheet" href="/css/template_css/slidercss.css"> 
    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"></link>      

    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">
    
    <link href='http://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Arvo|PT+Sans|PT+Sans+Narrow|Roboto|Raleway|Montserrat|Roboto+Slab|Titillium+Web|Vollkorn' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/template_css/index.css">  






</head>

<body ng-controller="indexMainCtrl">

    <!--==========================================TOP NAV=============================================-->
        <!--div class="container-fluid" >
        <div style="width: 100%; margin: auto;" align="center">
            <img src="img/ecologo.png" />
        </div>
    </div-->
    <!-- EFNRE START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!--USON START-->
    <div class="container-fluid">
        <div class="body-container">
            <section class="top-social" id="main-navbarr">
                <div class="container top-nav clearfix">
                    <div class="span4 address pull-left">
                        <ul>
                            <li><i class="fa fa-envelope-o"></i>
                            </li>
                            <li class="addrs">info@earthcitizens.org</li>
                            <li><i class="fa fa-phone"></i>

                            </li>
                            <li class="addrs"> 928-301-6336</li>
                        </ul>
                    </div>
                    <div class="social-icon" style="float: right;">
                        <ul>
                            <li><a href="https://www.youtube.com/user/goearthcitizens" ><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </section>  
        </div>
    </div>
    <!--===========================================MAIN NAV==============================================-->

    <section class="main-nav" id="home"> 
        <nav>
            <div class="main-nav bottom-nav" >
                <div class="navbar navbar-inverse clearfix">

                    <div class="navbar-inner">

                        <div class="body-container">

                            <div class="logo pull-left" >
                                <a href="/"><img src="/images/template_images/ecologo2.png"  alt="logo" /></a>

                            </div>                           
                            
                            <div class="ecositenav">
                                <nav>
                                    <ul class="dropdown" >
                                        <li class="drop">
                                            <a href="#about eco" id="selected4">
                                                <div id="menu_icon_about">
                                                    <div id="training_selected4" class="selects"><img src="/images/template_images/menu_icon_about_selected.png" /></div>
                                                    <img id="training_not_selected4" src="/images/template_images/menu_icon_about.png"/>
                                                    <div class="p">ABOUT US</div>
                                                </div>
                                            </a>

                                        </li>
                                        <li class="drop">
                                            <a href="#our activities" id="selected2">
                                                <div id="menu_icon_training">
                                                    <div id="training_selected2" class="selects"><img src="/images/template_images/menu_icon_training_selected.png" /></div>
                                                    <img id="training_not_selected2" src="/images/template_images/menu_icon_training.png"/>
                                                    <div class="p">OUR ACTIVITIES</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="drop">
                                            <a href="#our programs" id="selected3">
                                                <div id="menu_icon_peace_parks">
                                                    <div id="training_selected3" class="selects"><img src="/images/template_images/menu_icon_peace_parks_selected.png" /></div>
                                                    <img id="training_not_selected3" src="/images/template_images/menu_icon_peace_parks.png"/>
                                                    <div class="p">OUR PROGRAMS</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="drop">
                                            <a href="http://heroesconnect.org" target="_blank" id="selected1">
                                                <div id="menu_icon_what_is_eco">                
                                                    <div id="training_selected1" class="selects"><img src="/images/template_images/menu_icon_what_is_eco_selected.png" /></div>
                                                    <img id="training_not_selected1" src="/images/template_images/menu_icon_what_is_eco.png"/>
                                                    <div class="p">HEROES CONNECT</div>
                                                </div>
                                            </a>

                                        </li>

                                        <li class="drop">
                                            <a href="#support us" id="selected5">
                                                <div id="menu_icon_support_us">
                                                    <div id="training_selected5" class="selects"><img src="/images/template_images/menu_icon_support_us_selected.png" /></div>
                                                    <img id="training_not_selected5" src="/images/template_images/menu_icon_support_us.png"/>
                                                    <div class="p">SUPPORT US</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </nav>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid"><div class="bluebar"></div></div>    
        </nav>  
    </section>
    <!--===========================================mobile navbar==============================================-->

    <div class="container-fluid">
        <div class="mobileMenu mobileMenu2">
            <nav role="navigation" class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle" style="float: right; width: 56px;height: 56px;">                        
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        
                    </button>
                    <a href="#" class="navbar-brand"><img src="/images/template_images/ecologo3.png"  alt="logo"/></a>
                </div>
                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse">
                    <ul class="navbar-nav">
                        <li>
                        <a href="#about eco">ABOUT US</a>
                        </li>
                        <li>
                            <a href="#our activities">OUR ACTIVITIES</a>
                        </li>
                        <li>
                            <a href="#our programs">OUR PROGRAMS</a>
                        </li>
                        <li>
                            <a href="http://heroesconnect.org">HEROES CONNECT</a>
                        </li>
                        <li>
                            <a href="#support us">SUPPORT US</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!--===========================================main slider==============================================-->
    
    <div class="container-fluid">
        <div class="flicker-example" data-block-text="false">
            <ul>
                <li data-background="/img/img4n.png">
                    <div class="p-title">CALLING ALL <span class="color" style="color: #FF9D0F"> HEROES </span> </div>
                    <div class="p-h2">We stand at the cusp of a new beginning--a noble journey of awakening latent power within. The time is now.</div>
                    <div class="learnheroes"><a href="http://heroesconnect.org" >Connect with HEROES</a></div>
                </li>
                <li data-background="/img/bgtop.png">
                    <div class="p-title">WE ARE <span class="color"> ECO </span> </div>
                    <div class="p-h2">A non-profit organization and movement led by a group of passionate, dynamic trainers and visionary leaders who live with the mission of creating a peaceful and sustainable future for humanity and the Earth.</div>

                </li>
                <li data-background="/img/img3n.png">
                    <div class="p-title">WE NEED <span class="color">YOUR</span> HELP</div>
                    <div class="p-h2">Our goal is to build a community of 100 Million Earth Citizens who can rise above its problems and conflicts to realize peace and a sustainable future only by becoming one through our highest shared value and concern, the Earth.</div>

                    <div class="learn"><a href="#wearee">Donate Now</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">

        <div class="orangebarko">
            <a href="" style="font-size:22px; font-family:Leelawadee UI; color:#FFF">
                <img src="images/template_images/donate-bttn.png" class="donbut" />
                DONATE WHAT YOU CAN TO HELP
            </a>
        </div>
    </div>
    
    <!--USON End-->

    
    
    

    

    
    <!--===begin container===-->    
    <div class="container-fluid">

        <div class="body-container">            
            <!--===main content===-->
            <!--===about===-->   

            <!--===Anchor===-->
            <a name="about eco"></a>
            <!--===Anchor===-->          
            <div style="text-align:left; width: 100%; padding-top: 20px !important;">
                <span style="font-size: 36px; color: #5386c1 !important;">ABOUT ECO</span><br/><br/>
                <p>
                    On September 11, 2013, EARTH CITIZENS ORGANIZATION (ECO) was formed to develop and promote the Earth Citizen Movement by providing training and education, developing training facilities, conducting peace projects, and organizing community actions that help people to create changes in their lives to support peace and sustainability at all levels of community. 

                </p>
                <p>
                    The name of the organization reflects our belief that we are all citizens of the Earth and share the responsibility as its stewards for the well-being and continuity of our planet and all the life forms on it. Sharing this idea and starting to create changes by applying it to our daily life are the core of the Earth Citizen Movement. There doesn’t need to a big idea or agenda to start creating change. Any action, no matter how small it is, that brings balance and mindfulness to our life, that helps us see the obvious need for change, that shows genuine good intention toward others will help.
                </p>
                <p>
                    Start sharing this idea with others. Start living by this idea. Take caring for the earth and the well-being of all life forms on it as your very personal responsibility. 
                </p>
                <p>
                    <div class="blueline2" style="  width: 100%;  background-color: #5386c1;  height: 3px;"></div>
                </p>

            </div>

            
            <div style="text-align:left; width: 100%; padding-top: 20px !important;">
                <!--===Anchor===-->
                <a name="our activities"></a>
                <!--===Anchor===--> 
                <span style="font-size: 36px; color: #5386c1 !important;">OUR ACTIVITIES</span><br/><br/>
                <p>
                    Our goal is to reach out to 100 million people with the idea of Earth Citizenship and help them live by its standards. With over 7 billion people currently living on the Earth, 100 million is more than 1% of the world's population. If 1% of humanity start thinking as Earth Citizens and making choices accordingly, this will create momentum toward greater changes for peace and sustainability. To accomplish this goal, ECO is pursuing the following activities:
                </p>
                <span style="font-size: 20px; color: #72bb4c !important;">LEADERSHIP DEVELOPMENT</span><br/><br/>
                <p>
                    The key to change is people, leaders who with passion and courage pioneer the changes we need at all levels of community, from local to global. ECO, for the education of such leaders, runs the Earth Citizen School to provide training in leadership development and subsequent skills and practices for mindful living for sustainability under the name of “Heroes Leadership Training.” Through this program, participants are guided to develop their body and mind and cultivate the greatness of human spirit to create positive changes in their personal lives and their communities. 
                </p>
                
                <span style="font-size: 20px; color: #72bb4c !important;">COMMUNITY OUTREACH</span><br/><br/>
                <p>
                    ECO organizes and promotes the Earth Citizens Movement at all levels of community. Activities in local communities are mostly facilitated by the graduates of ECO’s leadership training program. To promote the Earth Citizen Movement and support the graduates’ activities, ECO, in collaboration with supporting organizations, is running regional Earth Citizen Learning Centers nationwide. The Learning Centers serve as the hub for all Earth Citizen Leaders engaged in local Earth Citizen activities. The Learning Centers provide education sessions once a month to the leaders and the public as well. 
                </p>                
                <span style="font-size: 20px; color: #72bb4c !important;">TRAINING FACILITY DEVELOPMENT</span><br/><br/>
                <p>
                    The purpose of the Earth Citizen School program is not only to give instruction, but also to guide the participants to incorporate new skills for sustainability into their lives and to develop leadership capabilities through the real-life experience of helping and teaching other people. This scope of the training requires a space that has facilities for classroom instruction, physical training, hands-on practice for mindful living, and accommodations, together with opportunities for community outreach activities. For this purpose, ECO plans to develop training facilities in Northern Arizona as its primary location and expand to other states as the Earth Citizen Movement grows. 
                </p>
                <p>
                    <div class="blueline2" style="  width: 100%;  background-color: #5386c1;  height: 3px;"></div>
                </p>

                
            </div>
            <div style="text-align:left; width: 100%; padding-top: 20px !important;">
                <!--===Anchor===-->
                <a name="our programs"></a>
                <!--===Anchor===-->
                <span style="font-size: 36px; color: #5386c1 !important;">OUR PROGRAMS</span><br/><br/>
                <p>
                    The Earth Citizens School Program will encompass attitude, knowledge, and skills that are essential in organizing and leading the Earth Citizen Movement in diverse environments. More particularly, the curriculum includes the following subject areas:
                </p>

                <p><span style="font-size: 20px; color: #72bb4c !important;">Culture: </span>
                    Knowledge, wisdom, and practices from diverse cultural traditions that support living in harmony with other people and various natural environments will be explored and studied to expand the participants’ cultural understanding and develop in them an attitude of acceptance and openness. Spirituality and mindfulness are among the key elements in the study of culture in this program.
                </p>

                <p><span style="font-size: 20px; color: #72bb4c !important;">Lifestyle: </span>
                    Key elements of a healthy lifestyle such as nutrition and physical and mental exercise will be taught. Learning in this subject area will primarily help the participants improve their health and be used for the participants to help others create the proposed changes in their lives.. 
                </p>

                <p><span style="font-size: 20px; color: #72bb4c !important;">Soft technology: </span>
                    Participants will learn the basic skills to grow vegetables, trees, and animals, fix homes, and apply natural healing modalities. This subject area can be expanded to more advanced technology for sustainability such as renewable energy, waste management, and water recycling.
                </p>

                <p><span style="font-size: 20px; color: #72bb4c !important;">Leadership: </span>
                    Making and leading changes in culture and lifestyle is challenging. Individuals need to manage themselves, develop their strengths, demonstrate integrity, overcome their limitations, and motivate others to join and work together. The leadership component of this training program will guide participants to find and develop their strengths as leaders and use their leadership to work with others.
                </p>

                <p>
                    These subject areas are incorporated into our flagship program <b>“Heroes Leadership Training”</b>. This name represents the primary purpose of the program: developing the greatest qualities of human nature such as compassion, courage, truthfulness, and integrity—those found in the heroes we admire. The program is designed to awaken and cultivate these qualities within the participants.
                </p>

                <p>
                    A one-week Heroes Leadership Training is followed by an optional 3-week Earth Citizen Living Practice, which covers training and education in hands-on skills and practices for mindful living and holistic natural health. 
                </p>

                <p>
                    <br/>
                    <a href="http://heroesconnect.org" style="text-decoration: underline;">For more information and registration.</a>
                    <br/><br/>
                </p>
                <p>
                    <div class="blueline2" style="  width: 100%;  background-color: #5386c1;  height: 3px;"></div>
                </p>
            </div>                
            <div style="text-align:left; width: 100%; padding-top: 20px !important;">

                <!--===Anchor===-->
                <a name="support us"></a>
                <!--===Anchor===-->
                <span style="font-size: 36px; color: #5386c1 !important;">SUPPORT US</span><br/><br/>
                <p>
                    To pursue the projects to advance our mission, ECO relies on donations from institutions and individuals who support our shared vision for a peaceful and sustainable world.
                </p>
                <span style="font-size: 20px; color: #72bb4c !important;">SCHOLARSHIP FUND</span><br/><br/>
                <p>
                    The cost for one week of training per person, including room and board, is approximately $1,000. Each participant will pay $300 or less, and the rest will be supported by ECO’s scholarship fund. Our goal is to develop 1,200 leaders by 2016, and increase the number every year. To achieve this goal, we seek to raise $2 Million for a scholarship fund. 
                </p>
                <span style="font-size: 20px; color: #72bb4c !important;">FACILITY DEVELOPMENT FUND</span><br/><br/>
                <p>
                    To make this training and education available to a large audience, ECO is developing training facilities in Northern Arizona. The project will be divided into three phases, and the total cost for completing all three phases will be approximately $13 Million. Our goal is completing the whole project by the end of 2016, and being ready to accommodate 200 candidate leaders per term from 2017. 
                </p>
                <span style="font-size: 20px; color: #72bb4c !important;">COMMUNITY OUTREACH SUPPORT</span><br/><br/>
                <p>
                    The success of ECO’s effort depends largely on the maintained activities of the leaders in their local communities when they return after the training. To ensure continued support, ECO plans to create local Earth Citizens Learning Centers and organize events. To support Earth Citizens community activities, ECO seeks to raise $2 Million for 2015 for this purpose. 
                </p>
                <p>
                    ECO is a 501(c)(3) non-profit organization and your donation to ECO is tax-deductible as a charitable contribution. 
                </p>
                <p style="text-align: center;">
                    <br/>
                    <a href="#"  style="text-decoration: none;">
                        <span style="font-size: 17px; color: #8d8b8b !important; border-style: solid; border-width: 2px; padding: 5px;">DONATE NOW</span>
                    </a>
                    <br/><br/>
                </p>
            </div>
        </div>            
    </div>
</div>                              
<div class="container-fluid">
    <div  class="fotter-bg">
        <div class="footer-container">
            <div class="row">
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>MISSION STATEMENT<br/><br/></span>
                    <div style="width:190px; padding-right: 55px;">
                        <span style="font-size: 10px;">
                            Earth Citizens Organization (ECO) is a nonprofit that promotes natural health and mindful living for a sustainable world. An Earth Citizen is a person who understands that we are all citizens of the Earth and takes responsibility for its well-being.<br/><br/>
                        </span>
                    </div>

                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>NAVIGATION<br/><br/></span>
                    <div style="width:190px; padding-right: 55px;">
                        <span style="font-size: 10px;">
                            <a href="#" style="color:#ffffff;">ABOUT US</a><br/>
                            <a href="#" style="color:#ffffff;">OUR ACTIVITIES</a><br/>
                            <a href="#" style="color:#ffffff;">OUR PROGRAMS</a><br/>
                            <a href="#" style="color:#ffffff;">HEROES CONNECT</a><br/>
                            <a href="#" style="color:#ffffff;">SUPPORT US</a><br/>
                            <a href="#" style="color:#ffffff;">DONATE</a><br/><br/>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>ADD US<br/><br/></span>
                    <div style="width:190px; padding-right: 55px;">
                        <span style="font-size: 10px;">
                            <ul>
                                <li><a href="https://www.youtube.com/user/goearthcitizens" style="color:#ffffff;"><i class="fa fa-youtube" style="color: #ffffff;"></i>&nbsp;&nbsp;YouTube</a><br/><br/></li>
                                <li><a href="https://www.facebook.com/EarthCitizensOrganization" style="color:#ffffff;"><i class="fa fa-facebook" style="color: #ffffff;"></i>&nbsp;&nbsp;Facebook</a><br/><br/></li>
                                <li><a href="https://twitter.com/goearthcitizens" style="color:#ffffff;"><i class="fa fa-twitter" style="color: #ffffff;"></i>&nbsp;&nbsp;Twitter</a></li>
                            </ul><br/><br/>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" style="color: #ffffff !important; float: left;">
                    <span>CONTACT US<br/><br/></span>
                    <div style="width:190px; padding-right: 55px;">
                        <span style="font-size: 10px;">
                            Earth Citizens Organization<br/>
                            340 Jordan Road Sedona, AZ 86336
                            <br/><br/>
                            <i class="fa fa-phone"></i>&nbsp;&nbsp;Phone : 928-301-6336
                            <br/><br/>
                            <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Email: goearthcitizens@gmail.com
                            <br/><br/>
                        </span>
                    </div>
                </div>                    
            </div>
            <div class="row" style="padding-top: 10px;">
                <div  style="  width: 100%;  background-color: #ffffff;  height: 3px;"></div>
            </div>
            <div class="row" style="padding-top: 2px;">
                <p style="font-size: 10px; text-align: center;color:#ffffff;">
                    ©2015 Earth Citizen Organization All rights reserved
                </p>
            </div>
        </div>
    </div>
</div>
<!-- slider begin -->
<!-- it works the same with all jquery version from 1.x to 2.x -->
<script src="/js/template_js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>
<!-- use jssor.slider.mini.js (40KB) instead for release -->
<!-- jssor.slider.mini.js = (jssor.js + jssor.slider.js) -->
<script type="text/javascript" src="/js/template_js/jssor.js"></script>
<script type="text/javascript" src="/js/template_js/jssor.slider.js"></script>

<script src="/js/template_js/jquery.min.js"></script>
<script src="/js/template_js/bootstrap.min.js"></script>

<script src="/js/template_js/jquery.js"></script>
<script src="/js/template_js/dropdown_js.js"></script>
<script src="/js/template_js/dropdown_hover_ajax.js"></script>



<script>window.jQuery || document.write('<script src="/js/template_js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<script src="/js/template_js/vendor/bootstrap.min.js"></script>

<script src="/js/template_js/main.js"></script>




<script src="/js/fr/jquery.js" type="text/javascript" charset="utf-8"></script> 

<script src="/js/fr/min/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
<script src="/js/fr/min/jquery-finger-v0.1.0.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {

        $('.flicker-example').flicker();

    });
</script>


<script type="text/javascript" src="/js/fr/migrate.js"></script> 
<script type="text/javascript" src="/js/fr/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/js/fr/jquery.contentcarousel.js"></script>
<script type="text/javascript" src="/js/fr/jquery.simplemodal.1.4.4.min.js"></script>
<script type="text/javascript">
    $('#ca-container').contentcarousel();
</script>   
<!--==========================================FANCY BOX JS=============================================-->
<script type="text/javascript" src="/js/fr/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/js/fr/owl.carousel.js"></script>
<script type="text/javascript" src="/js/fr/custom.js"></script> 

<!--==========================================BOOSTRAP JS=============================================-->
<script type="text/javascript" src="/js/fr/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/fr/bootstrap.js"></script>
<script type="text/javascript" src="/js/fr/jquery.counterup.min.js"></script>
<script type="text/javascript" src="/js/fr/waypoint.min.js"></script>
<script>
    $(document).ready(function () {

        $(".mapp").hide();
        $(".map-btncl").hide();
        $(".map-btn").click(function () {
            $(".mapp").toggle("slow");
        });

        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });


    });

</script>



<!--==========================================horizontal JS=============================================-->
<script type="text/javascript" src="/js/fr/horizental/modernizr.js"></script>
<script type='text/javascript' src="/js/fr/horizental/plugins.js"></script>
<script type='text/javascript' src="/js/fr/horizental/sly.js"></script>
<script type='text/javascript' src="/js/fr/horizental/horizontal.js"></script>

<!--============================================time counter jquery========================================-->
<script src="/js/fr/jquery.countdown.js"></script>
<script src="/js/fr/function.js"></script>
<script src="/js/fr/tesi.js" type="text/javascript"></script> 
<!--============================================Progress bar========================================-->       
<script type="text/javascript" src="/js/fr/goalProgress.js"></script>
<script src="/js/fr/progressjs.js"></script>
<!--==========================================ISOTOP JS=============================================-->
<script type="text/javascript" src="/js/fr/sorting.js"></script>
<script type="text/javascript">
    $(function () {
        "use strict";
        $('#Grid').mixitup();
                        // $( "#birthday" ).datepicker({
                        //changeMonth: true,
                        //changeYear: true,
                        //yearRange: "-90:+0"
                        //});


});
</script>   

<!--==========================================sticky navbar js=============================================-->

<script type="text/javascript" src="/js/fr/cbpQTRotator.min.js"></script>
<script type="text/javascript" src="/js/fr/mypassion.js"></script> 
<script type="text/javascript" src="/js/angular/angular.min.js"></script> 
<script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script> 
<script type="text/javascript" src="/js/angular/ui-validate.js"></script> 
<script type="text/javascript" src="/js/fr/app.js"></script> 
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

    <?php echo $script_google; ?>
    
</body>
</html>
