.closebutton{ /* to make a nice looking pure CSS3 close button */
    /*display:block;*/
    position:relative;
    /*top:-5px;*/
    /*right:10px;*/
    /*background:#f4e1c1;*/
    /*color: #000000;*/
    height:20px;
    width:20px;
    float: right;
    /*margin-top: 20px;*/
    line-height:20px;
    font-size:20px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    /*-webkit-border-radius:20px;*/
    /*-moz-border-radius:20px;*/
    /*-o-border-radius:20px;*/
    /*border-radius:20px;*/
    z-index: 9999;
}
.closebutton:hover{
    /*line-height:25px;*/
    /*font-size:25px;*/
    background: rgba(244, 225, 193, 1);    
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
    border-radius:100%;
    /*margin-right: 2px;*/
}
.helper-close-modal{
    float: right;
    font-size: 30px;
    margin-top: 0px;
    margin-right: 5px;
}
.close-modal{
    float: right;
    font-size: 30px;
    margin-top: -10px;
}
.close-modal-2{
    float: right;
    font-size: 30px;
    margin-top: -40px;
}
.savevid{
    width: 80%;
    margin: auto;    
}

.service-price{

}
.price-control-action{
    visibility: hidden;
}
.service-price:hover .price-control-action {
    visibility: visible;
}
.padding-left0{
    padding-left: 0px !important;
}

.xxx-modal-window .modal-dialog {
    width: 90%;
}


.xxx-modal-window .panel-main {
    height: 500px !important;
    overflow-y: scroll;
}
.galleryactionbutton{
    display: none;
}
.imagegallerystyle{
    cursor: pointer;
}
.check-icon{
    margin:5px;
    font-size: 30px;
    color: green;
}
.selectedstyle{
    border: 5px solid green;
}
.imagegallerystyle:hover{
    /*opacity: 0.7;*/
    border: 3px solid #1199c4;
}
.imagegallerystyle:hover .galleryactionbutton{
    display: block;
}
.smallThumb{
    background-position: center;
    background-size: cover;
    width:35px;
    height: 35px;
}


.youtube-play {
    width: 100%;
    text-align: center;
    z-index: 5;
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.center{
    text-align: center;
}
.invalid{
    color: red;
}
.manage-action{
    font-size: 20px;
    padding: 0px 5px;
}
.manage-action:hover{
    font-size: 21px;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.fade-in-out {
    transition: 1s linear all;
    opacity: 1;
}
.pagestatuscontent2 {
    padding: 5px;
    float: left;
    width: auto;
    overflow: hidden;
}
.pagestatuscontent {
    padding: 5px;
    float: left;
    width: 90px;
    overflow: hidden;
}
.checkstatuscontent {
    float: left;
    width: 40px;
    overflow: hidden;
}
.checkcontent {
    padding: 5px 0 5px 0;
    float: left;
    width: 20px;
    overflow: hidden;
}

iframe{
    width: 100%;
    height: 200px;
}
.app-modal-window .modal-dialog {
    width: 90%;
}
.helper-modal-window .modal-dialog {
    width: 60%;
}
.helper-modal{
    width: 100%;
}
.hiddenoverflow {
    overflow: hidden;
}
.label_profile_pic {
    display: block;
    margin:10px 0;
    width: 100%;
}
#profpic {
    width: 100%;
    height: 190px;
}
.propic {
    position: relative;
}
.select-profile-pic {
    font-size: 20px;
    color: #99a6ad;
    position: absolute;
    left: 80%;
}
.vendor-view{
    color: #005196;
}
.content-view{
    color: #005196;
}

a.change-pass{
    color: #005196;
}
a.change-pass:hover{
    text-decoration: underline;
}
a.edit-prof{
    color: #005196;
}
a.edit-prof:hover{
    text-decoration: underline;
}
 thead.manage tr{
    background: #1B1C1C;
    color: #ffffff;
}
tbody tr{
    background: #C9CFD2;
}

table.bnb tr{
    background: transparent;
}
.btn-plus{    
    font-size: 20px;
}
/*a.info-url:hover{
    background: url(/images/info_images/event_url.png);
}*/
.pull-right2{
    float:right;
}
.tabtext{
    padding-left: 40px;
}
.album-padding{
    padding: 15px 15px 15px 15px;
}
.remove{
    position: absolute;
    right: 4%;
    background: #EEF3CB;
    padding: 3px; 
}
.opt-btn{
    float: right;
    background: #EEF3CB;
    padding: 3px; 
    margin-right: 5px
}
.mar-right{
    margin-right: 20px;
}
.bg-albumtitle {
    background-color: rgba(0,0,0, 0.3);
    color: #f4f3f9;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.bg-imgtitle {
    background-color: rgba(0,0,0, 0.3);
    color: #f4f3f9;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}
.textIn:hover{
    color: #f4f3f9;
}
.textAt{
    font-size: 14px;
}
.text-Ha{
    position: static;
}

.album-wrap{
    margin-bottom: 30px;
}

.file-control-action{
    visibility: hidden;
}
.file-control:hover .file-control-action {
    visibility: visible;
}

#veil {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    cursor: not-allowed;
    filter: alpha(opacity=60);
    opacity: 0.6;
    background: #000000;
    z-index: 9998;
}
#feedLoading {
    position: absolute;
    top:200px;
    width:100%;
    text-align: center;
    font-size: 16px;
    color:white;
    text-shadow: 2px 2px 2px #021124;
    z-index: 9999;
}

.star{
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: #fad733
}

.sort-slider{
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 80px;
}

.text-front{
    position: absolute;
    bottom: 3px;
    left: 3px;
}

.manage a{
    color: #ffffff;
}

.banner-content-wrapper-green{
    background-color: rgba(114, 187, 76, 0.7);
    top: 0px;
    right: 0px;
    padding: 25px 35px 25px 35px;
    position: absolute;
    /*border-radius: 25px;*/
    width: 400px;
    height: 100%;
    display:inline-block;
}

.pickcolor{    
    border: 1px solid #23b7e5;
    width: 35px;
    height: 34px;
    cursor:pointer;
}

.mtitle2 {
    font-size: 45px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 100%;
}

.mbody2 {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 20px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
}
.to-left{
    float: left;
}
.browse-img-wrap {
    margin: 12px 0px;
    padding: 9px;
}
.border-dash {
    border-style: dashed !important;
    border: 1px;
}
.menuthumb {
    text-align: center;
}
.menuthumb img{
    width: 100px;
    height: 100px
}
.scrollmenu{
  overflow-y:scroll;
  height:500px;
}
.break{
    word-break: break-word;
    word-break:break-all;
}
.mar-l{
    margin-left: 20px;
}
.mar-r{
    margin-right: 20px;
}
.sortableside {
    border: 0px;
    list-style: none;
    padding: 0;
    display: inline-block;
    max-height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 320px;
    float: left;
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.sortrow{
    list-style: none;
    overflow-y: auto;
     overflow-x: hidden;
     max-width: 790px;
}
.bilog-img {
    background-size: cover;
    background-position: center;
    width: 130px;
    height: 130px;
    border-radius: 500px;
    margin: 0 auto;
}
.square-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}
.sort-img{
    border:1px solid #ccc;
    cursor:pointer;
    /*margin-bottom:6px;*/
    height:250px;
    overflow-y:auto;
}
.ui-sortable-placeholder {
    border: 2px dotted black;
    visibility: visible !important;
    background-color: inherit;
}
.img-title {
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
}
.img-desc {
    font-size: 12px;
    text-align: center;
}
.learnheroes  a:hover{
    color:#fff;
}
.learnheroes{

    margin-top:30px !important;
    margin-bottom:20px !important;
    text-align: center;
    z-index: 9999 !important;
}

.learnheroes a:hover{
    background-color:rgba(255, 157, 15, 0.7);
    z-index: 9999 !important;
}

.learnheroes  a{

    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    line-height: 28px;
    background:#FF9D0F;
    color: #fff;
    text-align: center;
    text-decoration:none;
    padding:12px 47px;
    /*border:2px solid #fff;*/
    /*border-radius:40px;*/
    z-index: 9999 !important;
    -moz-padding-start:27px;
    -moz-padding-end:27px;

}