
<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-app="calendarDemoApp">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earth Citizens Organization</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/ico" href="/images/template_images/favicon.png" />

    <link rel="stylesheet" href="/css/template_css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/template_css/main.css">

    <!--==========================================FONT AWOSOME=============================================-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="/css/template_css/slidercss.css"> 
    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"></link>      

    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">
    
    <link href='http://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Arvo|PT+Sans|PT+Sans+Narrow|Roboto|Raleway|Montserrat|Roboto+Slab|Titillium+Web|Vollkorn' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/template_css/temp_index.css">        

</head>

<body ng-controller="indexMainCtrl">
    <div class="container-fluid">
        <div class="eco-container top">
            <div class="row">
                <div class="col-xs-4 toptop1">
                    <div class="top-contact" style="float: left;">
                        <span><a href="mailto:info@earthcitizens.org" style="color: #5386C1 "><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org</a></span>
                    </div>
                </div>
                <div class="col-xs-4 toptop2">
                    <div class="top-contact" style="text-align:center;">
                        <span style="color: #5386C1;  "><i class="fa fa-user"> </i>&nbsp;&nbsp;Earth Citizens Count: {[{ userscount }]}</span>
                        <span style="color: #5386C1;  " class="join"><a ng-href="donation/##new-account">Join</a></span>
                    </div>
                    
                </div>
                <div class="col-xs-4 toptop3" style="padding-top:5px">
                    <div class="top-social-icon" style="text-align: right;">
                        <span>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a></span>
                        <span>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></span>
                        <span>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MENU START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
       <div class="container-fluid">
        <div class="navsticky1">
            <div class="eco-container">
                <div id="ecologo"><a href="<?php echo $this->config->application->baseURL; ?>"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a></div>
                <div class="donateforbtn"><a href="/nepalrelief">Donate to Nepal</a></div>
                <div class="ecositenav">
                    <nav  class="nav">
                        <ul class="dropdown">
                            <li class="drop">
                                <a href="#abouteco" id="selected4">
                                    <div id="menu_icon_about" class="menudiv1">                                    
                                        <div class="menuicon1"></div>
                                        <div class="p">WHAT IS ECO?</div>
                                    </div>
                                </a>
                                <ul class="sub_menu" id="sub_menu2">
                                    <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/page/index/more-about-eco">MORE ABOUT ECO</a></li>
                                    <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/partner-and-sponsors">PARTNERS AND SPONSORS</a></li>
                                    <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/how-to-start-change">HOW TO START CHANGE</a></li>                          
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="<?php echo $this->config->application->baseURL; ?>/page/index/join" id="selected2">
                                    <div id="menu_icon_training" class="menudiv2">                                    
                                        <div class="menuicon2"></div> 
                                        <div class="p">JOIN</div>
                                    </div>
                                </a>
                            </li>
                            <li class="drop">
                                <a href="#ourprograms" id="selected3">
                                    <div id="menu_icon_peace_parks" class="menudiv3">                                    
                                        <div class="menuicon3"></div> 
                                        <div class="p">LEARN</div>
                                    </div>
                                </a>
                                <ul class="sub_menu" id="sub_menu3">
                                    <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/page/index/curriculum">CURRICULUM</a></li>
                                    <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/programs">PROGRAMS</a></li>
                                    <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/support-for-graduates">SUPPORT FOR GRADUATES</a></li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="#" id="selected1">
                                    <div id="menu_icon_what_is_eco" class="menudiv4">                                    
                                        <div class="menuicon4"></div> 
                                        <div class="p">SERVE</div>
                                    </div>
                                </a>
                                <ul class="sub_menu" id="sub_menu4">
                                    <li><a style="padding-top: 15px;" href="#">HEROES NEWS</a></li>
                                </ul>
                            </li>
                            <li class="drop">
                                <a href="http://www.cafepress.com/earthcitizens" target="_blank" id="selected6">
                                    <div id="menu_icon_support_us" class="menudiv6">                                    
                                        <div class="menuicon6"></div> 
                                        <div class="p">STORE</div>
                                    </div>
                                </a>
                            </li>
                            <li class="drop">
                                <a href="#supportus" id="selected5">
                                    <div id="menu_icon_support_us" class="menudiv5">                                    
                                        <div class="menuicon5"></div> 
                                        <div class="p">DONATE</div>
                                    </div>
                                </a>   
                                <ul class="sub_menu" id="sub_menu5">
                                    <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/page/index/funds-to-support-ecos-projects">FUNDS TO SUPPORT ECO'S PROJECTS</a></li>
                                    <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/ways-of-giving">WAYS OF GIVING</a></li>
                                    <!-- <li><a href="#" style="border-radius: 0px 0px 10px 10px;">DONATE NOW</a></li> -->
                                </ul>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </nav>
                </div>
                <div class="clearfix"></div>
            </div>  
            <div class="container-fluid"><div class="bluebar"></div></div>    
        </div>    
    </div>

 <div class="container-fluid">
    <div class="mob-ecologo"  style="width:115px;margin:auto;padding-top:5px;"><a href="<?php echo $this->config->application->baseURL; ?>"><img  class="logo-size" src="/images/template_images/ecologo1.png" style="width:115px;"></a></div>
    <div class="navsticky">
        <div class="mobileMenu mobileMenu2">
            <nav role="navigation" class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="<?php echo $this->config->application->baseURL; ?>" class="navbar-brand"><p>ECO</p></a>
                </div>
                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/##what-is-eco">WHAT IS ECO<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/more-about-eco">MORE ABOUT ECO</a></li>
                                <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/partner-and-sponsors">PARTNERS AND SPONSORS</a></li>
                                <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/how-to-start-change">HOW TO START CHANGE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/page/index/join">JOIN</span></a>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/##learn">LEARN<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/page/index/curriculum">CURRICULUM</a></li>
                                <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/programs">PROGRAMS</a></li>
                                <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/support-for-graduates">SUPPORT FOR GRADUATES</a></li>
                            </ul>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/##serve">SERVE<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">HEROES NEWS</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/##store">STORE</span></a>
                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="<?php echo $this->config->application->baseURL; ?>/##donate">DONATE<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a style="padding-top: 15px;" href="<?php echo $this->config->application->baseURL; ?>/page/index/funds-to-support-ecos-projects">FUNDS TO SUPPORT ECO'S PROJECTS</a></li>
                                <li><a href="<?php echo $this->config->application->baseURL; ?>/page/index/ways-of-giving">WAYS OF GIVING</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
    <!-- Menu END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    
    
    

    
    <div class="container-fluid" >
        <div id="interior" class="headerBanner"></div>
        lkfgasdfhgadhfglkadhfg
        <div>
            <div class="orangebarko">
                <a href="<?php echo $this->config->application->baseURL; ?>/donation" style="font-size:22px; font-family:Leelawadee UI; color:#FFF">
                    <img src="/images/template_images/donate-bttn.png" class="donbut">
                    DONATE WHAT YOU CAN TO HELP
                </a>
            </div>
        </div>
    </div>


<!-- ===== NEWS ===== -->

<?php echo $this->getContent()?>

<div class="container-fluid" ng-controller="NewsCtrl"> 
  <div class="eco-container" id="newslist">   
    <div class="row"> 
      <div class="col-sm-12">
      <h1>News and Articles</h1>        
      </div>
      <div class="col-xs-9">
      <p class="subtitle"><hr></hr></p>
       <?php 
       $getginfo = $newsinfo;
       foreach ($getginfo as $key => $value) {
        if ($getginfo[$key]->imagethumb != ''){
          $thumblink = $this->config->application->apiURL."/images/sliderimages/".$getginfo[$key]->imagethumb;
        }
        else if ($getginfo[$key]->videothumb != ''){
          $thumblink = $this->config->application->apiURL."/images/sliderimages/".$getginfo[$key]->videothumb;
        }
        ?>  
        <div class="row">
            <div class="col-sm-2">
                <!-- <img src="<?php echo $thumblink;?>" > --> 
                <div style="background: url(<?php echo $thumblink;?>) 0px 0px;width: 100px;height: 100px;background-size: cover; border-radius:100%;"></div>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="titlelink" href='<?php echo $this->config->application->baseURL; ?>/news/list/<?php echo $getginfo[$key]->newsslugs; ?>'>
                            <?php echo $getginfo[$key]->title ?>
                        </a>
                        <hr></hr>                    
                    </div>
                    <div class="col-sm-12">
                        <span><?php echo $getginfo[$key]->summary;?></span>
                    </div>
                    <div class="col-sm-12">                        
                        <p class="date"><?php echo $getginfo[$key]->name .' | '.date('F j, Y',strtotime($getginfo[$key]->date)); ?></p>
                    </div>
                </div>
                
            </div>
        </div> 
        <hr>
        
        <?php } ?>         
        
        <div class="row">
            <div class="panel-body">
                <footer class="text-right bg-light lter">
                    <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(bigCurrentPage)"></pagination>
                </footer>
            </div>
        </div> 
      </div>
      <div class="col-xs-3">
        <!-- <p class="subtitle"></p> -->

        <p class="subtitle"><hr></hr></p>
        <p class="title2">Categories</p>
        <ul class="pad2">
          <li class="pad">
            <a href="">Nature</a><br/>
          </li>
          <li class="pad">
            <a href="">Technology</a><br/>
          </li>
          <li class="pad">
            <a href="">All</a><br/>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div> 
<!-- ===== NEWS END ===== -->


  <!-- footer -->
    <div class="container-fluid">
        <div  class="footer-bg">
            <div class="eco-container">
                <div class="row">
                    <div class="col-md-3" style="color: #ffffff !important; float: left;">
                        <span>MISSION STATEMENT<br/><br/></span>
                        <div style="width:212px; padding-right: 15px;">
                            <span style="font-size: 12px;">
                                Earth Citizens Organization (ECO) is a non-profit that promotes natural health and mindful living for a sustainable world. An Earth Citizen is a person who understands that we are all citizens of the Earth and takes responsibility for its well-being.<br/><br/>
                            </span>
                        </div>

                    </div>
                    <div class="col-md-3" style="color: #ffffff !important; float: left;">
                        <span>NAVIGATION<br/><br/></span>
                        <div style="width:190px; padding-right: 55px;">
                            <span style="font-size: 12px;">
                                <nav  class="nav" style="padding-top: 0px;">
                                <a href="<?php echo $this->config->application->baseURL; ?>#whatiseco" style="color:#ffffff;">WHAT IS ECO?</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>#join" style="color:#ffffff;">JOIN</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>#learn" style="color:#ffffff;">LEARN</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>#serve" style="color:#ffffff;">SERVE</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>#store" style="color:#ffffff;">STORE</a><br/>
                                <a href="<?php echo $this->config->application->baseURL; ?>#donate" style="color:#ffffff;">DONATE</a><br/><br/>
                                </nav>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3" style="color: #ffffff !important; float: left;">
                        <span>ADD US<br/><br/></span>
                        <div style="width:190px; padding-right: 55px;">
                            <span style="font-size: 12px;">
                                <ul>
                                    <li><a href="https://www.youtube.com/user/goearthcitizens" style="color:#ffffff;"><i class="fa fa-youtube" style="color: #ffffff;"></i>&nbsp;&nbsp;YouTube</a><br/><br/></li>
                                    <li><a href="https://www.facebook.com/EarthCitizensOrganization" style="color:#ffffff;"><i class="fa fa-facebook" style="color: #ffffff;"></i>&nbsp;&nbsp;Facebook</a><br/><br/></li>
                                    <li><a href="https://twitter.com/goearthcitizens" style="color:#ffffff;"><i class="fa fa-twitter" style="color: #ffffff;"></i>&nbsp;&nbsp;Twitter</a></li>
                                </ul><br/><br/>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3" style="color: #ffffff !important; float: left;">
                        <span>CONTACT US<br/><br/></span>
                        <div style="width:212px; padding-right: 15px;">
                            <span style="font-size: 12px;">
                                Earth Citizens Organization<br/>
                                340 Jordan Road Sedona, AZ 86336
                                <br/><br/>
                                <a href="mailto:info@earthcitizens.org" style="color: #fff "><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Email: info@earthcitizens.org</a>
                                <br/><br/>
                            </span>
                        </div>
                    </div>                    
                </div>
                <div class="row" style="padding: 10px 0px 10px 0px;">
                    <div  style="  width: 100%;  background-color: #ffffff;  height: 3px;"></div>
                </div>
                <div class="row" style="padding-top: 2px;">
                    <p style="font-size: 10px; text-align: center;color:#ffffff;">
                        ©2015 Earth Citizen Organization All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </div> 

<!-- footer end -->

    <script>
        var API_URL = '<?php echo $this->config->application->apiURL; ?>';
    </script>

<script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>

<script src="/js/template_js/jquery.min.js"></script>
<script src="/js/template_js/bootstrap.min.js"></script>

<!-- dropdown -->
<script src="/js/template_js/jquery.js"></script>
<script src="/js/template_js/dropdown_js.js"></script>
<!-- stiky nav -->
<script src="/js/stickytop.js"></script>
<!-- end dropdown -->
<script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>

<script src="/js/template_js/main.js"></script>

<script type="text/javascript" src="/js/angular/angular.min.js"></script> 
<script type="text/javascript" src="/js/angular/angular-route.js"></script> 
<script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script> 
<script type="text/javascript" src="/js/angular/ui-validate.js"></script>
<script type="text/javascript" src="/js/angular/angular-sanitize.js"></script>

<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/ckeditor/styles.js"></script>
<script type="text/javascript" src="/js/fr/app.js"></script>

<!-- Angular -->
<script src="/js/angular/angular-cookies.min.js"></script>
<script src="/js/angular/angular-animate.min.js"></script>
<script src="/js/angular/angular-translate.js"></script>
<script src="/js/angular/ngStorage.min.js"></script>
<script src="/js/angular/ui-load.js"></script>
<script src="/js/angular/ui-jq.js"></script>
<script src="/js/angular/ui-bootstrap-tpls.min.js"></script>

    <!-- Calendar Demo -->
    <script src="/fcalendar/jquery.js"></script>
    <script src="/fcalendar/ui-bootstrap-tpls-0.9.0.js"></script>
    <script src="/fcalendar/moment.js"></script>
    <script src="/fcalendar/fullcalendar.js"></script>
    <script src="/fcalendar/gcal.js"></script>
    <script src="/fcalendar/calendar.js"></script>
    <script src="/fcalendar/calendarDemo.js"></script>

    <script src="/jquery.qtip.custom/jquery.qtip.min.js"></script>
    <!-- carosel -->
    <script src="/carosel/jquery.scrollbox.js"></script>
    <script src="/carosel/scroll.js"></script>


    <!-- SLIDER IMAGE -->
    <script src="/js/sliderimage/angular-file-upload-shim.js"></script>
    <script src="/js/sliderimage/angular-file-upload.js"></script> 
    <script src="/js/sliderimage/upload.js"></script>

    <!-- jquery fileuploader -->
    <script src="/js/sliderimage/vendor/jquery.ui.widget.js"></script> 
    <script src="/js/sliderimage/load-image.min.js"></script>
    <script src="/js/sliderimage/canvas-to-blob.min.js"></script>
    <script src="/js/sliderimage/jquery.iframe-transport.js"></script>
    <script src="/js/sliderimage/jquery.fileupload.js"></script>
    <script src="/js/sliderimage/jquery.fileupload-process.js"></script>
    <script src="/js/sliderimage/jquery.fileupload-image.js"></script>
    <script src="/js/sliderimage/jquery.fileupload-audio.js"></script>
    <script src="/js/sliderimage/jquery.fileupload-video.js"></script> 
    <script src="/js/sliderimage/jquery.fileupload-validate.js"></script>

    <?php echo $script_google; ?>

</body>
</html>
