<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable = yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earth Citizens Organization</title>
    <link rel="shortcut icon" type="image/ico" href="/images/template_images/favicon.png" />


    <link rel="stylesheet" href="/css/template_css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/template_css/main.css">

    <link rel="stylesheet" type="text/css" href="/css/template_css/initcarousel-1.css">

    <!--  <link rel="stylesheet" href="/css/template_css/index.css"> -->
    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- FROM MAIN -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">   
    <link rel="stylesheet" type="text/css" href="/css/fr/color.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fr/reset.css"/>
    <link rel="stylesheet" href="css/fr/horizontal.css"/>
    <!-- END FROM MAIN --> 
    <link rel="stylesheet" href="/css/template_css/countdownstyle.css">    
    <link rel="stylesheet" href="/css/template_css/temp_index.css">    
    <script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>

     <!-- <script type="text/javascript" src="/js/countdown/jquery.countdown.js"></script> -->
     <script type="text/javascript" src="/js/countdown/moment.js"></script>
     <script type="text/javascript" src="/js/countdown/jquery.moment-timezone.js"></script>
     <script type="text/javascript" src="/js/countdown/moment-timezone-with-data-2010-2020.js"></script>
     <script type="text/javascript" src="/js/countdown/moment-timezone-with-data.js"></script>
    <script>
        var tzdetect = {
            names: moment.tz.names(),
            matches: function(base){
                var results = [], now = Date.now(), makekey = function(id){
                    return [0, 4, 8, -5*12, 4-5*12, 8-5*12, 4-2*12, 8-2*12].map(function(months){
                        var m = moment(now + months*30*24*60*60*1000);
                        if (id) m.tz(id);
                        return m.format("DDHHmm");
                    }).join(' ');
                }, lockey = makekey(base);
                tzdetect.names.forEach(function(id){
                    if (makekey(id)===lockey) results.push(id);
                });
                return results;
            }
        };
    </script>
   

    <style type="text/css">
     .maintenance-msg{
            text-align: center;
      }
    .maintenance-admin-msg{
            padding-top: 20px;
            font-size: 20px;
            text-align: center;
      }
    .maintenance-count-msg{
            padding-top: 5px;
            font-size: 12px;
            text-align: center;
      }



.numbers {
    width: 55px;
    text-align: center; 
    font-size: 28px;
    font-weight: bold;    /* options are normal, bold, bolder, lighter */
    font-style: normal;   /* options are normal or italic */
    color: #232525;       /* change color using the hexadecimal color codes for HTML */
}
.title {        /* the styles below will affect the title under the numbers, i.e., "Days", "Hours", etc. */
    width: 55px;
    text-align: center; 
    font-size: 10px;
    font-weight: bold;    /* options are normal, bold, bolder, lighter */
    color: #949797;       /* change color using the hexadecimal color codes for HTML */
}
#table {
    width: 400px;
    height: 48px;
    border-style: none;
    background-color: transparent;
    margin: 0px auto;
    position: relative;   /* leave as "relative" to keep timer centered on your page, or change to "absolute" then change the values of the "top" and "left" properties to position the timer */
    top: 0px;             /* change to position the timer */
    left: 0px;            /* change to position the timer; delete this property and it's value to keep timer centered on page */
}
</style>

<?php
$time_arr= explode(" ", $this->view->value4);
$date_arr= explode("-", $time_arr[0]);
$hour_arr= explode(":", $time_arr[1]);

?>

<script type="text/javascript">

/*
Count down until any date script-
By JavaScript Kit (www.javascriptkit.com)
Over 200+ free scripts here!
Modified by Robert M. Kuhnhenn, D.O. 
on 5/30/2006 to count down to a specific date AND time,
on 10/20/2007 to a new format, and 1/10/2010 to include
time zone offset.
*/

/*  Change the items noted in light blue below to create your countdown target date and announcement once the target date and time are reached.  */
if (<?php echo $this->view->value1;?> == 0){
    var current="<div class='maintenance-count-msg'>Please reload the page to redirect you to the main page.<br/>click here to <a href='<?php echo $this->view->base_url;?>''>reload</a></div> ";  //-->enter what you want the script to display when the target date and time are reached, limit to 20 characters
}
else{
    var current="<div class='maintenance-count-msg'>In order to view the countdown timer of this maintenance, you need to use a default standard time on your computer/smartphone. <br/>Please check this link <a href='http://wwp.greenwichmeantime.com/' target='_blank'>http://wwp.greenwichmeantime.com/</a> to confirm your location default standard time.</div> ";  //-->enter what you want the script to display when the target date and time are reached, limit to 20 characters
}
var year=<?php echo $date_arr[0];?>;      //-->Enter the count down target date YEAR
var month=<?php echo $date_arr[1];?>;        //-->Enter the count down target date MONTH
var day=<?php echo $date_arr[2];?>;         //-->Enter the count down target date DAY
var hour=<?php echo $hour_arr[0];?>;        //-->Enter the count down target date HOUR (24 hour clock)
var minute=<?php echo $hour_arr[1];?>;      //-->Enter the count down target date MINUTE
var tz=-0000;          //-->Offset for your timezone in hours from UTC (see http://wwp.greenwichmeantime.com/index.htm to find the timezone offset for your location)
console.log(moment.tz.names());
//-->    DO NOT CHANGE THE CODE BELOW!    <--
var montharray=new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");

function countdown(yr,m,d,hr,min){
    theyear=yr;themonth=m;theday=d;thehour=hr;theminute=min;
    var today=new Date();
    var todayy=today.getYear();
    if (todayy < 1000) {todayy+=1900;}
    var todaym=today.getMonth();
    var todayd=today.getDate();
    var todayh=today.getHours();
    var todaymin=today.getMinutes();
    var todaysec=today.getSeconds();
    var todaystring1=montharray[todaym]+" "+todayd+", "+todayy+" "+todayh+":"+todaymin+":"+todaysec;
    var todaystring=Date.parse(todaystring1)+(tz*1000*60*60);
    var futurestring1=(montharray[m-1]+" "+d+", "+yr+" "+hr+":"+min);
    var futurestring=Date.parse(futurestring1)-(today.getTimezoneOffset()*(1000*60));
    var dd=futurestring-todaystring;
    var dday=Math.floor(dd/(60*60*1000*24)*1);
    var dhour=Math.floor((dd%(60*60*1000*24))/(60*60*1000)*1);
    var dmin=Math.floor(((dd%(60*60*1000*24))%(60*60*1000))/(60*1000)*1);
    var dsec=Math.floor((((dd%(60*60*1000*24))%(60*60*1000))%(60*1000))/1000*1);
    if(dday<=0&&dhour<=0&&dmin<=0&&dsec<=0){
        document.getElementById('count2').innerHTML=current;
        document.getElementById('count2').style.display="inline";
        document.getElementById('count2').style.width="390px";
        document.getElementById('dday').style.display="none";
        document.getElementById('dhour').style.display="none";
        document.getElementById('dmin').style.display="none";
        document.getElementById('dsec').style.display="none";
        document.getElementById('days').style.display="none";
        document.getElementById('hours').style.display="none";
        document.getElementById('minutes').style.display="none";
        document.getElementById('seconds').style.display="none";
        document.getElementById('spacer1').style.display="none";
        document.getElementById('spacer2').style.display="none";
        return;
    }
    else {
        document.getElementById('count2').style.display="none";
        document.getElementById('dday').innerHTML=dday;
        document.getElementById('dhour').innerHTML=dhour;
        document.getElementById('dmin').innerHTML=dmin;
        document.getElementById('dsec').innerHTML=dsec;
        setTimeout("countdown(theyear,themonth,theday,thehour,theminute)",1000);
    }
}
</script>



</head>

<body onload="countdown(year,month,day,hour,minute)">
    
<div class="container-fluid">
        <div class="eco-container top">
            <div class="top-contact" style="float: left;">
                <span><a href="mailto:info@earthcitizens.org" style="color: #5386C1 "><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;info@earthcitizens.org&nbsp;&nbsp;</a></span>
            </div>
            <div class="top-social-icon" style="text-align: right;">                
                <span>&nbsp;&nbsp;&nbsp;<a href="https://www.youtube.com/user/goearthcitizens"><i class="fa fa-youtube"></i></a></span>
                <span>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/EarthCitizensOrganization" ><i class="fa fa-facebook"></i></a></span>
                <span>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/goearthcitizens" ><i class="fa fa-twitter"></i></a></span>                
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="navsticky">
            <div class="eco-container">
               

            </div>
            <div class="clearfix"></div>
        </div>
    </div>



<!--  -->

<div class="container-fluid">
    <div class="eco-container">        
            <div class="maintenance-msg">
                <h1 class="main-title" ><img  class="logo-size" src="/images/template_images/ecologo_large.png" style="width:400px;"></h1>
                <p class="mainenance-msg">
                 Earth Citizens Organization website is on maintenance. 
                </p>   
            </div>
            
      </div>
        <div class="maintenance-admin-msg">
            <span>"<?php echo $this->view->value2 ?>"</span>  <br/><br/> 
        </div>

            <table id="table" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center" colspan="6"><div class="numbers" id="count2" style="padding: 5px 0 0 0; "></div></td>
                </tr>
                <tr id="spacer1" height="30">
                    <td align="center" ><div class="numbers" ></div></td>
                    <td align="center" ><div class="numbers" id="dday"></div></td>
                    <td align="center" ><div class="numbers" id="dhour"></div></td>
                    <td align="center" ><div class="numbers" id="dmin"></div></td>
                    <td align="center" ><div class="numbers" id="dsec"></div></td>
                    <td align="center" ><div class="numbers" ></div></td>
                </tr>
                <tr id="spacer2" height="12">
                    <td align="center" ><div class="title" ></div></td>
                    <td align="center" ><div class="title" id="days">Days</div></td>
                    <td align="center" ><div class="title" id="hours">Hours</div></td>
                    <td align="center" ><div class="title" id="minutes">Minutes</div></td>
                    <td align="center" ><div class="title" id="seconds">Seconds</div></td>
                    <td align="center" ><div class="title" ></div></td>
                </tr>
            </table>   

            <br/><br/>     


                  
</div>  


    <script src="/js/template_js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="/js/template_js/bootstrap.min.js"></script>

    
    
    
   

    <?php echo $script_google; ?>

    </body>
    </html>





