<div class="panel panel-default">

	<div class="panel-heading"><i class=" icon-note "></i> Edit SubMenu</div>
	<div class="panel-body">
		<div class="loader" ng-show="imageloader">
			<div class="loadercontainer">

				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
				</div>
				Uploading image please wait...

			</div>

		</div>
		<div class="wrapper-md padding-wrapper-md">
			<div class="col-sm-3">
				<div class="panel-body"> 
					<div class="menuthumb">
						<img src="{[{amazonlink}]}/uploads/menulogo/{[{link.logo}]}" ng-if="imageselected == false && link.logo != null">
						<img src="/img/p0.jpg" ng-if="link.logo == null && imageselected == false">
						<img ngf-src="pic[0]" ng-if="imageselected == true">
					</div>
					<div class="propic create-proj-thumb">
						<div class="label_profile_pic border-dash browse-img-wrap" id="change-picture" ngf-change="prepare(files)" ngf-select ng-model="files" ngf-multiple="false" required="required">
							<a href="">Click here to choose an image from your computer</a><br>
							<label>JPG, PNG, GIF or BMP | Maximum size of 2MB</label>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				<alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">	
							<div class="input-group" ng-show="changename == false"> 
								<!-- 	<pre> -->
								<span class="input-group-btn">
									<label class="m-n font-thin h3" style="word-break: break-all;
									word-wrap: break-word;;width: 36vw;height: 45px;overflow: overlay;margin-bottom: 11px !important;">{[{ link.subname }]}</label> <br>	
									<label class="m-n font-thin h5" style="width: 36vw;height: 30px;overflow: overlay;margin-bottom: 15px !important;">{[{ link.linktext }]}</label><br><br>
									<label class="btn btn-primary btn-xs" ng-click="change()">Change</label>
								</span> 
								<!-- 	</pre>   -->
							</div>
							<div class="row" ng-show="changename == true">	
								<div class="col-sm-12">
									<div class="input-group">

										<input type="text" name="newtab" class="form-control" ng-model="link.subname" ng-change="changet()">

										<span class="input-group-btn">
											<label class="btn btn-success" ng-click="changeok()"><i class="fa fa-check"></i></label>
											<label class="btn btn-default" ng-click="changecancel(link)"><i class="icon-close"></i></label>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="line line-dashed b-b line-lg"></div>

					<div class="row">	
						<div class="col-sm-12">	
							<div class="btn-group">
								<label class="btn m-b-xs w-xs btn-dark" ng-model="path" btn-radio="'Link'" ng-click="pathtype('Link')">Link</label>
								<label class="btn m-b-xs w-xs btn-dark" ng-model="path" btn-radio="'Page'" ng-click="pathtype('Page')">Page</label>
								<label class="btn m-b-xs w-xs btn-dark" ng-model="path" btn-radio="'Category'" ng-click="pathtype('Category')">Category</label>
								<label class="btn m-b-xs w-xs btn-dark" ng-model="path" btn-radio="'Tag'" ng-click="pathtype('Tag')">Tag</label>
								<label class="btn m-b-xs w-xs btn-dark" ng-model="path" btn-radio="'Post'" ng-click="pathtype('Post')">Post</label>
							</div>
							<div class="checkbox pull-right">
								<label class="i-checks">
									<input type="checkbox" name="newtab" ng-model="link.newtab" ng-checked="link.newtab == 'true'" ng-click="newtabbot(link)">
									<i></i>
									Open in new tab?
								</label>
							</div>				
						</div>				
					</div>
					<div class="row">
						<div class="col-sm-12">

							<div ng-show="path == 'Link'">
								<div class="padding-wrapper-md">
										<div class="row">
											<div class="col-sm-12">
												<br>
												<label for="title">Link address/URL</label>
												<input type="text" id="linktext" name="linktext" class="form-control" ng-model="link.linktext" placeholder="Paste link/url here" ng-change="text(link,'null','null')" ng-keypress="onslugs(link.linktext);">
											</div>
										</div>
									</div>
							</div>

							<div ng-show="path == 'Page'">
								<div class="padding-wrapper-md">
									<div class="row">
										<div class="col-sm-5">
											<input type="text" id="searchpage" name="searchpage" class="form-control" ng-model="searchpage" placeholder="Search here">
											<br>
										</div>
									</div>
									<div class="panel panel-default panel-main">
										<div class="table-responsive scrollmenu">
											<table class="table table-striped b-t b-light">
												<thead>
													<tr>
														<th>Pages</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="page in pages | filter:searchpage">
														<td>
															<div class="checkbox">
																<label class="i-checks">
																	<input type="radio" ng-value="page.pageslugs" name="linkoption" ng-model="link.linkoption" ng-click="option(link,page.slugs,page.pageslugs,page.title)">
																	<i></i>
																	{[{page.title}]}
																</label>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

							<div ng-show="path == 'Category'">
								<div class="padding-wrapper-md">
									<div class="row">
										<div class="col-sm-5">
											<input type="text" id="searchcat" name="searchcat" class="form-control" ng-model="searchcat" placeholder="Search here">
											<br>
										</div>								
									</div>
									<div class="panel panel-default panel-main">
										<div class="table-responsive scrollmenu">
											<table class="table table-striped b-t b-light">
												<thead>
													<tr>
														<th>Categories</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="cat in category | filter:searchcat">
														<td>
															<div class="checkbox">
																<label class="i-checks">
																	<input type="radio" ng-value="cat.categoryslugs" name="linkoption" ng-model="link.linkoption" ng-click="option(link,'blog/category',cat.categoryslugs,cat.categoryname)">
																	<i></i>
																	{[{cat.categoryname}]}
																</label>
															</div>
														</td>
													</tr>
													<tr ng-repeat="cat in pagecategory | filter:searchcat">
														<td>
															<div class="checkbox">
																<label class="i-checks">
																	<input type="radio" ng-value="cat.title" name="linkoption" ng-model="link.linkoption" ng-click="option(link,null,cat.slugs,cat.title)">
																	<i></i>
																	{[{cat.title}]}
																</label>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

							<div ng-show="path == 'Tag'">
								<div class="padding-wrapper-md">
									<div class="row">
										<div class="col-sm-5">
											<input type="text" id="searchtag" name="searchtag" class="form-control" ng-model="searchtag" placeholder="Search here">
											<br>
										</div>
									</div>
									<div class="panel panel-default panel-main">
										<div class="table-responsive scrollmenu">
											<table class="table table-striped b-t b-light">
												<thead>
													<tr>
														<th>Tags</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="tag in tags | filter:searchtag">
														<td>
															<div class="checkbox">
																<label class="i-checks">
																	<input type="radio" ng-value="tag.slugs" name="linkoption" ng-model="link.linkoption" ng-click="option(link,'blog/tags',tag.slugs,tag.tags)">
																	<i></i>
																	{[{tag.tags}]}
																</label>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

							<div ng-show="path == 'Post'">
								<div class="padding-wrapper-md">
									<div class="row">
										<div class="col-sm-5">
											<input type="text" id="searchnews" name="searchnews" class="form-control" ng-model="searchnews" placeholder="Search here">
											<br>
										</div>
									</div>
									<div class="panel panel-default panel-main">
										<div class="table-responsive scrollmenu">
											<table class="table table-striped b-t b-light">
												<thead>
													<tr>
														<th>Posts</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="news in news | filter:searchnews">
														<td>
															<div class="checkbox">
																<label class="i-checks">
																	<input type="radio" ng-value="news.newsslugs" name="linkoption" ng-model="link.linkoption" ng-click="option(link,'blog',news.newsslugs,news.title)">
																	<i></i>
																	{[{news.title}]}
																</label>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<alert ng-repeat="alert in alertss" type="{[{alert.type }]}" close="closeAlerts($index)">{[{ alert.msg }]}</alert>
		</div>
		<div class="row">				
			<div class="col-sm-12">
				<button class="btn pull-right btn-primary"  ng-disabled="imageloader" ng-click="save(link,pic)" ng-disabled="savedisable == true">Save</button>
				<button class="btn pull-right btn-default" ng-disabled="imageloader" ng-click="cancel()">Close</button>
			</div>
		</div>	

	</div>


</div>




