body{/*padding-bottom:100px;*/}
h1,h2{/*padding-top:20px;*/}
.scroll-text{border:1px solid red;width:400px;height:4.5em;overflow:hidden;}
.scroll-text ul{width:800px;height:100px;overflow:hidden;margin:0;}
.scroll-text ul li{height:1.5em;}
.scroll-img{/*border:1pxsolidred;*/width:980px;height:200px;overflow:hidden;font-size:0;}
.scroll-img ul{width:700px;height:600px;margin:0;}
.scroll-img ul li{display:inline-block;margin:10px 20px 10px 10px;}
#demo4.scroll-img ul,#demo5.scroll-img ul{width:1500px;}
#demo5-btn{/*width:680px;*//*padding-top:10px;*/}
.forpos{position:absolute;top:110px;right:255px;}
.backpos{position:absolute;top:110px;left:235px;}
.pixe{border-radius:100%;height:170px;width:170px;}
.conti{padding-top:40px; padding-left:80px;}
@media(max-width:1570px){.forpos{position:absolute;top:110px;right:245px;}.backpos{position:absolute;top:110px;left:225px;}}
@media(max-width:1550px){.forpos{position:absolute;top:110px;right:225px;}.backpos{position:absolute;top:110px;left:205px;}}
@media(max-width:1500px){.forpos{position:absolute;top:110px;right:205px;}.backpos{position:absolute;top:110px;left:190px;}}
@media(max-width:1465px){.forpos{position:absolute;top:110px;right:195px;}.backpos{position:absolute;top:110px;left:175px;}}
@media(max-width:1440px){.forpos{position:absolute;top:110px;right:175px;}.backpos{position:absolute;top:110px;left:155px;}}
@media(max-width:1400px){.forpos{position:absolute;top:110px;right:155px;}.backpos{position:absolute;top:110px;left:135px;}}
@media(max-width:1370px){.forpos{position:absolute;top:110px;right:135px;}.backpos{position:absolute;top:110px;left:115px;}}
@media(max-width:1330px){.forpos{position:absolute;top:110px;right:115px;}.backpos{position:absolute;top:110px;left:95px;}}
@media(max-width:1285px){.forpos{position:absolute;top:110px;right:95px;}.backpos{position:absolute;top:110px;left:75px;}}
@media(max-width:1250px){.forpos{position:absolute;top:110px;right:75px;}.backpos{position:absolute;top:110px;left:55px;}}
@media(max-width:1205px){.forpos{position:absolute;top:110px;right:55px;}.backpos{position:absolute;top:110px;left:35px;}}
@media(max-width:1199px){.forpos{position:absolute;top:110px;right:55px;}.backpos{position:absolute;top:110px;left:35px;}.conti{margin-left:15px;}}
@media(max-width:1185px){.forpos{position:absolute;top:110px;right:55px;}.backpos{position:absolute;top:110px;left:35px;}.conti{margin-left:0px;}}
@media(max-width:1170px){.forpos{position:absolute;top:110px;right:35px;}.backpos{position:absolute;top:110px;left:15px;}.conti{margin-left:0px;}}
@media(max-width:1150px){.forpos{position:absolute;top:110px;right:15px;}.backpos{position:absolute;top:110px;left:5px;}.conti{margin-left:0px;}}
@media(max-width:1130px){.forpos{position:absolute;top:110px;right:5px;}.backpos{position:absolute;top:110px;left:-5px;}.conti{margin-left:-20px;}}
@media(max-width:1100px){.forpos{position:absolute;top:110px;right:5px;}.backpos{position:absolute;top:110px;left:-5px;}.conti{margin-left:-40px;}}
@media(max-width:1080px){.forpos{position:absolute;top:110px;right:0px;}.backpos{position:absolute;top:110px;left:-5px;}.conti{margin-left:-40px;}}
@media(max-width:1075px){.forpos{position:absolute;top:110px;right:0px;}.backpos{position:absolute;top:110px;left:5px;}.conti{margin-left:40px;}#demo5.scroll-img ul{width:900px;}}
@media(max-width:1075px){.forpos{position:absolute;top:110px;right:0px;}.backpos{position:absolute;top:110px;left:5px;}.conti{margin-left:-20px;}}
@media(max-width:900px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:-25px;}}
@media(max-width:885px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:40px;}#demo5.scroll-img ul{width:700px;}}
@media(max-width:800px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:10px;}}
@media(max-width:725px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:-20px;}}
@media(max-width:690px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:40px;}#demo5.scroll-img ul{width:500px;}}
@media(max-width:590px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:10px;}}
@media(max-width:550px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:-20px;}}
@media(max-width:490px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:70px;}#demo5.scroll-img ul{width:300px;}}
@media(max-width:450px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:40px;}}
@media(max-width:400px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:10px;}}
@media(max-width:330px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:10px;}.conti{margin-left:-20px;}}
@media(max-width:295px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:-5px;}.conti{margin-left:-30px;}}
@media(max-width:280px){.forpos{position:absolute;top:110px;right:-5px;}.backpos{position:absolute;top:110px;left:-5px;}.conti{margin-left:-40px;}}
@media(max-width:270px){.forpos{position:absolute;top:210px;right:25px;}.backpos{position:absolute;top:210px;left:25px;}.conti{padding-top:15px;}}
@media(max-width:255px){.forpos{position:absolute;top:210px;right:25px;}.backpos{position:absolute;top:210px;left:25px;}.conti{margin-left:-60px;}}