


<!--  -->

<div class="container-fluid" ng-controller='registrationCtrl' >
  <div class="eco-container" >
    <div class="wrapper-md " >
      <div class="row">
        <div class="col-lg-12">


          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading"><div class="h2title-1">Your payment was accepted.</div></div>
              <div class="panel-body">
                <div class="m-b">
                  <div class="m-l-xxl">
                    <?php echo $this->getContent()?>
                    Thank you for your <strong>$<?php echo $amount ?></strong> donation! 
                    <br><br>
                    <a href="http://www.earthcitizens.org">Click here to return to the homepage. </a>
                  </div>
                </div>

              </div>

            </div>
            <!-- /chat -->            

          </div>
          <div class="col-sm-12">
            <div class="eco-col-4" style="padding:50px 0px 50px 0px; font-style: italic; font-size:17px;color:#777;">
              <p>
                ECO is a 501(c)3 non-profit organization and your donation to ECO is tax-deductible deductible as charitable contribution for which donor receives no material benefits in return unless specified otherwise in the donation receipt. As a member of ECO, you will receive eNewsletter and online support for your activities in your community.
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>   



