<form class="bs-example form-horizontal form-validation ng-pristine ng-invalid ng-invalid-required" name="catform" ng-submit="ok(category)">
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Category
        </div>
        <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

        <div class="row wrapper">
            <div class="col-sm-10">         
                <input type="text" id="catnames" name="catnames" class="form-control" autocomplete="off" ng-model="category.catnames" required="required" ng-change="oncategorytitle(category.catnames)">
            </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-disabled="catform.$invalid" ng-show="disablebutton == false">Save</button>
            </footer>
        </div>
    </div>    
</form>