<form class="bs-example form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" name="tagform" novalidate ng-submit="ok(tags)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Tags
        </div>
        <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>

        <div class="row wrapper">
                <div class="col-sm-10">         
                   <input type="text" id="title" name="title" class="form-control" autocomplete="off" ng-model="tags.tags" required="required" ng-change="ontags(tags.tags)">
                </div>
        </div>

        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-disabled="tagform.$invalid" ng-show="disablebutton == false">Save</button>
            </footer>
        </div>
    </div>
    
</form>