<a href="" id="uptop"></a>

<div class="panel {[{panelMode}]} fr-panel">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-8">
				<span ng-bind="modalTitle"></span>
			</div>
		</div>
	</div>

	<div class="col-sm-12">       
		<p></p>
		<alert ng-repeat="alerts in alerts" type="{[{alerts.type }]}" close="closeAlert($index)">{[{ alerts.msg }]}</alert> 
	</div>
	<div class="col-sm-12" ng-show="msgsent == false">
		<div class="form-group">
			<em><span ng-bind="note"></span></em>           
			<div class="line line-dashed b-b line-lg"></div> 
		</div>
		<div class="form-group" ng-show="disapprove">
			<textarea class="form-control textarea" ng-model="msg.msg"></textarea>
			<div class="line line-dashed b-b line-lg"></div>
		</div>
	</div>

</div>


<footer class="panel-footer text-right bg-light lter">
	<button type="button" class="btn btn-success" ng-disabled="msg.msg == '' || msg.msg == undefined || msg.msg == null" ng-click="send(msg)" ng-show="msgsent == false && disapprove">{[{bott}]}</button>
	<button type="button" class="btn btn-success" ng-click="send()" ng-show="msgsent == false && disapprove == false">{[{bott}]}</button>
	<button type="button" class="btn btn-default" ng-click="close()" ng-show="msgsent == false" >Cancel</button>
	<button type="button" class="btn btn-default" ng-click="close()" ng-show="msgsent == true" >Close</button>
</footer>
