<form class="form-validation ng-pristine ng-invalid ng-invalid-required" name="formsubmit" ng-submit="updatepass(updpass)">	
	<div class="modal-body">
	<table style="width:100%">
		<tr height="50">
			<td colspan="2"><b>Change Password</b></td>
		</tr><tr height="50">
			<td>Old Password</td>
			<td style="width:75%">
				<input class="form-control" type="password" name="name" ng-model="updpass.oldpword" required>
				<label ng-show="process2 == true">Wrong Old Password &nbsp;&nbsp;&nbsp;</label>
			</td>
		</tr><tr height="50">
			<td>New Password</td>
			<td style="width:75%">
				<input class="form-control" type="password" name="email" ng-model="updpass.newpword" required>
			</td>
		</tr><tr height="50">
			<td>Confirm New Passsword</td>
			<td style="width:75%">
				<input class="form-control" type="password" name="cnewpword" ng-model="updpass.cnewpword" required>
				<span ng-hide='updpass.newpword==updpass.cnewpword'>Passwords do not match!</span>
			</td>
		</tr>
	</table>
	</div class="modal-footer">
	<div class="modal-footer"  id="btn2">              
		<label ng-show="process == true">Password Updated &nbsp;&nbsp;&nbsp;</label>          
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-success" ng-disabled="updpass.newpword!=updpass.cnewpword">Update</button>
    </div>
	</div>
</form>