<form class="bs-example form-horizontal" name="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Alert!</h3>
    </div>
    <div class="modal-body" ng-show="process==true">
        <p ng-show="success==false">Deleting peacemap record.</p>
        <p ng-show="success==true">Success!</p>
    </div>
    <div class="modal-body" ng-show="process==false">
        <p>Are you sure you want to delete <strong><span ng-bind="albumname"></span></strong>?</p>
    </div>
    <div class="modal-footer" ng-hide="process==true">                  
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok(id)">Delete</button>
    </div>
</form>