<form class="bs-example form-horizontal" name="form" novalidate>
	<div class="modal-header">
		<h3 class="modal-title">Are you sure you want to delete this Event?</h3> 

		<!-- <div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-9">
				You need to provide a Administrative password to delete this record.
				<input class="form-control" placeholder="Enter administrative password here" type="text" ng-model="adminpass">
			</div>
			<div class="col-sm-2"></div>
		</div> -->
	</div>
	<div class="modal-footer" ng-hide="process==true">                  
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<a ng-click="ok(eventID)"><span class="btn btn-success" >Yes</span></a>
	</div>
</form>