<div class="panel panel-default">
<form name="form" id="form" class="form-validation ng-pristine ng-invalid ng-invalid-required"  ng-submit="submitclub(data,files)">
  <div class="panel-heading">
    <b>Edit Club</b>
  </div>
  <div class="panel-heading">
  <div class="panel wrapper">
  <div class="row">
    <div class="col-md-12 b-r b-light no-border-xs">
      <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">
      <span ng-bind="alert.msg" id="up"></span> </alert>
      <alert ng-repeat="imgAlerts in imgAlerts" type="{[{imgAlerts.type }]}" close="closeAlerts($index)"><span ng-bind="imgAlerts.msg"></span></alert>
    <label class="label_profile_pic btn btn-default" id="change-picture" ngf-change="prepare(files)" ngf-select ng-model="files" ngf-multiple="false" accept="image/*" ng-disabled="loadingg == true">Change Image</label>
    <img ngf-src="projImg[0]" style=" display: block;width: 100%; height: 300px; object-fit: cover;" ng-if="imageselected == true">
    <div ng-if="imageselected == false" style="background: url({[{amzon}]}/uploads/club/{[{data.image}]}) 0px 0px;width: 100%;height: 300px;background-size: cover; background-position:center center; position: relative; padding-top:50px;" class="file-control">
    </div>
      <div class="m-b-xs">
        <span class="text-muted m-l-sm pull-right">
          <h1 class="m-n font-thin h3">{[{data.datecreated | date:'mediumDate'}]}</h1> 
          <br>
        </span>

      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="col-sm-12">
          <div class="col-sm-12"> 
             <div class="text-muted">Name of Club:</div>
            <input id="name" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.name" name="clubname" ng-disabled="loadingg == true" required="" />
             </div>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-12"> 
             <div class="text-muted">Slugs:</div>
            <input id="slugs" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.slugs" ng-keyup="onslugs(data.slugs);"  ng-change="uniqueslugs(data.slugs)" name="clubslugs" ng-disabled="loadingg == true" required="" />
            <label ng-show="validslugs==true" class="control-label p" style="color:#a94442;" ng-cloak>
                    Slugs Already exist.</label>
          </div>
        </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="col-sm-12">
          <div class="col-sm-12"> 
             <div class="text-muted">Club Description:</div>
             <textarea id="description" class="form-control textarea ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.description" name="description" ng-disabled="loadingg == true" style="height: 100px;" required=""></textarea>
            <!--  <p class="break">{[{data.description}]}</p> -->
             </div>
          </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Address 1:</div>
            <!-- <p class="break">{[{data.address1}]}</p> -->
            <input id="address1" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.address1" name="address1" ng-disabled="loadingg == true" />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Address 2:</div>
          <input id="address2" type="text" class="form-control ng-pristine ng-invalid ng-valid-pattern" ng-model="data.address2" name="adress2" ng-disabled="loadingg == true">
         <!--  <p class="break">{[{data.address2}]}</p> -->
        </div>
      </div>
    </div>
  <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Country:</div>
            <!-- <p class="break">{[{data.country}]}</p> -->
            <select id="country" class="location form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.country" name="country" ng-disabled="loadingg == true">
                  <option ng-repeat="cn in countries" value="{[{cn.name}]}, {[{cn.code}]}">
                  {[{cn.name}]}, {[{cn.code}]} </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">State:</div>
          <input id="state" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.state" name="state" ng-disabled="loadingg == true" required="" />
          <!-- <p class="break">{[{data.state}]}</p> -->
        </div>
      </div>
    </div>

      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">City:</div>
            <!-- <p class="break">{[{data.city}]}</p> -->
            <input id="city" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.city" name="city" ng-disabled="loadingg == true" required="" />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Zip/Postal:</div>
          <!-- <p class="break">{[{data.postal}]}</p> -->
          <input id="postal" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.postal" name="zip" ng-disabled="loadingg == true" required="" />
        </div>
      </div>
    </div>

    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-12">
    <div class="sl-item">
          <div class="m-l">
      <div class="text-muted">Club Characteristics</div>
      </div>
      </div>
      <br>
    </div>
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Member Age:</div>
            <!-- <p class="break">{[{data.age}]}</p> -->
            <div class="row">
            <div class="col-sm-3">
              <input id="low" type="text" class="form-control numberonly ng-pristine ng-invalid ng-valid-pattern" ng-model="data.low" name="low"  only-digits maxlength="4" ng-disabled="loadingg == true" placeholder="Low">
            </div>
            <div class="col-sm-1 text-center"> - </div>
            <div class="col-sm-3">
             <input id="high" type="text" class="form-control numberonly ng-pristine ng-invalid ng-valid-pattern" ng-model="data.high" name="high"  only-digits maxlength="4" ng-disabled="loadingg == true"  placeholder="High">
           </div>
           <label ng-show="edge" class="control-label p" style="color:#a94442;" ng-cloak>
                    Invalid Age Range.</label>
           </div>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Common Interest:</div>
        <!--   <p class="break">{[{data.interests}]}</p> -->
         <textarea id="interests" class="form-control textarea ng-pristine ng-invalid ng-valid-pattern" name="interests" ng-model="data.interests" ng-disabled="loadingg == true"
          placeholder="Less than 500 words" style="height:100px"></textarea>
        </div>
      </div>
      </div>

    <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Meeting Plan:</div>
          <!-- <p class="break">{[{data.meeting}]}</p> -->
           <textarea id="meeting" name="meeting" class="form-control textarea ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.meeting" ng-disabled="loadingg == true" placeholder="Example: When are you going to start? How often are you going to meee? Where?"
           style="height:100px" required=""></textarea>
        </div>
      </div>
    </div>
     <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Website Address:</div>
            <!-- <p class="break">{[{data.website}]}</p> -->
             <input id="website" type="text" placeholder="http://" class="form-control ng-pristine ng-invalid ng-valid-pattern" ng-model="data.website" name="website" ng-pattern="/^http(s)?:\/\/(www\.)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{2,5})?(\/.*)?$/" ng-disabled="loadingg == true">
          </div>
        </div>
      </div>

    <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Facebook Page:</div>
          <!-- <p class="break">{[{data.facebook}]}</p> -->
           <input id="facebook" type="text" class="form-control ng-pristine ng-invalid ng-valid-pattern" ng-model="data.facebook" name="facebook" ng-pattern="/^http(s)?:\/\/(www\.)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{2,5})?(\/.*)?$/" ng-disabled="loadingg == true" />
        </div>
      </div>
    </div>
     <div class="col-sm-6">
      <div class="sl-item">
        <div class="m-l">
      <div class="text-muted">Contact Email Address:</div>
      <!--  <p class="break">{[{data.emailadd}]}</p> -->
      <input id="emailadd" type="email" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.emailadd" name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-disabled="loadingg == true" required="">
     </div>
     </div>
   </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Contact Person:</div>
            <!-- <p class="break">{[{data.contactperson}]}</p> -->
             <input id="contactperson" type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="data.contactperson" name="contactperson" ng-disabled="loadingg == true" required="" />
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Contact Phone Number:</div>
          <!-- <p class="break">{[{data.contactnumber}]}</p> -->
          <input id="contactnumber" type="tel" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern input-phone" ng-model="data.contactnumber" placeholder="(XXX) XXXX XXX" phone ng-pattern="/^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/" only-digits name="contactnumber" ng-disabled="loadingg == true" />
        </div>
      </div>
    </div>
   
   <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-6 pull-right">
      <div class="col-sm-12" style="text-align:right"> 
      <div class="text-muted">Created By:</div>
       <p><span ng-bind="data.firstname"></span> <span ng-bind="data.lastname"></span></p>
     </div>
   </div>


  
    </div>
  </div>
</div>

</div>
 
  <footer class="panel-footer">
 <div class="loader" ng-show="loadingg">
  <div class="loadercontainer">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span ng-bind="loadingMsg"></span>
  </div>
</div>
    <div class="pull-right">
      <a class="btn btn-default" ng-click="cancel()">Close</a>
       <button type="submit" class="btn btn-success">Save</button>
    </div>
    <div style="clear:both;"></div>
  </footer>
  </form>
</div>