<div class="progress-sm m-t-sm progress ng-isolate-scope" max="max" value="dynamic" type="info">
  <div class="progress-bar progress-bar-info" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="200" ng-style="{width: percent + '%'}" aria-valuetext="14%" ng-transclude="" style="width: 13.5%;"><span style="white-space:nowrap;" class="ng-binding ng-scope">27 / 200</span></div>
</div>