<div class="bg-light lter b-b wrapper-md ng-scope">
	Review
</div>
<div class="panel wrapper">
	<div class="row">
		<div class="col-md-12 b-r b-light no-border-xs">
			<div class="m-b-xs">
				<span class="text-muted m-l-sm pull-right">
					<h1 class="m-n font-thin h3">{[{review.datesent}]}</h1>	
				</span>
				<h1 >{[{review.name}]}</h1>	
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Email</div>
					<p>{[{review.email}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Phone Number:</div>
					<p>{[{review.phone}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Gender:</div>
					<p>{[{review.gender}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Date of Birth:</div>
					<p>{[{review.bday}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">When did you take the HEROES leadership training?</div>
					<p>{[{review.leadtrain}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">Your skills or expertise</div>
					<p>{[{review.skill}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">How many hours can you service for a week?</div>
					<p>{[{review.service}]}</p>
				</div>
			</div>
			<div class="line line-dashed b-b line-lg pull-in"></div>
			<div class="sl-item">
				<div class="m-l">
				<div class="text-muted">•For how many weeks can you be committed?</div>
					<p>{[{review.commit}]}</p>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="modal-footer" ng-hide="process==true">                  
	<button class="btn btn-default" ng-click="cancel()">Close</button>
	<!-- <a ng-click="ok(pageid)"><span class="btn btn-primary" >Yes</span></a> -->
</div>