

<!--===MAINTENANCE ON===-->
<form class="form-validation ng-pristine ng-invalid ng-invalid-required" name="formsubmit" ng-submit="save(save)">
	<div class="wrapper-md"> 
		<div class="panel panel-default">
			<div class="panel-heading"  >
				<span>Are you sure you want to turn on maintenance mode?</span>
			</div>
		</div>
		</div>	
		<div class="modal-footer">                  
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" type="submit" id="save" name="save">Save</button>
	</div>
	
</form>