
<link rel="stylesheet" href="/css/template_css/temp_index.css">    
<link rel="stylesheet" href="/css/template_css/projects-style.css">  
<div class="container-fluid">
	<div class="form-group">
		<footer class="panel-footer text-right bg-light lter">
      <button type="button" class="btn btn-info btn-addon" ng-click="contact()"><i class="glyphicon glyphicon-earphone"></i>Contact Information</button>
			<button type="button" class="btn btn-default"  ng-click="cancel()">Close</button>
		</footer>
	</div>

		<div class="">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <h4 ng-bind="data.title"></h4>
      </div>
       
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Name:</div>
            <p class="break">{[{data.name}]}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Phone:</div>
            <p class="break">{[{data.phone}]}</p>
          </div>
        </div>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Email:</div>
            <p class="break">{[{data.email}]}</p>
          </div>
        </div>
      </div> 
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Website:</div>
            <p class="break">{[{data.web}]}</p>
          </div>
        </div>
      </div> 
      <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Facebook Page:</div>
            <p class="break">{[{data.fb}]}</p>
          </div>
        </div>
      </div> 
    </div>
      



	</div>
