

<!--===Email Confirmation===-->
<form class="form-validation ng-pristine ng-invalid ng-invalid-required" name="form">
	<div class="wrapper-md"> 
		<div class="panel panel-default">
			<div class="panel-heading" ng-show="reseting== false">			
				<span>Are you sure you wan't to reset the member's password?</span>	<br/><br/>		
				<em>Note: This function will sent a generated Password to the member's email address.</em><br/><br/>
			</div>
			<div class="panel-heading" ng-show="reseting== true">			
				<span ng-show="gen== true">Generating new password...</span>
				<span ng-show="sending== true">Sending...</span>				
				<alert ng-show="sent==true" type="success">Generated password has been sent.</alert>    
			</div>
		</div>
	</div>	
	<div class="modal-footer" ng-show="reseting== false">                  
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="reset()">Reset</button>
	</div>	
	<div class="modal-footer" ng-show="sent==true">                  
		<button class="btn btn-default" ng-click="cancel()">Close</button>
	</div>
	
</form>