

<!--===Email Confirmation===-->
<form class="form-validation ng-pristine ng-invalid ng-invalid-required" name="form">
	<div class="wrapper-md"> 
		<div class="panel panel-default">
			<div class="panel-heading" >
			<h1  style="color:#428bca;">Success</h1>
				<span>The confirmation email has been sent.</span><br/><br/>
			</div>
		</div>
		</div>	
		<div class="modal-footer">                  
		<button class="btn m-b-xs w-xs btn-info" ng-click="cancel()">ok</button>
	</div>
	
</form>