<div class="panel panel-default">
  <div class="panel-heading"  >
    <b>Club Information</b>
  </div>
  <div class="panel-heading">
  <div class="form-group">
    <footer class="panel-footer text-right bg-light lter">
      <button type="button" class="btn btn-success" ng-click="resolution(data.id,'Approved')" ng-if="data.status == 'Submitted'">Approve</button>
      <button type="button" class="btn btn-danger"  ng-click="resolution(data.id,'Disapproved')" ng-if="data.status == 'Submitted'">Disapprove</button>
      <label class="tl-content panel bg-success padder" ng-if="data.status == 'Approved'">Approved</label>
      <label class="tl-content panel bg-danger padder" ng-if="data.status == 'Disapproved'">Disapproved</label>
    </footer>
  </div>
  <div class="panel wrapper">
  <div class="row">
    <div class="col-md-12 b-r b-light no-border-xs">
    <div style="background: url({[{amzon}]}/uploads/club/{[{data.image}]}) 0px 0px;width: 100%;height: 300px;background-size: cover; background-position:center center; position: relative; padding-top:50px;" class="file-control">
    </div>
      <div class="m-b-xs">
        <span class="text-muted m-l-sm pull-right">
          <h1 class="m-n font-thin h3">{[{data.datecreated | date:'mediumDate'}]}</h1> 
          <br>
        </span>
        <h1 style="word-break: break-word;color:#58666e;">{[{data.name}]}</h1>  
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="col-sm-12">
          <div class="col-sm-12"> 
             <div class="text-muted">Club Description:</div>
             <p class="break">{[{data.description}]}</p>
             </div>
          </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Address 1:</div>
            <p class="break">{[{data.address1}]}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Address 2:</div>
          <p class="break">{[{data.address2}]}</p>
        </div>
      </div>
    </div>
  <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Country:</div>
            <p class="break">{[{data.country}]}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">State:</div>
          <p class="break">{[{data.state}]}</p>
        </div>
      </div>
    </div>

      <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">City:</div>
            <p class="break">{[{data.city}]}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Zip/Postal:</div>
          <p class="break">{[{data.postal}]}</p>
        </div>
      </div>
    </div>

    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-12">
    <div class="sl-item">
          <div class="m-l">
      <div class="text-muted">Club Characteristics</div>
      </div>
      </div>
      <br>
    </div>
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Member Age:</div>
            <p class="break">{[{data.age}]}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Common Interest:</div>
          <p class="break">{[{data.interests}]}</p>
        </div>
      </div>
      </div>

    <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Meeting Plan:</div>
          <p class="break">{[{data.meeting}]}</p>
        </div>
      </div>
    </div>
     <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Website Address:</div>
            <p class="break">{[{data.website}]}</p>
          </div>
        </div>
      </div>

    <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Facebook Page:</div>
          <p class="break">{[{data.facebook}]}</p>
        </div>
      </div>
    </div>
     <div class="col-sm-6">
      <div class="sl-item">
        <div class="m-l">
      <div class="text-muted">Contact Email Address:</div>
       <p class="break">{[{data.emailadd}]}</p>
     </div>
     </div>
   </div>
    <div class="line line-dashed b-b line-lg pull-in"></div>
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Contact Person:</div>
            <p class="break">{[{data.contactperson}]}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
       <div class="sl-item">
        <div class="m-l">
          <div class="text-muted">Contact Phone Number:</div>
          <p class="break">{[{data.contactnumber}]}</p>
        </div>
      </div>
    </div>
   
   <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="col-sm-6 pull-right">
      <div class="col-sm-12" style="text-align:right"> 
      <div class="text-muted">Created By:</div>
       <p><span ng-bind="data.firstname"></span> <span ng-bind="data.lastname"></span></p>
     </div>
   </div>


  
    </div>
  </div>
</div>

</div>
 
  <footer class="panel-footer">
    <div class="pull-right">
      <a class="btn btn-default" ng-click="cancel()">Close</a>
    </div>
    <div style="clear:both;"></div>
  </footer>
</div>