
<link rel="stylesheet" href="/css/template_css/temp_index.css">    
<link rel="stylesheet" href="/css/template_css/projects-style.css">  
<div class="container-fluid">
	<div class="form-group">
		<footer class="panel-footer text-right bg-light lter">
      <button type="button" class="btn btn-info btn-addon" ng-click="contact()"><i class="glyphicon glyphicon-earphone"></i>Contact Information</button>
      <button type="button" class="btn btn-primary" ng-click="setfeatured(data.id)" ng-if="data.status == 'Approved' && data.featured != 'true'">Set as Featured</button>
			<button type="button" class="btn btn-success" ng-click="resolution(data.id,'Approved')" ng-if="data.status == 'Submitted' || data.status == 'Resubmitted'">Approve</button>
			<button type="button" class="btn btn-danger"  ng-click="resolution(data.id,'Disapproved')" ng-if="data.status == 'Submitted' || data.status == 'Resubmitted'">Disapprove</button>
      <label class="tl-content panel bg-success padder" ng-if="data.featured == 'true'">Featured</label>
			<label class="tl-content panel bg-success padder" ng-if="data.status == 'Approved'">Approved</label>
      <label class="tl-content panel bg-info padder" ng-if="data.status == 'Resubmitted'">Resubmitted</label>
			<label class="tl-content panel bg-info padder" ng-if="data.status == 'Published'">Published</label>
			<label class="tl-content panel bg-danger padder" ng-if="data.status == 'Disapproved'">Disapproved</label>
			<button type="button" class="btn btn-default"  ng-click="cancel()">Close</button>
		</footer>
	</div>

	<div class="eco-container wrapper-proj">

		
		<div class="row">
      <div class="col-sm-12">
        <h4 ng-bind="data.title"></h4>
      </div>
      <div class="col-sm-12">
        <span ng-bind="data.shortdesc">
        </span>
      </div>
      <div class="col-sm-12"><br>
        <div class="col-sm-8">
          by <span ng-bind="data.firstname">
        </span> <span ng-bind="data.lastname"></span>
        </div>
        <div class="col-sm-4 likesviews">
          <i class="fa fa-heart text-danger"></i>
          <span ng-bind="countlikes"></span> Likes | <i class="icon-eye"></i> <span>Views</span> <span ng-bind="views"></span>
        </div>
      </div>

      <div ng-if="data.status == 'Disapproved'" class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-6" ng-if="data.status == 'Disapproved'">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Reason of disapproval:</div>
            <p class="break">{[{data.disapprovemsg}]}</p>
          </div>
        </div>
      </div>

      <div class="line line-dashed b-b line-lg"></div>
      <!-- <div ng-bind-html="preview"></div> -->
      
      <div class="vidoe-width">
        <div ng-bind-html="preview" ng-if="data.videotype == 'embed'"></div>
        <div ng-show="data.videotype == 'upload'">
          <div id="myElement">Loading the player...</div>
        </div>
      </div>
      </div>
      <div class="line line-dashed b-b line-lg"></div>
      <div class="col-sm-12">
        <div class="sl-item">
          <div class="m-l">
            <span ng-bind-html="datadescription" class="break">
            </span>
          </div>
        </div>
      </div><br>
      
     <!--  
     <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Name:</div>
            <p class="break">{[{data.name}]}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Phone:</div>
            <p class="break">{[{data.phone}]}</p>
          </div>
        </div>
      </div>
      <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Email:</div>
            <p class="break">{[{data.email}]}</p>
          </div>
        </div>
      </div> 
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Website:</div>
            <p class="break">{[{data.web}]}</p>
          </div>
        </div>
      </div> 
      <div class="line line-dashed b-b line-lg pull-in"></div>    
      <div class="col-sm-6">
        <div class="sl-item">
          <div class="m-l">
            <div class="text-muted">Facebook Page:</div>
            <p class="break">{[{data.fb}]}</p>
          </div>
        </div>
      </div>  -->



	</div>




</div>