<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Sent Newsletter List</h1>
  <a id="top"></a>
</div>
<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      Newsletter List
    </div>
    <div class="row wrapper">
      <div class="col-sm-5 m-b-xs">
       <div class="input-group">
       
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <!-- <th style="width:20px;"><label class="i-checks m-b-none"><input type="checkbox"><i></i></label></th> -->
          <th style="width:25%">News Letter Title</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="subs in data.sentdata">
          <!-- <td><label class="i-checks m-b-none"><input name="post[]" type="checkbox"><i></i></label></td> -->
          <td>{[{ subs.newslettertitle }]}</td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <footer class="panel-footer">
    <ul class="pagination">
      <li id="DataTables_Table_0_previous" tabindex="0" aria-controls="DataTables_Table_0" ng-class="{ 'disabled' : data.index == 1  }" class="paginate_button previous"><a class="fa fa-chevron-left" href="" ng-click="paging(data.before)"></a></li>
      <li ng-repeat="page in data.pages" ng-class="{ 'active' : data.index == page.num  }" class="paginate_button">
        <a ng-click="paging(page.num)"> {[{ page.num }]}</a>
      </li>
      <li id="DataTables_Table_0_next" tabindex="0" aria-controls="DataTables_Table_0" ng-class="{ 'disabled' : data.index == data.last  }" class="paginate_button next"><a href="" class="fa fa-chevron-right" ng-click="paging(data.next)"> </a></li>
    </ul>   

  </div>
</div>
</footer>
</div>
</div>