<form class="bs-example form-horizontal" name="form" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Are you sure you want to edit page?</h3>
    </div>
    <div class="modal-footer" ng-hide="process==true">                  
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <a ng-click="ok(pageid)"><span class="btn btn-primary" >Yes</span></a>
    </div>
</form>