<a href="" id="uptop"></a>
<div class="panel panel-info fr-panel">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-8">
        My Profile
      </div>
      <div class="col-sm-4 text-right">
        <a class="" href="" ng-click="editmyprofile()"><i class="fa fa-cog"></i></a>
      </div>
    </div>  
  </div>
  <div style="background:url(img/c4.jpg) center center; background-size:cover" ng-hide="profileEdit">
    <div class="wrapper-lg bg-white-opacity">
      <div class="row m-t">
        <div class="col-sm-12">
          <a href="" class="thumb-lg pull-left m-r">            
            <img src="{[{amazonlink}]}/uploads/memberphotos/{[{myProfile.photo}]}" ng-if="myProfile.photo != null" class="img-circle">
            <img src="img/a0.jpg" ng-if="myProfile.photo == null" class="img-circle">
          </a>
          <div class="clear m-b">
            <div class="m-b m-t-sm">
              <span class="h3 text-black capitalize">
                <span ng-bind="myProfile.firstname"></span> <span ng-bind="myProfile.lastname"></span>
              </span>
              <small class="m-l">
                <span ng-bind="myProfile.location"></span>
              </small>
            </div>

            <div class="m-b-xs">
              <a href="" class="h4">About me</a>
            </div>
            <div class="m-b">
              <span ng-bind="myProfile.aboutme"></span>              
            </div>
          </div>
          <div class="col-sm-5">
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div ng-show="isProcessing">
    <div id="overlay2">
    </div>
  </div>
  <div ng-show="profileEdit">
    <div class="row"> 
      <div class="col-sm-12">        
        <div class="panel-body">
          <alert ng-repeat="alert in alerts" type="{[{alert.type }]}" close="closeAlert($index)">{[{ alert.msg }]}</alert>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel-body">          
          <div class="create-proj-thumb hop">
            <img src="{[{amazonlink}]}/uploads/memberphotos/{[{myProfile.photo}]}" ng-if="imageselected == false && myProfile.photo != null">
            <img src="img/a0.jpg" ng-if="myProfile.photo == null && imageselected == false">
            <img ngf-src="profilepic[0]" ng-if="imageselected == true">
          </div>
          <div class="propic create-proj-thumb" ng-hide="proj.projStatus == '1' || proj.projStatus == '2'">
            <div class="label_profile_pic border-dash browse-img-wrap" id="change-picture" ngf-change="prepare(files)" ngf-select ng-model="files" ngf-multiple="false" required="required">
              <a href="">Click here to choose an image from your computer</a><br>
              <label>JPG, PNG, GIF or BMP | Maximum size of 2MB</label>
            </div>
          </div>
        </div> 
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">Username</label>   
              <span ng-repeat="alertA in alertA" class="{[{alertA.Aclass}]}" ng-bind="alertA.msg"></span>
              <input type="hidden" name="userid" class="form-control" ng-model="myProfile.userid">             
              <input type="text" name="username" class="form-control" ng-model="myProfile.username" ng-change="chkUsername(myProfile,curUname)" only-alphabets>
              <em class="text-muted">(only allows (a-z,A-Z,0-9)</em>            
            <div class="line line-dashed b-b line-lg"></div>           
          </div>
          <div class="form-group">
            <label class="control-label">
              <span>Email Address</span>   
              <span ng-repeat="alertB in alertB" class="{[{alertB.Aclass}]}" ng-bind="alertB.msg"></span> 
            </label>
            <input type="text" name="email" class="form-control" ng-model="myProfile.email" ng-change="chkEmail(myProfile,curEmail)">
            <div class="line line-dashed b-b line-lg"></div>      
          </div>
          <div class="form-group">
            <label class="control-label">
              <a href="" ng-click="changePass(myProfile.userid)">Change password?</a>
            </label>
            <div class="line line-dashed b-b line-lg"></div>      
          </div>
        </div> 
      </div>
      <div class="col-sm-8">
        <div class="panel-body">
          <div class="form-group">
            <label class="control-label">First Name</label>            
              <input type="text" name="firstname" class="form-control" ng-model="myProfile.firstname">            
            <div class="line line-dashed b-b line-lg"></div>
          </div>
          <div class="form-group">
            <label class="control-label">Last Name</label>            
              <input type="text" name="lastname" class="form-control" ng-model="myProfile.lastname">            
            <div class="line line-dashed b-b line-lg"></div>
          </div> 
          <div class="form-group">
            <label class="control-label">Birthday</label>
            <div class="row">
              <div class="col-sm-4">
                Month
                <select ng-model="myProfile.bmonth" class="form-control m-b">
                  <option value="{[{ month.val }]}" ng-repeat="month in month"> {[{ month.name }]} </option>
                </select>
              </div>
              <div class="col-sm-4">
                Day
                <select ng-model="myProfile.bday" class="form-control m-b">
                  <option value="{[{ day.val }]}" ng-repeat="day in day"> {[{ day.val }]} </option>
                </select>
              </div>
              <div class="col-sm-4">
                Year
                <select ng-model="myProfile.byear" class="form-control m-b">                       
                  <option value="{[{ year.val }]}" ng-repeat="year in year"> {[{ year.val }]} </option>
                </select> 
              </div>
            </div>         
            <div class="line line-dashed b-b line-lg"></div>
          </div>
          <div class="form-group">
            <label class="control-label">Gender</label>
              <div class="radio">
                <label class="i-checks" style="padding-right:15px"><input type="radio" value="male" ng-model="myProfile.gender"><i></i>  Male</label> 
                <label class="i-checks" style="padding-right:15px"><input type="radio" value="female" ng-model="myProfile.gender"><i></i> Female</label>
              </div>        
            <div class="line line-dashed b-b line-lg"></div>
          </div> 
          <div class="form-group">
            <label class="control-label">Location</label>            
              <select class="location form-control" ng-model="myProfile.location">
                  <option ng-repeat="cn in countries" value="{[{cn.name}]}, {[{cn.code}]}">{[{cn.name}]}, {[{cn.code}]}</option>
              </select>            
            <div class="line line-dashed b-b line-lg"></div>
          </div> 
          <div class="form-group">
            <label class="control-label">Zip Code</label>            
              <input type="text" name="zipcode" class="form-control" ng-model="myProfile.zipcode" only-digits>           
            <div class="line line-dashed b-b line-lg"></div>
          </div>
          <div class="form-group">
            <label class="control-label">About me</label><br>            
            <em class="text-muted">Say a litle things about you.</em>
            <textarea class="form-control" style="resize:vertical;" rows="6" ng-model="myProfile.aboutme"></textarea>            
          </div>          
        </div>
      </div>   
    </div>
  </div>
  

</div>
<footer class="panel-footer text-right bg-light lter">
  <button type="button" class="btn btn-default" ng-hide="profileEdit" ng-click="close()">Close</button>
  <button type="button" class="btn btn-info" ng-show="profileEdit" ng-disabled="unavailable || invalidemail" ng-click="updateProf(myProfile,profilepic)">Update</button>
  <button type="button" class="btn btn-default" ng-show="profileEdit" ng-click="cancel()">Cancel</button>
</footer>
