
<div class="modal-header">
	<h3 class="modal-title">Vendor Information</h3>
	<a href="" ng-click="cancel()" class="close-modal-2"><i class="icon-close"></i></a>
</div>
<div class="modal-body">
	<div class="row">
		<label class="col-sm-4 control-label">
			Transaction ID
		</label>
		<label class="col-sm-8 control-label vendor-view">
			{[{data.transactionId}]}
		</label>
		<div class="line line-dashed b-b line-lg"></div>
		<label class="col-sm-4 control-label">
			Business or Organization Name
		</label>
		<label class="col-sm-8 control-label vendor-view">
			{[{data.orgname}]}
		</label>
		<div class="line line-dashed b-b line-lg"></div>
		<label class="col-sm-4 control-label">
			What will you offer at the Expo?
		</label>
		<label class="col-sm-8 control-label vendor-view">
			{[{data.expooffer}]}
		</label>
		<div class="line line-dashed b-b line-lg"></div>
		<label class="col-sm-4 control-label">
			Contact Person
		</label>
		<label class="col-sm-8 control-label vendor-view">
			{[{data.contactperson}]}
		</label>
		<div class="line line-dashed b-b line-lg"></div>
		<div class="col-sm-12">
			<div class="row">
				<label class="col-sm-6 control-label">
					Phone: <span class="vendor-view">{[{data.phone}]}</span>
				</label>
				<label class="col-sm-6 control-label">
					Email: <span class="vendor-view">{[{data.email}]}</span>
				</label>
			</div>
		</div>
		<div class="line line-dashed b-b line-lg"></div>
		<label class="col-sm-4 control-label">
			Address
		</label>
		<label class="col-sm-8 control-label vendor-view">
			{[{data.address}]}
		</label>
		<div class="line line-dashed b-b line-lg"></div>
		<label class="col-sm-4 control-label">
			Business or Organization Type
		</label>
		<label class="col-sm-8 control-label vendor-view">
			{[{data.paymentmethod}]}
		</label>
		<div class="line line-dashed b-b line-lg"></div>
		<div class="col-sm-12">
			<div class="row">
				<label class="col-sm-6 control-label">
					Number of Tables: <span class="vendor-view">{[{data.table}]}</span>
				</label>
				<label class="col-sm-6 control-label">
					Electricity : <span class="vendor-view">{[{data.electricity}]}</span>
				</label>
			</div>
		</div>
		<div class="line line-dashed b-b line-lg"></div>
		<div class="col-sm-12">
			<div class="row">
				<label class="col-sm-6 control-label">
					Total Payment: <span class="vendor-view"> ${[{amount}]}</span>
				</label>
				<label class="col-sm-6 control-label">
					Payment Type : <span class="vendor-view">{[{data.paymentmode}]}</span>
				</label>
			</div>
		</div>
		<div class="line line-dashed b-b line-lg"></div>
		<div class="col-sm-12">
			<div class="row">
				<label class="col-sm-12 control-label">
					Note:
				</label>
				<label class="col-sm-12 control-label" ng-if="data.note != NULL">
					<span class="vendor-view">"{[{data.note}]}"</span>
				</label>
				<label class="col-sm-12 control-label" ng-if="data.note == NULL">
					<span class="vendor-view">N/A</span>
				</label>
			</div>
		</div>
		<div class="line line-dashed b-b line-lg"></div>
		<div class="col-sm-12">
			<div class="row">
				<label class="col-sm-6 control-label">
					<div ng-show="data.status == 0">
						<div class="row">
							<div class="col-sm-6">
								<label class="i-checks">
									<input type="checkbox" name="markpaid" ng-model='markpaid'>
									<i></i> Mark as Paid
								</label>							
							</div>
							<div class="col-sm-6">
								<span class="input-group-btn">
								<button ng-show="markpaid" class="btn btn-sm btn-success" type="button" ng-click="ok()">Confirm</button>
								</span>
							</div>
						</div>
					</div>
					<div ng-show="data.status == 1">
						<span class="label bg-info">Paid</span>
					</div>
				</label>
				<label class="col-sm-6 control-label">
					Timestamp (UTC) : <span class="vendor-view">{[{data.datetimestamp}]}</span>
				</label>
			</div>
		</div>
		<div class="line line-dashed b-b line-lg"></div>
	</div>
</div>
