  <div class="container-fluid mybanner">
    <div id="interior" style="background: url('<?php echo $imgPath.$banner;?>') 0px 0px;width: 100%;height: 300px;background-size: cover; background-position:center center; position: relative; padding-top:50px;">
      <?php if($showtext != 'false'){?>
      <div class="banner-content-wrapper-green" style="background-color:<?php echo $tbgcolor; ?>;">
        <div class="mtitle2" style="font-size:<?php echo $titlefontsize; ?>px;color:<?php echo $tfcolor; ?>;"><span> <?php echo $bannertitle;?> </span> </div>
        <div class="mbody2" style="font-size:<?php echo $descriptionfontsize; ?>px;color:<?php echo $dfcolor; ?>;"><?php echo $bannertext;?> 
        </div>
        <?php if($btnname && $btnlink){?> 
        <div class="learnheroes">
          <a href="<?php
          if (strpos($btnlink, 'http://') !== false) {echo $btnlink;
          }elseif (strpos($btnlink, 'www.') !== false) {
             echo 'http://'.$btnlink;
          }else{echo $this->config->application->baseURL.'/'.$btnlink;} ?>" style="<?php if ($button==true) {
          echo 'padding: 12px 27px';
        } ?>" ><?php echo $btnname; ?>
        </a>
        </div> 
        <?php }?> 
        <?php if($showlink){?> 
        <div class="learnheroes"><a href="<?php echo $linkURL; ?>"><?php echo $linkName; ?></a></div> 
        <?php }?>    
        <?php if(@$mediadonate){?> 
        <div class="yellow-button-slim" style="margin-top: 35px;"><a href="/medialibrary/addvideo">Donate Your Content</a></div> 
        <?php }?>         
      </div>
      <?php }?>
      <a href=""  id="successget"></a>
    </div>
    <?php if($project == 0){?> 
    <!-- <div> -->
    <!-- <div class="orangebarko"> -->
    <!-- <a href="<?php echo $this->config->application->baseURL; ?>/donation" style="font-size:22px; color:#FFF"> -->
    <!-- <img src="/images/template_images/donate-bttn.png" class="donbut"> -->
    <!-- DONATE WHAT YOU CAN TO HELP -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- </div> -->
    <?php } ?>
  </div>