<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable = yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Earth Citizens Organization</title>


    <link rel="stylesheet" href="/css/template_css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/template_css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/template_css/main.css">

    <link rel="stylesheet" href="/css/template_css/slidercss.css"> 
    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css"></link>      

    <link rel="stylesheet" type="text/css" href="/css/template_css/initcarousel-1.css">

    <link rel="stylesheet" href="/css/template_css/index.css">
    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">


</head>

<body ng-controller="indexMainCtrl">
    <!-- EFNRE START @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <div class="container-fluid">
        <div class="eco-container">
            <div id="ecologo" ></div>
            <div class="ecositenav">
                <nav>
                    <ul class="dropdown">
                        <li class="drop">
                            <a href="#" id="selected1">
                                <div id="menu_icon_what_is_eco">                
                                    <div id="training_selected1" class="selects"><img src="/images/template_images/menu_icon_what_is_eco_selected.png" /></div>
                                    <img id="training_not_selected1" src="/images/template_images/menu_icon_what_is_eco.png"/>
                                    <div class="p"><a href="20">WHAT IS ECO</a></div>
                                </div>
                            </a>

                        </li>
                        <li class="drop">
                            <a href="#" id="selected2">
                                <div id="menu_icon_training">
                                    <div id="training_selected2" class="selects"><img src="/images/template_images/menu_icon_training_selected.png" /></div>
                                    <img id="training_not_selected2" src="/images/template_images/menu_icon_training.png"/>
                                    <div class="p"><a href="13">TRAINING</a></div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu2">
                                <li><a style="padding-top: 15px;" href="4">PURPOSE</a></li>
                                <li><a href="../../page/index/15">CIRRICULUM</a></li>
                                <li><a href="16">PROGRAM DETAIL</a></li>
                                <li><a href="17">STORIES FROM GRADUATES AND GRADUATES<br/>ACTIVITIES</a></li>
                                <li><a href="18">APPLY NOW</a></li>                          
                                <li><a href="19"  style="border-radius: 0px 0px 10px 10px;">LEARNING CENTER<br/>INITIATIVE</a></li>                          
                            </ul>
                        </li>
                        <li class="drop">
                            <a href="#" id="selected3">
                                <div id="menu_icon_peace_parks">
                                    <div id="training_selected3" class="selects"><img src="/images/template_images/menu_icon_peace_parks_selected.png" /></div>
                                    <img id="training_not_selected3" src="/images/template_images/menu_icon_peace_parks.png"/>
                                    <div class="p"><a href="21">PEACE PARKS</a></div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu3">
                                <li><a style="padding-top: 15px;" href="22">PEACE PARKS<br/>INITIATIVE</a></li>
                                <li><a href="8">SUBMIT YOUR<br/>PROPOSAL</a></li>
                                <li><a href="24" style="border-radius: 0px 0px 10px 10px;">PEACE PARKS IN<br/>KOREAN DMZ</a></li>
                            </ul>
                        </li>
                        <li class="drop">
                            <a href="#" id="selected4">
                                <div id="menu_icon_about">
                                    <div id="training_selected4" class="selects"><img src="/images/template_images/menu_icon_about_selected.png" /></div>
                                    <img id="training_not_selected4" src="/images/template_images/menu_icon_about.png"/>
                                    <div class="p"><a href="3">ABOUT</a></div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu4">
                                <li><a style="padding-top: 15px;" href="1">VISION & MISION</a></li>
                                <li><a href="11">PEOPLE OF ECO</a></li>
                                <li><a href="2">HISTORY</a></li>
                                <li><a href="12" style="border-radius: 0px 0px 10px 10px;">INTERNATIONAL<br/>COLLABORATORS</a></li>
                            </ul>
                        </li>
                        <li class="drop">
                            <a href="#" id="selected5">
                                <div id="menu_icon_support_us">
                                    <div id="training_selected5" class="selects"><img src="/images/template_images/menu_icon_support_us_selected.png" /></div>
                                    <img id="training_not_selected5" src="/images/template_images/menu_icon_support_us.png"/>
                                    <div class="p">SUPPORT US</div>
                                </div>
                            </a>
                            <ul class="sub_menu" id="sub_menu5">
                                <li><a style="padding-top: 15px;" href="#">WAYS OF GIVING</a></li>
                                <li><a href="#">PLANNED OF GIVING</a></li>
                                <li><a href="3">FIND PROJECTS</a></li>
                                <li><a href="#" style="border-radius: 0px 0px 10px 10px;">DONATE NOW</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div>
            <div class="clearfix"></div>
        </div>    
    </div>

    <div class="container-fluid">
        <div class="mobileMenu mobileMenu2">
            <nav role="navigation" class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="20" class="navbar-brand"><p>ECO</p></a>
                </div>
                <!-- Collection of nav links and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="20">WHAT IS ECO</a>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="13">TRANING<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="13">Training</a></li>
                                <li><a href="4">Purpose</a></li>
                                <li><a href="15">Curriculum</a></li>
                                <li><a href="16">Program Detail</a></li>
                                <li><a href="17">Stories from Graduates and Graduate's<br/>Activities</a></li>
                                <li><a href="18">Apply Now</a></li>
                                <li><a href="19">Learning Center Initiative</a></li>
                            </ul>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="21">PEACE PARKS<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="21">Peace Parks</a></li>
                                <li><a href="22">Peace Parks Initiative</a></li>
                                <li><a href="8">Submit Proposal</a></li>
                                <li><a href="24">Peace Parks in Korean DMZ</a></li>
                            </ul>

                        </li>
                        <li>
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="3">ABOUT<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="3">About</a></li>
                                <li><a href="1">Vision & Mission</a></li>
                                <li><a href="11">People of ECO</a></li>
                                <li><a href="2">History</a></li>
                                <li><a href="12">International Collaborators</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Support Us</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- EFNRE END @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    
    <div class="container-fluid"><div class="bluebar"></div></div>  
    

    
    <div class="container-fluid interior-headerBanner" >
        <div id="interior" class="row eco-container">
            <div class="col-md-7 header-banner">                        
                <div class="banner-title"><?php 
                    if($pageid == 4 || $pageid == 13 || $pageid == 15 || $pageid == 16 || $pageid == 17 || $pageid == 18 || $pageid == 19){
                        echo 'Training';    
                    }else if($pageid == 8 || $pageid == 22 || $pageid == 21 || $pageid == 24 || $pageid == 25){
                        echo 'Peaceparks';  
                    }else if($pageid == 1 || $pageid == 11 || $pageid == 2 || $pageid == 12){
                        echo 'About';  
                    }else if($pageid == 3){
                        echo 'Support Us';  
                    }
                    ?></div>                    
                    <div class="banner-define">
                        Il et et, earum eum voluptur mos sam, sinci officatem etur? 
                        Quia quia simincium delesequi abo. Si nitem fuga. Pellest qui 
                        cora earum net alitis arum re earum que solendignis dem dolorum, 
                        occum sim fuga.
                    </div>
                </div>
                
            </div> 
        </div>

        <div class="donate_bgcolor">
            <div style="margin: auto; width: 70%;">
                <div class="donate">
                    <a href="#"><img class="donate_icon" src="/images/template_images/donate_btn.png"/></a>
                </div>
            </div>
        </div>



        <!--===begin container===-->  
        <div class="container-fluid" >
            <div class="eco-container" >

                <?php echo $this->getContent() ?>
                
            </div>
        </div>   
        <?php  if($pageid == 8){ ?>
        <!--===SUBMIT PROPOSAL FORM===-->     
        <div class="container-fluid" >
            <div class="eco-container" >
                <form class="form-validation ng-pristine ng-invalid ng-invalid-required" ng-submit="savePage(page)" name="form" enctype="multipart/form-data">
                    <fieldset ng-disabled="isSaving">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="panel panel-default">
                                    <div class="panel-heading font-bold"> Create your Proposal</div>
                                </div>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="company">Company</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter company">
                                </div>
                                <div class="form-group">
                                    <label for="company">Your proposal body</label>
                                    <textarea class="form-control" rows="5" id="proposalbody" name="proposalbody" ></textarea>
                                </div>                                
                                <div class="form-group">
                                    <label for="exampleInputFile">Attach file..</label>
                                    <input type="file" id="exampleInputFile" accept="application/pdf,image/*,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.presentationml.presentation">
                                    <p class="help-block">Optional: attach only images, PDF, .doc, .xls and .ppt</p>
                                </div>
                                <div class="widget-foot">
                                    <footer class="panel-footer text-right bg-light lter">
                                        <button type="button" class="btn btn-default" ng-click="reset()">Cancel</button>
                                        <button type="submit"   class="btn btn-success">Submit</button>
                                    </footer>
                                </div>
                            </div>
                        </div>                        
                        <div class="row" >
                            <div class="panel-body">
                            </div>   
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <?php }?>
        <!-- Insert to your webpage where you want to display the carousel -->
        <?php  if($pageid == 4 || $pageid == 13 || $pageid == 15 || $pageid == 16 || $pageid == 17 || $pageid == 18 || $pageid == 19){ ?>
        <div class="container-fluid" >
            <div class="row" id="carousel_bg">
                <div class="carousel-eco-container">
                    <div class="col-md-2"></div>

                    <div class="col-md-8" id="amazingcarousel-container-1">
                        <div id="amazingcarousel-1" style="display:block;position:relative;width:100%;max-width:1300px;margin:0px auto 0px;">
                            <div class="amazingcarousel-list-container">
                                <ul class="amazingcarousel-list">
                                    <li class="amazingcarousel-item" style="width: 150px;">
                                        <div class="amazingcarousel-item-container">
                                            <div class="amazingcarousel-image"><a href="#"  data-group="amazingcarousel-1"><img class="photos" src="/images/template_images/mindbodyenergytraining_img.png"  alt="" /></a></div>
                                            <div class="amazingcarousel-text"><br/>
                                                <span>purpose</span>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </li>
                                    <li class="amazingcarousel-item" style="width: 150px;">
                                        <div class="amazingcarousel-item-container">
                                            <div class="amazingcarousel-image"><a href="#"><img class="photos" src="/images/template_images/mindbodyenergytraining_img.png"  alt="" /></a></div>
                                            <div class="amazingcarousel-text"><br/>
                                                <span>curriculum</span>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </li>
                                    <li class="amazingcarousel-item" style="width: 150px;">
                                        <div class="amazingcarousel-item-container">
                                            <div class="amazingcarousel-image"><a href="#"><img class="photos"  src="/images/template_images/mindbodyenergytraining_img.png"  alt="" /></a></div>
                                            <div class="amazingcarousel-text"><br/>
                                                <span>program details</span>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </li>
                                    <li class="amazingcarousel-item" style="width: 150px;">
                                        <div class="amazingcarousel-item-container">
                                            <div class="amazingcarousel-image"><a href="#"><img class="photos"  src="/images/template_images/mindbodyenergytraining_img.png"  alt="" /></a></div>
                                            <div class="amazingcarousel-text"><br/>
                                                <span>graduate activities</span>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </li>
                                    <li class="amazingcarousel-item" style="width: 150px;">
                                        <div class="amazingcarousel-item-container">
                                            <div class="amazingcarousel-image"><a href="#"><img class="photos"  src="/images/template_images/mindbodyenergytraining_img.png"  alt="" /></a></div>
                                            <div class="amazingcarousel-text"><br/>
                                                <span>storeis from graduates</span>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </li>
                                    <li class="amazingcarousel-item" style="width: 150px;">
                                        <div class="amazingcarousel-item-container">
                                            <div class="amazingcarousel-image"><a href="#" title=""><img class="photos" src="/images/template_images/mindbodyenergytraining_img.png"  alt="" /></a></div>
                                            <div class="amazingcarousel-text"><br/>
                                                <span>learning center initiative</span>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="amazingcarousel-prev"></div>
                                <div class="amazingcarousel-next"></div>
                            </div>
                            <div class="amazingcarousel-nav"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php }?>
        <!-- End of body section HTML codes -->
        <div class="container-fluid">
            <div class="eco-container">
                <div class="newsbanner">
                    <div class="signupko">
                        SIGN UP FOR NEWSLETTER
                    </div>
                    <div class="inputertxt">
                        <input type="text" value="" name="txttxt" class="form-control ng-pristine ng-invalid-required ng-valid-pattern ng-invalid txtbaks" />
                    </div>
                    <a href="#">
                        <div class="submitbttn">
                            <img src="/images/template_images/icon_submit.png" />
                        </div>
                    </a>
                </div>	
            </div>	
        </div>
        <div class="container-fluid">
            <div class="eco-container" style="padding-top: 30px; padding-bottom: 40px;">
                <div class="row">
                    <div class="col-md-5 right-linerer-div"><img src="/images/template_images/footerbarleft.gif" class="left-linerer" /></div>
                    <div class="col-md-2 social-div">
                        <a href="#"><img src="/images/template_images/fbicon.png" class="fb"/></a>
                        <a href="#"><img src="/images/template_images/twitter-ico.png" class="twitter"/></a>
                        <a href="#"><img src="/images/template_images/linked-ico.png" class="linked"/></a>
                    </div>
                    <div class="col-md-5 right-linerer-div"><img src="/images/template_images/footerbarright.gif" class="right-linerer" /></div>
                </div>
            </div>
        </div>		

        <script src="/js/template_js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script>


        <script src="/js/template_js/jquery.min.js"></script>
        <script src="/js/template_js/bootstrap.min.js"></script>
        <!-- dropdown -->
        <script src="/js/template_js/jquery.js"></script>
        
        <!-- end dropdown -->
        <!-- carousel -->
        <script src="/js/template_js/amazingcarousel.js"></script>
        <script src="/js/template_js/initcarousel-1.js"></script>
        <!-- end carousel -->
        <script>window.jQuery || document.write('<script src="js/jquery-1.11.1.min.js"><\/script>')</script>

        <script src="/js/template_js/vendor/bootstrap.min.js"></script>

        <script src="/js/template_js/main.js"></script>



        <script src="/js/ckeditor/ckeditor.js"></script>
        <script src="/js/ckeditor/styles.js"></script>

    <?php echo $script_google; ?>
    
    </body>
    </html>
