<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head >
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable = yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <meta charset="utf-8"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- <title>Earth Citizens Organization</title> -->
  <title><?php  if($metatitle != ""){echo $metatitle.' | ';}?>Earth Citizens Organization</title>
  <meta name="title" content="<?php echo $metatitle; ?>">
  <meta name="description" content="<?php echo $metadesc; ?>">
  <meta name="keywords" content="<?php echo $metakeyword; ?>">
  <meta name="author" content="<?php echo $name; ?>">
  <meta name="category" content="<?php echo $metacat; ?>">
  <meta name="tag" content="<?php echo $metatag; ?>">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <script src="/jwplayer-7.2.4/jwplayer.js"></script>
  <script src="https://content.jwplatform.com/libraries/2vfWHgLx.js"></script>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="assets/ico/favicon.png">

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','//connect.facebook.net/en_US/fbevents.js');

      fbq('init', '435335386663292');
      fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=435335386663292&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <link rel="stylesheet" href="/css/template_css/main.css">
    
    <!-- bxSlider CSS file -->
    <!-- <link href="/vendors/bxslider-4-master/dist/jquery.bxslider.css" rel="stylesheet" /> -->

    <!--==========================================FONT AWOSOME=============================================-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/noification-animate.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/simple-line-icons.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="/css/soc-icons.css"/>
    <link rel="stylesheet" href="http://css-spinners.com/css/spinner/three-quarters.css" type="text/css">

    <link rel="shortcut icon" type="image/ico" href="/images/template_images/favicon.png" />    
    <link rel="stylesheet" src="/js/angular/angular-loading-master/angular-loading.css"></link>

    <link rel="stylesheet" type="text/css" media="screen, print, projection"  href="/css/template_css/dropdown_css.css">

    <link rel="stylesheet" href="/css/template_css/responsivemobilemenu.css">
    
    <link href='https://fonts.googleapis.com/css?family=Dosis|Noto+Sans|Arvo|PT+Sans|PT+Sans+Narrow|Roboto|Raleway|Montserrat|Roboto+Slab|Titillium+Web|Vollkorn' rel='stylesheet' type='text/css'>

    <!-- Add fancyBox main JS and CSS files -->
    <link rel="stylesheet" type="text/css" href="/css/template_css/jquery.fancybox.css" media="screen" />    

    <!-- Custom CSS -->
    <link href="/startbootstrap-full-slider-1.0.2/css/full-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app-fr.css">

    <link rel="stylesheet" href="/js/angular/angular-ui-select/dist/select.css">  
    <link rel="stylesheet" href="/js/select2/dist/css/select2.min.css">  
    <link rel="stylesheet" href="/js/jquery/chosen/chosen.css">  
    <link rel="stylesheet" href="/js/jquery/chosen/chosen-spinner.css">  
    <link rel="stylesheet" href="/js/angular/chosen/chosen.css">  
    <link rel="stylesheet" href="/css/isteven-multi-select.css">  

    <link rel="stylesheet" type="text/css" href="/SlidePushMenus/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/SlidePushMenus/css/component.css" />  
    <link rel="stylesheet" href="/cssmenu/cssmenu-styles.css">
    <link rel="stylesheet" href="/css/template_css/temp_index.css"> 
    <link rel="stylesheet" href="/css/template_css/projects-style.css">    
    <link rel="stylesheet" href="/css/template_css/custom-style.css">  
    <link rel="stylesheet" href="/css/template_css/padding-style.css">  
    <link rel="stylesheet" href="/css/template_css/container-style.css">  
    <link rel="stylesheet" href="/css/template_css/responsive-style.css">  

    <style type="text/css">
      .menu-false{
        display: none;
      }
      .menu-true{
        display: block;
      }
    </style>
    
    <script language="javascript">
      function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
          return false;
        return true;
      }
      function noSpace(evt){
        $('#username').keyup(function(){
          str = $(this).val()
          str = str.replace(/\s/g,'')
          $(this).val(str)
        });        
      }
    </script>

</head>

<body ng-controller="indexMainCtrl" class="cbp-spmenu-push">

  <!--=====Header=====-->
  <?php include ('header.html'); ?>
  <!--=====Header=====-->


  <?php if($donation == 1){
  echo $this->getContent(); }
  else if($donation == 3){
    echo $this->getContent();
  }

  else{ ?>
  <?php if($news == 1){
    $imgPath = $this->config->application->amazonlink."/uploads/newsimages/";
  }else if($news == 2){
    $imgPath = $this->config->application->amazonlink."/uploads/pageimages/";
  }else if($news == 3){
    $imgPath = $this->config->application->amazonlink."/uploads/projImages/";
  }else if($news == 4){
    $imgPath = $this->config->application->amazonlink."/uploads/medialibraryImages/";
  }else{
    $imgPath = $this->config->application->amazonlink."/uploads/pageimages/";
  }?>


<!-- BANNER -->
<?php
if($banneropt)
{
 if ($banneropt == null || $banneropt == undefined 
  || $banneropt == false || $banneropt == 'false') {
 }
 else{
   include ('banner.html');
  } 
}
 else{
    if($banner)
    {
      include ('banner.html');
    }
 }
?>
<!-- BANNER -->

<!-- BANNER CLUB-->
<?php
  if ($displayclub == true) {
?>
<div class="container-fluid mybanner">
  <div id="interior" style="background: url('<?php echo $this->config->application->amazonlink; ?>/uploads/club/<?php echo $image;?>') 0px 0px;width: 100%;height: 510px;background-size: cover; background-position:center center; position: relative; padding-top:50px;">
    <div class="club-wrapper" style="background: url('https://earthcitizens.s3.amazonaws.com/uploads/pageimages/background-join.jpg')">
    <div class="eco-container nopad">
    <div class="mclub2"><span> EARTH CITIZENS CLUB </span> </div>
    </div>
   
    </div>
  </div>
</div>
<?php
  }
?>
<!-- BANNER CLUB-->


  <!--===begin container===-->

  <div class="container-fluid" id="eco-content"> 
    <div class="eco-container">
      <div id="errorget"></div>
      <div id="successget"></div>
      <?php echo $this->getContent() ?> 
    </div> 
  </div> 

  <?php } ?> 


  <!-- footer -->
  <div class="container-fluid">
    <div  class="footer-bg">
      <div class="eco-container">
        <div class="row">
          <div class="col-md-3" style="color: #ffffff !important; float: left;" id="footer-mission-statement">
            <span>MISSION STATEMENT<br/><br/></span>
            <div style="">
              <span style="font-size: 12px;">
                Earth Citizens Organization (ECO) is a non-profit that promotes natural health and mindful living for a sustainable world. An Earth Citizen is a person who understands that we are all citizens of the Earth and takes responsibility for its well-being.<br/><br/>
              </span>
            </div>

          </div>
          <div class="col-md-3" style="color: #ffffff !important; float: left;" id="footer-navigation">
            <span>NAVIGATION<br/><br/></span>
            <div style="width:100%;">
              <span style="font-size: 12px;">
                <nav  class="nav" style="padding-top: 0px;">
                  <span ng-repeat="webmenu in webmenu">
                    <a style="color:#ffffff;" ng-show="webmenu.newtab == 'true'" href='{[{webmenu.sublink}]}' target="_blank">
                      <span ng-bind="webmenu.subname"></span>
                    </a>
                    <a style="color:#ffffff;" ng-show="webmenu.newtab == 'false'" href='{[{webmenu.sublink}]}'>
                      <span ng-bind="webmenu.subname"></span>
                    </a>
                    <br/>
                  </span>
                </nav>
              </span>
            </div>
          </div>
          <div class="col-md-3" style="color: #ffffff !important; float: left;" id="addus-navigation">
            <span>ADD US<br/><br/></span>
            <div style="width:100%;">
              <span style="font-size: 12px;">
                <ul>
                  <li><a href="https://www.youtube.com/user/goearthcitizens" style="color:#ffffff;"><i class="fa fa-youtube" style="color: #ffffff;"></i>&nbsp;&nbsp;YouTube</a><br/><br/></li>
                  <li><a href="https://www.facebook.com/EarthCitizensOrganization" style="color:#ffffff;"><i class="fa fa-facebook" style="color: #ffffff;"></i>&nbsp;&nbsp;Facebook</a><br/><br/></li>
                  <li><a href="https://twitter.com/goearthcitizens" style="color:#ffffff;"><i class="fa fa-twitter" style="color: #ffffff;"></i>&nbsp;&nbsp;Twitter</a></li>
                </ul><br/><br/>
              </span>
            </div>
          </div>          
          <div class="col-md-3" style="color: #ffffff !important; float: left;" id="contactus-footer">
            <span>CONTACT US<br/><br/></span>
            <div style="width:100%;">
              <span style="font-size: 12px;">
                Earth Citizens Organization<br/>
                340 Jordan Road Sedona, AZ 86336
                <br/><br/>
                <a href="mailto:info@earthcitizens.org" style="color: #fff "><i class="fa fa-envelope-o"></i> Email: info@earthcitizens.org</a>
                <br/><br/>
              </span>
            </div>
          </div>                   
        </div>
        <div class="row" style="padding: 10px 0px 10px 0px;">
          <div style="width: 100%;  background-color: #ffffff;  height: 3px;"></div>
        </div>
        <div style="width: 100%; text-align: center;">
          <div class="row" style="padding-top: 2px;">
            <div class="col-sm-12">
              <p>
                <span style="font-size: 10px; color:#ffffff;">
                  ©2016 Earth Citizens Organization All rights reserved
                </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="font-size: 10px; color:#ffffff;" href="/terms-of-use">Terms of Use</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="font-size: 10px; color:#ffffff;" href="/privacy-policy">Privacy Policy</a> 
              </p>
            </div>                  
          </div>
        </div>        
      </div>
    </div>
  </div> 

  <!-- footer end -->

  <script>
    var API_URL = '<?php echo $this->config->application->apiURL; ?>';
    var BASE_URL = '<?php echo $this->config->application->baseURL; ?>';
  </script>

  <!-- <script type="text/javascript" src="/js/template_js/jquery-1.9.1.min.js"></script> -->
  <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>

  <!-- bxSlider Javascript file -->
  <!-- // <script type="text/javascript" src="/vendors/bxslider-4-master/dist/jquery.bxslider.js"></script> -->
  <script type="text/javascript">
    // $(document).ready(function(){
    //   $('.bxslider').bxSlider({
    //     mode: 'fade'
    //   });
    // });
  </script>

  <script src="/js/template_js/bootstrap.min.js"></script>

  
  <!-- stiky nav -->
  <script src="/js/stickytop.js"></script>
  <!-- end dropdown -->

  <script src="/js/template_js/main.js"></script>


  <script type="text/javascript" src="/js/angular/angular.min.js"></script> 
  <script type="text/javascript" src="/js/angular/angular-route.js"></script> 
  <script type="text/javascript" src="/js/angular/angular-ui-router.min.js"></script> 
  <script type="text/javascript" src="/js/angular/ui-validate.js"></script>
  <script type="text/javascript" src="/js/angular/angular-sanitize.js"></script>

  <!-- Angular -->
  <script type="text/javascript" src="/js/angular/angular-cookies.min.js"></script>
  <script type="text/javascript" src="/js/angular/angular-animate.min.js"></script>
  <script type="text/javascript" src="/js/angular/angular-translate.js"></script>
  <script type="text/javascript" src="/js/angular/ngStorage.min.js"></script>
  <script type="text/javascript" src="/js/angular/ui-load.js"></script>
  <script type="text/javascript" src="/js/angular/ui-jq.js"></script>
  <script type="text/javascript" src="/js/angular/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="/js/angular/angular-ui-select/dist/select.js"></script>

  <script type="text/javascript" src="/js/tokeninput/src/jquery.tokeninput.js"></script>
  <script type="text/javascript" src="/js/select2/dist/js/select2.min.js"></script>
  <script type="text/javascript" src="/js/angular/chosen/angular-chosen.min.js"></script>
  <script type="text/javascript" src="/js/jquery/chosen/chosen.js"></script>
  <script type="text/javascript" src="/js/jquery/chosen/chosen.jquery.js"></script>

  <script type="text/javascript" src="/js/angular/timepickerpop-master/src/timepickerpop.js"></script>
  <script type="text/javascript" src="/js/angular/angular-jwt/dist/angular-jwt.min.js"></script>
  <script type="text/javascript" src="/js/angular/a0-angular-storage/dist/angular-storage.min.js"></script>

  <!-- ng upload -->
  <script type="text/javascript" src="/js/angular/ng-file-upload/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="/js/angular/ng-file-upload/ng-file-upload-shim.js"></script>

  <!-- angular-timer -->
  <script type="text/javascript" src="/vendors/angular-timer/dist/angular-timer.js"></script>
  <script type="text/javascript" src="/vendors/humanize-duration/humanize-duration.js"></script>
  <script type="text/javascript" src="/vendors/momentjs/moment.js"></script>

  <script type="text/javascript" src="/js/fr/app.js"></script>
  <script type="text/javascript" src="/js/config/config.js"></script>
  <?php echo @$otherjvascript ?>
  <script type="text/javascript" src="/js/fr/filter.js"></script>
  <!-- <script type="text/javascript" src="/js/directives.js"></script> -->
  <script type="text/javascript" src="/js/fr/directives.js"></script>
  <script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
  <script type="text/javascript" src="/js/angular/angular-ckeditor-master/angular-ckeditor.js"></script>
  <script type="text/javascript" src="/js/fr/news.js"></script>
  <!-- Calendar Demo -->
  <script src="/fcalendar/calendar.js"></script>    

  <!-- Add fancyBox main JS and CSS files -->
  <script type="text/javascript" src="/js/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/js/responsive-tabs.js"></script>
  <script type="text/javascript">
    (function($) {
      fakewaffle.responsiveTabs(['xs']);
    })(jQuery);
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
            /*
             *  Simple image gallery. Uses default settings
             */

             $('.fancybox').fancybox();

           });


  </script>

  <!-- // <script src="/cssmenu/cssmenu-script.js"></script> -->
  <script src="/SlidePushMenus/js/modernizr.custom.js"></script>
  <script src="/SlidePushMenus/js/classie.js"></script>
  <script type="text/javascript">
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
    showLeft = document.getElementById( 'showLeft' ),
    showLeftPush = document.getElementById( 'showLeftPush' ),
    body = document.body;

    showLeft.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuLeft, 'cbp-spmenu-open' );
      disableOther( 'showLeft' );
    };
    function disableOther( button ) {
      if( button !== 'showLeft' ) {
        classie.toggle( showLeft, 'disabled' );
      }
    }
  </script>
  <!-- dropdown -->
  <script src="/js/template_js/dropdown_js.js"></script>


  <?php echo $script_google; ?>

</script>

<!-- <script src="/validationhero/assets/js/jquery-1.7.1.min.js"></script>  -->
<script src="/validationhero/assets/js/jquery.validate.js"></script> 
<script src="/validationhero/script.js"></script> 
<script>
  addEventListener('load', prettyPrint, false);
  $(document).ready(function(){
    $('pre').addClass('prettyprint linenums');
  });
</script> 

</body>
</body>
</html>
